<a href="#!" class="trpWhite"><div class="trpDetailViewClose">x</div></a>

<div class="trpFileVersionThumbnail"><a href="#|{{previewUrl}}" class="link-preview">{{ widget "avatar" user=user size='m'}}</a></div>

<div class="trpItemDetails">
  <div class="trpFilename" title="{{fileName}}">{{user.displayName}}</div>
  <div class="trpFilename" title="{{email}}">{{user.email}}</div>
</div>

<div class="trpButtonGreen trpFileButton trpButtonDropdown">
  <div class="trpMainButton">
    <a href="#!" id="request-accept-button">Accept Request</a>
  </div>
</div>

<div class="trpButtonGreen trpFileButton trpButtonDropdown">
  <div class="trpMainButton">
    <a href="#!" id="request-reject-button">Reject Request</a>
  </div>
</div>
