<a href="{{when absoluteRoomUri absoluteRoomUri uri}}" id="room-item__container" class="room-item__container {{#if selected}}selected{{/if}} {{#if focus}}focus{{/if}}">
  {{#if avatarSrcset}}
    <img class="room-item__avatar"
         src="{{ avatarSrcset.src }}"
         srceset="{{avatarSrcset.srcset}}"
         height="{{avatarSrcset.size}}"
         width="{{avatarSrcset.size}}"/>
  {{/if}}
  <h2 class="room-item__title">{{name}}</h2>
  {{#unless isSearch}}
    <img class="room-item__options" id="room-item-options-toggle" src='{{cdn "images/svg/menu/room-options.svg"}}'/>
  {{/unless}}
  {{#if unreadItems}}<div class="room-item__unreads">{{unreadItems}}</div>{{/if}}
  {{#if lurkActivity}}<div class="room-item__lurk" aria-label="Unread activity in {{name}}"></div>{{/if}}
  {{#if mentions}}<div class="room-item__mentions" aria-label="You were mentioned in {{name}}"></div>{{/if}}
</a>
<ul class="room-item__options-menu">
  {{#if isNotOneToOne}}
    <li class="room-item__options-menu__item">
      <button class="room-item__options-menu__item__btn" id="room-item-leave">Leave</button>
    </li>
  {{/if}}
  <li class="room-item__options-menu__item">
    <button class="room-item__options-menu__item__btn" id="room-item-hide">Hide</button>
  </li>
</ul>
