<div class="gtrArchiveNavigationInner">
  <div class="gtrArchiveDate">
    {{#if nextDate}}<a href="{{nextDateLink}}"><div class="gtrArchiveNext"></div></a>{{/if}}
    {{#if previousDate}}<a href="{{previousDateLink}}"><div class="gtrArchivePrev"></div></a>{{/if}}
    <div class="gtrArchiveToday">
      <span class="gtrArchiveDay">{{dayName}}<sup>{{dayOrdinal}}</sup></span><br>
      <span class="gtrArchiveMonth">{{monthName}} {{yearName}}</span>
    </div>
  </div>


  <div id="archive-navigation" class="gtrArchiveCalendar">
  </div>
</div>