<div class="gtrArchiveNavigationInner">
  <div class="gtrArchiveDate">
    {{#if nextDateLink}}<a href="{{nextDateLink}}"><i
        class="gtrArchiveNext octicon octicon-chevron-right"></i></a>{{/if}}
    {{#if previousDateLink}}<a href="{{previousDateLink}}"><i
        class="gtrArchivePrev octicon octicon-chevron-left"></i></a>{{/if}}
    <div class="gtrArchiveToday">
      <span class="gtrArchiveDay">{{dayName}}<sup>{{dayOrdinal}}</sup></span><br>
      <span class="gtrArchiveMonth">{{monthYearFormatted}}</span>
    </div>
  </div>

  <div class="archive-toggle-navigation-action-holder">
    <button class="button-jaffa--small js-toggle-archive-navigation">Toggle Heatmap</button>
  </div>
  <div class="js-archive-navigation-wrapper">
    {{#if showHourPaginationControls}}
    <div class="archive-hour-pagination-controls">
      {{#each hourRanges}}
      <a href="{{this.link}}"
        class="archive-hour-pagination-page {{#if this.selected}}selected{{/if}}">{{#pad width="2" padCharacter="0" direction="left"}}{{this.start}}{{/pad}}:00
        -
        {{#pad width="2" padCharacter="0" direction="left"}}{{this.end}}{{/pad}}:00</a>
      {{/each}}
    </div>
    {{/if}}
    <div id="archive-navigation" class="gtrArchiveCalendar"></div>
  </div>
</div>
