<div class="modal-header">
    <div class="trpModalHeader">
        <div class="trpModalMenu frame-menu-items">
          <div class="trpModalClose">
               <a class="close">×</a>
            </div>
        </div>
      {{#if title}}<h2>{{title}}</h2>{{/if}}
    </div>
</div>

<div id="modal-body-region" class="modal-body">

</div>
{{#hasMenuItems}}
<div class="modal-footer frame-menu-items">
  {{#each menuItems}}
  {{#if this.disabled }}
  <button class="trpModalButton trpButtonMedium {{this.className}} button" data-action="{{this.action}}" disabled>{{this.text}}</button>
  {{ else }}
  <button class="trpModalButton trpButtonMedium {{this.className}} button" data-action="{{this.action}}">{{this.text}}</button>
  {{/if}}
  {{/each}}
</div>
{{/hasMenuItems}}
