{{^hideHeader}}
<div class="modal-header">
    <div class="trpModalHeader">
    	{{^customTitle}}<div class="trpModalLogo"><img src='{{cdn "images/2/gitter/logo-mark-blue-32.png" }}' width="32" height="32"></div>{{/customTitle}}
      {{#customTitle}}<div class="trpModalTitleHeader">{{title}}</div>{{/customTitle}}
    	<div class="trpModalMenu frame-menu-items">
    		<div class="trpModalClose">
     		   {{^disableClose}}
   		     <a class="close">×</a>
   		       {{/disableClose}}
      		</div>
    	</div>
    </div>
</div>
{{/hideHeader}}
<div class="modal-body">

</div>
{{#hasMenuItems}}
<div class="modal-footer frame-menu-items">
  {{#each menuItems}}
  {{#if this.disabled }}
  <button class="trpModalButton trpButtonMedium {{this.className}} button" data-action="{{this.action}}" disabled>{{this.text}}</button>
  {{ else }}
  <button class="trpModalButton trpButtonMedium {{this.className}} button" data-action="{{this.action}}">{{this.text}}</button>
  {{/if}}
  {{/each}}
</div>
{{/hasMenuItems}}
