<div class="trpChatItem">
  {{widget "avatar" user=fromUser}}
  <div class="trpChatBox">
    <div class="trpChatDetails">
      <div class="trpChatFrom">{{{displayName}}}</div>
      <div class="trpChatTime">{{widget "timeago" time=sent}}</div>
      <span class="trpChatEdit"><img src="/images/2/icon-edit.png" width="16" height="16" title="{{editIconTooltip}}"/ ></span>
      <span class="trpChatReads"><img src="/images/2/icon-read.png" width="16" height="16" title="In future you'll be able to see who has read your message"/></span>
    </div>
    <div class="trpChatText">{{linkify text}}</div>
  </div>
</div>