<div class="chat-input__area">
  <div class="chat-input__buttons">
    <div class="compose-mode-toggle {{#if isComposeModeEnabled}}active{{/if}}" title="{{composeModeToggleTitle}}"></div>
    <a href="#markdown" style="text-decoration: none"><div class="md-help" title="{{showMarkdownTitle}}"></div></a>
  </div>
  <div class="chat-input__avatar">
    {{ widget "avatar" model=user size='s' showTooltip=false }}
  </div>
  <form class="chat-input__box" name="chat">
    <textarea class="chat-input__text-area" name="chat" id="chat-input-textarea" placeholder="{{placeholder}}" {{#if autofocus}}autofocus onfocus="this.value = this.value;"{{/if}} maxlength="4096">{{value}}</textarea>
  </form>
</div>
