{{!-- NOTE: this is wrapped by <div class='chat-item'> --}}
<div class='chat-item__container'>
  <div class='chat-item__aside'>
    {{#if fromUser}}
      {{ widget "avatar" user=fromUser }}
    {{/if}}
  </div>
  <div class='chat-item__content'>
    <div class='chat-item__details'>
      <div class='chat-item__from'>{{username}} &bull;</div>
      <div class='chat-item__time'>{{widget "timeago" time=sent lang=lang locale=locale}}</div>
      {{#if readByText}}
        {{#if compactView}}
          <span class="chat-item__icon--read  js-chat-item-readby">{{readByText}}</span>
        {{else}}
          <div class="chat-item__icon--read  js-chat-item-readby">{{readByText}}</div>
        {{/if}}
      {{/if}}
      <div class='chat-item__icon--edit  js-chat-item-edit'></div>
    </div>
    <div class='chat-item__text  js-chat-item-text'>
      {{{html}}}
    </div>
  </div>
</div>