<div class="chat-input__area">
  <div class="chat-input__avatar">
    {{ widget "avatar" model=user size='s' showTooltip=false }}
  </div>
  <form class="chat-input__box" name="chat">
    <textarea class="chat-input__text-area" name="chat" id="chat-input-textarea" placeholder="{{placeholder}}" {{#if inputAutoFocus}}autofocus{{/if}} autocomplete="off" maxlength="4096">{{value}}</textarea>
  </form>
  <div class="chat-input__buttons">
    <a href="#" class='js-toggle-compose-mode' title='{{ composeModeToggleTitle }}'><i class='icon-{{#if isComposeModeEnabled}}keyboard-1{{else}}chat-alt{{/if}}'></i></a>
    <a href='#markdown' class='js-md-help' title='{{ showMarkdownTitle }}'><i class='octicon octicon-markdown'></i></a>
  </div>
</div>
