<div class="trpChatItem">
  {{#if fromUser}}
  <div class="trpChatAvatar">
  {{ widget "avatar" user=fromUser }}
  </div>
  {{/if}}
  <div class="trpChatBox {{webhookClass}}">
    <div class="trpChatDetails">
      {{#if fromUser}}
      <div class="trpChatFrom">{{username}}</div>
      {{/if}}

      <div class="trpChatTime"> {{#if fromUser}} &bull; {{/if}} {{widget "timeago" time=sent lang=lang}} </div>
      {{#if readByText}}
      {{#if compactView}}
        <span class="trpChatReadBy readBySome">{{readByText}}</span>
      {{else}}
        <div class="trpChatReadBy readBySome">{{readByText}}</div>
      {{/if}}
      {{/if}}

      <span class="trpChatEdit"><img src='{{ cdn "images/2/icon-edit.png"}}' width="16" height="16" title=""/ ></span>

    </div>
    <div class="trpChatText">{{{html}}}</div>
  </div>
</div>
