<div class="trpChatItemContainer">
  <div class="trpChatItem">
    {{#if fromUser}}
    <div class="trpChatAvatar">
    {{widget "avatar" user=fromUser}}
    </div>
    {{/if}}
    <div class="trpChatBox">
      <div class="trpChatDetails">
        {{#if fromUser}}
        <div class="trpChatFrom">{{{displayName}}}</div>
        {{/if}}
        <div class="trpChatTime"> &bull; {{widget "timeago" time=sent}} </div>
        <span class="trpChatEdit"><img src='{{ cdn "images/2/icon-edit.png"}}' width="16" height="16" title=""/ ></span>
        {{#if compactView}}
        {{else}}
        <span class="trpChatReads"><img src='{{ cdn "images/2/icon-read.png"}}' width="16" height="16"/></span>
        {{/if}}
      </div>
      <div class="trpChatText"></div>
    </div>
  </div>
</div>