<div class="trpChatAvatar">
  <span>
    <div class="trpDisplayPicture avatar-s" style="background-image: url({{avatarUrl}});">
   </div>
  </span>
</div>
<div class="trpChatBox">
  <div class="trpChatDetails">
    <div class="trpChatFrom">@{{username}}</div>
    <div class="trpChatTime"> &bull; {{date}}</div>
  </div>
  {{#if description}}
    <div class="trpChatText">{{description}}</div>
  {{else}}
    <div class="trpChatText missing">No description given.</div>
  {{/if}}
</div>
