<aside id="room-menu-container" class="room-menu-container">
  <section class="room-menu">
    <nav id="minibar" class="minibar">
      <div class="minibar-inner nano">
        <ul id="minibar-list" class="room-menu-options nano-content">

          <li data-state-change="all" id="minibar-all"  class="room-menu-options__item--all">
            {{! the above li is passed to a Marionette view as its el so, sadly, we need to wrap these in divs}}
            <div class="room-menu-options__container">
              <button class="room-menu-options__item-button" title="All Conversations">
                <img class="room-menu-options__item__avatar" src='{{cdn "images/svg/menu/home.svg"}}' />
              </button>
            </div>
          </li>

          <li data-state-change="search" id="minibar-search" class="room-menu-options__item--search">
            <div class="room-menu-options__container">
              <button class="room-menu-options__item-button" title="Search Gitter">
                <img class="room-menu-options__item__avatar" src='{{cdn "images/svg/menu/search.svg"}}' />
              </button>
            </div>
          </li>

          <li data-state-change="people" id="minibar-people" class="room-menu-options__item--people">
            <div class="room-menu-options__container">
              {{> minibar_activity_indicators}}
              <button class="room-menu-options__item-button" title="Your One to One Conversations">
                <img class="room-menu-options__item__avatar" src='{{cdn "images/svg/menu/people.svg"}}' />
              </button>
            </div>
          </li>

          <li data-state-change="org"
              id="minibar-temp"
              class="room-menu-options__item--org {{#if troupeContext.snapshots.leftMenu.tempOrg.length}}active{{else}}hidden{{/if}}">
              <div>
                {{#each troupeContext.snapshots.leftMenu.tempOrg}}
                    {{{ prerenderView "js/views/menu/room/minibar/minibar-item-view" }}}
                {{/each}}
              </div>
          </li>

          <li id="minibar-collection">
            <ul class="minibar-collection-list">
              {{#each troupeContext.snapshots.groups}} {{! JP 9/12/15 }} {{! TODO SHOULD THIS BE MOVED INTO A PARTIAL TO BE SHARED AROUND }}
                <li data-state-change="org" id="minibar-{{name}}"  data-org-name="{{name}}" class="room-menu-options__item--org">
                  {{{ prerenderView "js/views/menu/room/minibar/minibar-item-view" }}}
                </li>
              {{/each}}
            </ul>
          </li>

          <li data-state-change="close" id="minibar-close"  class="room-menu-options__item--close {{#if roomMenuIsPinned}}left{{/if}}">
            <div class="room-menu-options__container">
              <button id="menu-toggle-button" class="room-menu-options__item-button menu-toggle-button" title="Toggle left menu">
                {{> pinned-hamburger-menu-icon }}
              </button>
            </div>
          </li>

        </ul>
      </div>
    </nav>
    <div id="room-menu__panel">
      <section class="room-menu__panel {{#if roomMenuIsPinned}}active loading{{/if}}">
        <header class="panel-header" id="panel-header"></header>
        <div id="profile-menu"></div>
        <div id="panel" class="room-menu__panel-inner nano">
          {{! JP 5/1/15
              NANO SCROLLER DOES SUPER WEIRD THINGS WITH Z-INDEXES SO THE FOOTER COMES FIRST }}
          <footer id="panel-footer" class="panel-footer-container"></footer>
          <div class="nano-content panel-content">
            <div id="search-input" class="left-menu-search-root"></div>

            <section id="favourite-collection" class="left-menu-collection">
              <div class="favourite-collection loaded active">
                <div id="collection-list" class="collection-list--favourite">
                  {{#each troupeContext.snapshots.rooms}}
                    <div class="{{#if isNotOneToOne}}room-item--favourite{{else}}room-item--favourite-one2one{{/if}} {{#if isHidden}}hidden{{/if}}"
                         id="{{id}}"
                         data-id="{{id}}">
                      {{{ prerenderView "js/views/menu/room/primary-collection/primary-collection-item-view" }}}
                    </div>
                  {{/each}}
                </div>
              </div>
            </section>

            <section id="primary-collection" class="left-menu-collection">
              <div class="primary-collection loaded active">
                <header>
                  <h2 class="collection__title hidden" id="collection-header-text">Rooms &amp; People</h2>
                  <i id="dismiss-suggestion" class="icon-cancel-circle collection-header__dismiss-suggestion hidden"></i>
                </header>
                <div id="collection-list" class="collection-list--primary">
                  {{#each leftMenuRooms}}
                    <div class="{{#if isNotOneToOne}}room-item{{else}}room-item--one2one{{/if}} {{#if isHidden}}hidden{{/if}}" id="{{id}}"  data-id="{{id}}">
                      {{{ prerenderView "js/views/menu/room/primary-collection/primary-collection-item-view" }}}
                    </div>
                  {{/each}}
                </div>
              </div>
            </section>

            <section id="secondary-collection" class="left-menu-collection"></section>
            <section id="tertiary-collection" class="left-menu-collection"></section>
          </div>
        </div>
      </section>
    </div>
  </section>
</aside>

<div class="community-create-app-root"></div>
