<a
  href="{{ absoluteUri }}"
  class="community-create-invite-user-result-list-item-link"
  target="_blank"
  data-vendor-username="{{ vendorUsername }}"
  data-vendor-type="{{ type }}">
  <img class="community-create-invite-user-result-list-item-avatar" {{{ avatarSrcSet avatarUrl 44 }}}>
  <span class="community-create-invite-user-result-list-item-name">
    {{ displayName }}
  </span>
</a>
