<a href="{{ absoluteUri }}" class="community-create-invite-user-result-list-item-link" target="_blank">
  <img
    class="community-create-invite-user-result-list-item-avatar"
    src="{{ avatarSrcset.src }}"
    srcset="{{ avatarSrcset.srcset }}"
    height="{{ avatarSrcset.size }}"
    width="{{ avatarSrcset.size }}" />
  <span class="community-create-invite-user-result-list-item-name">
    {{ username }}
  </span>
</a>
