<a
  id="forum-category-{{id}}"
  class="left-menu-forum-category-item js-left-menu-forum-category-item-link"
  href="{{when absoluteRoomUrl absoluteRoomUrl uri}}"
  data-id="{{id}}"
  data-slug="{{slug}}">
  {{name}}
</a>
