{{#if oneToOneInvite}}
<a class="trpDisplayPicture avatar-s unread" data-original-title="{{name}}" style="background-image: url({{avatarUrl}});" href="{{acceptUrl}}">
</a>
{{else}}
<a class="trpDisplayPicture avatar-s unread" data-original-title="{{name}}" style="background-image: url({{avatarUrl}}); border-radius: 6px" href="{{acceptUrl}}">
</a>
{{/if}}