{{#if oneToOneInvite}}
<a class="trpMiniLeftMenuItem unread" href="{{acceptUrl}}">
  <div class="trpDisplayPicture avatar-s offline unread" data-original-title="{{name}}" style="background-image: url({{avatarUrl}});">
    <div class="trpDPUnreadCount"></div>
  </div>
</a>
{{else}}
  {{#if noHref}}
  <a class="trpMiniLeftMenuItem unread">
        <div class="trpDisplayPicture avatar-s trpTroupeAvatar unread" style="border-color: white; text-decoration: none; background-color: {{colour}}" data-original-title="{{name}}">
          <div class="trpTroupeAvatarText">{{initials}}</div>
        </div>
  </a>
  {{else}}
  <a class="trpMiniLeftMenuItem unread" href="{{acceptUrl}}">
        <div class="trpDisplayPicture avatar-s trpTroupeAvatar unread" href="{{acceptUrl}}" style="border-color: {{colour}}; text-decoration: none" data-original-title="{{name}}">
          <div class="trpTroupeAvatarText">{{initials}}</div>
        </div>
  </a>
  {{/if}}
{{/if}}