{{#if oneToOne}}
<a class="trpDisplayPicture avatar-4fd48bda40a7cc9644000003 avatar-s offline unread" data-original-title="{{name}}" style="background-image: url({{avatarUrl}});" href="{{acceptUrl}}">
  <div class="trpStatus" id="status" data-original-title="" title=""> </div>
</a>
{{else}}
<a class="trpDisplayPicture avatar-505ca287f32781757f00055c avatar-s online unread" data-original-title="{{name}}" style="background-image: url({{avatarUrl}}); border-radius: 6px" href="{{acceptUrl}}">
</a>
{{/if}}