{{#if oneToOne}}
<a class="trpDisplayPicture avatar-s offline" data-original-title="{{name}}" style="background-image: url({{avatarUrl}});" href="{{url}}">
  <div class="trpDPUnreadCount"></div>
</a>
{{else}}
        <a class="trpDisplayPicture avatar-s trpTroupeAvatar {{colour}}" href="{{url}}" style="border-color: {{colour}}; text-decoration: none">
          <div class="trpTroupeAvatarText">{{avatarUrl}}{{initials}}</div>
        </a>
{{/if}}