{{#if oneToOne}}
<a class="trpDisplayPicture avatar-s offline" data-original-title="{{name}}" style="background-image: url({{avatarUrl}});" href="{{url}}">
  <div class="trpDPUnreadCount"></div>
</a>
{{else}}
  {{#if noHref}}
        <div class="trpDisplayPicture avatar-s trpTroupeAvatar" href="{{url}}" style="border-color: white; text-decoration: none; background-color: {{colour}}" data-original-title="{{name}}">
          <div class="trpTroupeAvatarText">{{initials}}</div>
        </div>
  {{else}}
        <a class="trpDisplayPicture avatar-s trpTroupeAvatar" href="{{url}}" style="border-color: {{colour}}; text-decoration: none" data-original-title="{{name}}">
          <div class="trpTroupeAvatarText">{{initials}}</div>
        </a>
  {{/if}}
{{/if}}