          <table class="container">
            <tr>
              <td>
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <h1>Hello {{recipientName}}!</h1>
                            <br>
                            <p><strong>{{senderName}}</strong> just added you to the {{roomUri}} chat on Gitter.</p>
                            <br>
                              <table>
                                <tr>
                                  <td><a href="{{roomUrl}}" style="text-decoration: none" class="button-green">Open the room</a></td>
                                </tr>
                              </table>
                            <br><br>
                            <p>To unsubscribe from these notifications, click <a href="{{unsubscribeUrl}}">here</a>.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
