          <table class="container">
            <tr>
              <td>
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <h1>Hello {{ user.displayName }}!</h1>
                            <br>
                            <p>You've just created the {{ roomType }} room <strong>{{ room.name }}</strong> on Gitter.</p>
                              <table>
                                <tr>
                                  <td><a href="{{ shareURL }}" style="text-decoration: none" class="button-green">Open on Gitter</a></td>
                                </tr>
                                {{#if twitterURL}}
                                <tr>
                                  <td><br>
                                    <a href="{{ twitterURL }}" style="text-decoration: none" target="_blank" class="button-twitter">Share on Twitter</a></td>
                                </tr>
                                {{/if}}
                              </table>
                              <br />
                              <p>Or just share the url {{ shareURL }}</p>
                              <br />
                              {{#if isOrg}}
                                <p>Note that only people within your organisation can join this room.</p>
                              {{/if}}
                            <br><br>
                            <p>To unsubscribe from these notifications, click <a href="{{ unsubscribeUrl }}">here</a>. </p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
