          <table class="container">
            <tr>
              <td>
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <h1>You have unread messages</h1>
                            <br><br>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

        {{#each troupesWithUnreadCounts}}
                <table class="row">
                  <tr>
                    <td class="wrapper">
                      <table class="twelve columns">
                        <tr>
                          <td style="max-width: 400px; width: 400px;">
                            <h2>{{#if troupe.oneToOne}}{{troupe.name}}{{else}}{{troupe.uri}}{{/if}}</h1>
                            <h4>{{__n "%d unread message" "%d unread messages" unreadCount}}</h4>
                            <p><{{#unless troupe.oneToOne}}a href="{{../../emailBasePath}}{{troupe.url}}#notifications" style="color: #2980b9;">Notification settings</a>{{/unless}}&nbsp;</p>
                            <br>
                          </td>
                          <td>
                            <table class="button-read">
                              <tr>
                                <td>Read</td>
                              </tr>
                            </table>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                    <td class="expander"></td>
                  </tr>
                </table>
        {{/each}}

