{{!-- This is actually wrapped by div.gtrPeopleAddRoster --}}
<div class="trpDisplayPicture avatar-s  " style="background-image: url('{{avatarUrlSmall}}')" data-title="{{displayName}}"></div>
{{outcome}} <strong>{{username}}</strong> {{feedback}}.
{{!-- displayName --}}
{{!-- <span class="remove"></span> --}}
