<img src='{{ avatar_url }}'>
<div class='content js-content'>
  {{#if added}}
    <p><span class='limit'>{{ login }}</span> <span><b>{{ feedback }}</b></span></p>
  {{else}}
    {{#if unreachable}}
      <p><input type='email' placeholder="Enter {{ login }}'s email"></p>
    {{else}}
      <p><span class='limit'>{{ login }}</span></p>
    {{/if}}
  {{/if}}
</div>
<div class='action js-action'>
  {{#if added}}

  {{else}}
    {{#if unreachable}}
      <a href='#' class='trpButton trpBtnGreen js-invite'>Invite</a>
    {{else}}
      <a href='#' class='trpButton trpBtnGreen js-add'>Add</a>
    {{/if}}
  {{/if}}
</div>
