<div class="trpHeaderContainer">
  {{#unless oneToOne}}
  {{#if user}}
  <div class="settingsCog">
    <div class="dropdown-toggle" data-toggle="dropdown"></div>
  </div>
  {{/if}}
  {{/unless}}
  {{#if user}}
  <div class="trpTroupeFavourite {{#if troupeFavourite}}favourited{{/if}}" id="favourite-button">
      <div style="display: inline-block; vertical-align: middle; width:26px; height:26px">
        <i class="trpHeaderFavIcon favourited" width="24" height="24"></i>
        <i class="trpHeaderFavIcon unfavourited" width="24" height="24"></i>
      </div>
  </div>
  {{/if}}
  <div class="gtrNameTopic">
  {{#if githubLink}}
  <h1 id="name-label"><a href="{{githubLink}}" target="_blank">{{troupeName}}</a></h1>
  {{else}}
  <h1 id="name-label">{{troupeName}}</h1>
  {{/if}}
  <p id="trpTopic">{{#unless oneToOne}}{{troupeTopic}}{{/unless}}{{#oneToOne}}<a href="http://github.com{{troupeUri}}" target="github">github.com{{troupeUri}}</a>{{/oneToOne}}</p>
  </div>
</div>
