<div class="trpHeaderContainer">
  {{#unless oneToOne}}
  <div class="settingsCog">
    <div class="dropdown-toggle" data-toggle="dropdown"></div>
  </div>
  {{/unless}}
  <div class="trpTroupeFavourite {{#if troupeFavourite}}favourited{{/if}}" id="favourite-button">
      <div style="display: inline-block; vertical-align: middle">
        <i class="trpHeaderFavIcon favourited" width="24" height="24"></i>
        <i class="trpHeaderFavIcon unfavourited" width="24" height="24"></i>
      </div>
  </div>
  <h1 id="name-label"><a href="http://github.com{{troupeUri}}" target="_blank">{{troupeName}}</a></h1>
  <p id="trpTopic">{{#unless oneToOne}}{{troupeTopic}}{{/unless}}{{#oneToOne}}<a href="http://github.com{{troupeUri}}" target="github">github.com{{troupeUri}}</a>{{/oneToOne}}</p>
</div>
