<div class="chat-header__main-grouping chat-header__avatar-grouping">
  <div class="chat-header__avatar {{#if premium}}chat-header__avatar--pro{{/if}}">
    <img src='{{avatarSrcSet.src}}' srcset='{{avatarSrcSet.srcset}}' height='{{avatarSrcSet.size}}' width='{{avatarSrcSet.size}}'>
  </div>
</div>

<div class="chat-header__main-grouping chat-header_header-grouping">
  <h1 class='js-chat-name chat-header__heading' title="{{ lockTooltip }}">
    <a {{#if githubLink}}href="{{ githubLink }}"{{/if}} class="chat-header__title" target="_blank">{{ troupeName }}</a>

    {{#if isPrivate}}
      <i class='octicon octicon-lock chat-header__permission-icon'></i>
    {{/if}}
  </h1>
</div>


<div class="chat-header__main-grouping chat-header__topic-grouping js-chat-topic-activator" tabindex="0">
  <div class="chat-header__topic-wrapper">
    {{~#unless oneToOne~}}
    <p class="js-chat-topic chat-header__topic">{{troupeTopic}}</p>
    {{~/unless~}}
  </div>
</div>


<div class="chat-header__main-grouping">
  {{#if ownerIsOrg}}
    <div class="js-org-page chat-header__org-page">
      <a href="{{orgPageHref}}" title="Navigate to {{orgName}}'s page"  class="chat-header__action-icon org-page-link js-org-page">
        <i class="chat-header__action-icon icon-globe"></i>
      </a>
    </div>
  {{/if}}

  {{#unless archives}}
    {{#if user}}
      <div class="chat-header__favourite js-favourite-button">
        <i class="chat-header__action-icon icon-star-empty {{#if troupeFavourite}}favourite{{/if}}"></i>
      </div>
      <div class="chat-header__settings js-chat-settings" data-toggle="dropdown">
        <i class="chat-header__action-icon icon-slider-vertical"></i>
      </div>
    {{/if}}
  {{/unless}}
</div>
