{{!-- <div class="trpHeaderContainer"> --}}
  {{#unless archives}}
    {{#unless oneToOne}}
      {{#if user}}
        <div class="chat-header__settings">
          <i class="dropdown-toggle" data-toggle="dropdown"></i>
        </div>
      {{/if}}
    {{/unless}}
  {{/unless}}
  {{#if user}}
    <div class="chat-header__favourite" id="favourite-button">
      <i class="js-favourite-button  {{#if troupeFavourite}}favourite{{/if}}" width="24" height="24"></i>
    </div>
  {{/if}}
  <div class="chat-header__content">
    {{#if githubLink}}
      <h1 id="name-label">
        <a href="{{githubLink}}" target="_blank">{{troupeName}}</a>
      </h1>
    {{else}}
      <h1 id="name-label">{{troupeName}}</h1>
    {{/if}}
    <p id="trpTopic">
      {{#unless oneToOne}}
        {{troupeTopic}}
      {{/unless}}
      {{#oneToOne}}
        <a href="http://github.com{{troupeUri}}" target="github">github.com{{troupeUri}}</a>
      {{/oneToOne}}
    </p>
  </div>
{{!-- </div> --}}