<div class="chat-header__main-grouping chat-header__avatar-grouping">
  <div class="chat-header__avatar {{#if headerView.premium }}chat-header__avatar--pro{{/if}}">
    <img {{{ avatarSrcSet headerView.avatarUrl 48 }}}>
  </div>
</div>

<div class="chat-header__main-grouping chat-header__info-grouping">
  <div class="chat-header__heading-sub-group">
    <h1 class="js-chat-name chat-header__heading">
      {{#if archives}}
      <a href="{{ headerView.url }}" class="chat-header__title">{{ headerView.troupeName }}</a>
      {{else}}
      <a {{#if headerView.githubLink}}href="{{ headerView.githubLink }}"{{/if}} class="chat-header__title" target="_blank">{{ headerView.troupeName }}</a>
      {{/if}}
      {{#if headerView.isPrivate}}
        <i class='octicon octicon-lock chat-header__permission-icon'></i>
      {{/if}}
    </h1>
  </div>
  <div class="chat-header__topic-sub-group js-room-topic-edit-activator" tabindex="0">
    <div class="chat-header__topic-wrapper js-room-topic-wrapper {{when headerView.isAdmin 'is-admin' : ''}} {{when shouldShowPlaceholderRoomTopic 'is-new-room' : ''}}">
      {{~#unless headerView.oneToOne~}}
      <p class="js-room-topic chat-header__topic {{when headerView.isAdmin 'is-admin' : ''}} {{when shouldShowPlaceholderRoomTopic 'is-new-room' : ''}}">{{ headerView.troupeTopic }}</p>
      {{~/unless~}}
    </div>
  </div>
</div>


<div class="chat-header__main-grouping chat-header__action-grouping">
  {{#if headerView.groupPageUrl }}
    <a href="{{ headerView.groupPageUrl }}" class="chat-header__org-page org-page-link js-chat-header-org-page-action" title="More {{ headerView.group.uri }} rooms">
      <i class="chat-header__action-icon icon-globe"></i>
    </a>
  {{/if}}

  {{#unless archives}}
    {{#if user}}
    <button class="chat-header__favourite js-favourite-button" title="Favourite {{ headerView.troupeName }}">
      <i class="chat-header__action-icon icon-star-empty {{#if headerView.troupeFavourite }}favourite{{/if}}" aria-hidden="true"></i>
    </button>
    <button class="chat-header__settings js-chat-settings" title="Room settings" data-toggle="dropdown">
       <i class="chat-header__action-icon icon-slider-vertical" aria-hidden="true"></i>
    </button>
    {{/if}}
    <button class="chat-header__right-toolbar-toggle js-right-toolbar-toggle-button {{when isRightToolbarPinned 'pinned' ''}}" title="Toggle right-toolbar">
      <div class="chat-header__right-toolbar-toggle-icon">
        <img class="chat-header__right-toolbar-toggle-icon-base" src='{{cdn "images/svg/right-toolbar-toggle-base.svg"}}' />
        <img class="chat-header__right-toolbar-toggle-icon-arrow-collapse" src='{{cdn "images/svg/right-toolbar-toggle-arrow-collapse.svg"}}' />
        <img class="chat-header__right-toolbar-toggle-icon-arrow-expand" src='{{cdn "images/svg/right-toolbar-toggle-arrow-expand.svg"}}' />
      </div>
    </button>
  {{/unless}}
</div>
