<div class="github-pull-request">
  <i class='octicon octicon-git-pull-request'></i>
  <div class="activity-time">{{widget "timeago" time=sent compact=true position="left"}}</div>

  <span class="gtrActivityItemText"><span class='mention' data-link-type="mention" data-screen-name="{{payload.sender.login}}">{{payload.sender.login}}</span> {{payload.action}} <a class="issue {{payload.pull_request.state}}" href="{{payload.pull_request.html_url}}" target="_blank" data-link-type="issue" data-issue="{{payload.pull_request.number}}" data-issue-repo="{{payload.repository.full_name}}">#{{payload.pull_request.number}}</a></span>

  <div style="clear: both;"></div>
</div>
