<div class="github-pull-request">
  <span class="gtrActivityItemText"><a href="https://github.com/{{payload.sender.login}}" target="_blank"><span class='mention'>{{payload.sender.login}}</span></a> {{payload.action}} <span class="issue {{payload.pull_request.state}}"><a href="{{payload.pull_request.html_url}}" target="_blank">#{{payload.pull_request.number}}</a></span></span>
</div>
