<div class="github-watch">
  <span class="gtrActivityItemText"><a href="https://github.com/{{payload.sender.login}}" target="_blank"><span class='mention'>{{payload.sender.login}}</span></a> {{payload.action}} watching <a href="{{payload.repository.html_url}}" target="_blank">{{payload.repository.full_name}}</a></span>
</div>
