<div class="github-comment">
  <span class="gtrActivityItemText"><a href="https://github.com/{{payload.sender.login}}" target="_blank"><span class='mention'>{{payload.sender.login}}</span></a> commented <span class="issue {{payload.issue.state}}"><a href="{{payload.issue.html_url}}" target="_blank">#{{payload.issue.number}}</a></span></span>
</div>
