<div class="github-watch">
  <div class="activity-time">{{widget "timeago" time=sent compact=true position="left"}}</div>
  <span class="gtrActivityItemText"><span class='mention' data-link-type="mention" data-screen-name="{{payload.sender.login}}">{{payload.sender.login}}</span> starred <a href="{{payload.repository.html_url}}" target="_blank">{{payload.repository.full_name}}</a></span>
</div>
