<div>
  <div class="activity-time">{{widget "timeago" time=sent compact=true}}</div>

  <span class="gtrActivityItemText">[H] <a class="issue" href="{{meta.url}}" target="_blank" data-link-type="issue" data-issue="{{meta.number}}" data-issue-repo="{{meta.repo}}">#{{meta.number}}</a> {{meta.action}} from {{meta.previousState}} to {{meta.newState}}</span>

  <div style="clear: both;"></div>
</div>
