<div class="prerendered {{meta.errorLevel}}">
  <div class="service-sprite {{meta.service}}-{{meta.icon}} activity-item__icon"></div>
  <div class="activity-time">{{widget "timeago" time=sent compact=true position="left"}}</div>
  <div class="gtrActivityItemText">{{{html}}}</div>
</div>
