<p>{{description}}. <br>By <a href="http://github.com/{{owner.login}}">{{owner.login}}</a></p>
<p><small>{{language}}</small></p>
<ul>
  {{#if has_issues}}
  <li><a href="{{html_url}}/issues" target="_blank">Issues <span class="item-unread-badge trpTroupeInfoBadge">{{open_issues}}</span></a></li>
  {{/if}}
  <li><a href="{{html_url}}/watchers" target="_blank">Watchers <span class="item-unread-badge trpTroupeInfoBadge">{{subscribers_count}}</span></a></li>
  <li><a href="{{html_url}}/stargazers" target="_blank">Stargazers <span class="item-unread-badge trpTroupeInfoBadge">{{stargazers_count}}</span></a></li>
  {{#if has_wiki}}
    <li><a href="{{html_url}}/wiki" target="_blank">Wiki</a></li>
  {{/if}}
</ul>
