<div class="build-{{build_status}}">
  <div class="service-sprite travis-logo"></div>
  <div class="activity-time">{{widget "timeago" time=sent compact=true position="left"}}</div>

  <span class="gtrActivityItemText">Travis <a href="{{payload.compare_url}}" target="_blank">{{payload.repository.owner_name}}/{{payload.repository.name}}</a> <small>({{payload.branch}})</small> <a href="{{payload.build_url}}" target="_blank">{{build_status}}</a></span>

  <div style="clear: both;"></div>
</div>
