<div class="build-{{build_status}}">
  <span class="gtrActivityItemText">Travis <a href="{{payload.compare_url}}" target="_blank">{{payload.repository.owner_name}}/{{payload.repository.name}}</a> <small>({{payload.branch}})</small> {{build_status}}</span>
</div>