<!-- <div class="trpMailRowContainer">
  <div class="trpMailRow clickPoint-showEmail">
    <div class="trpMailLeft">
      <div class="trpMailDisplayPicture">{{widget "avatar" user=lastSender}}</div>
      <div class="trpMailFromSubject">{{^compactView}}{{lastSender.displayName}}: {{/compactView}}{{subject}}</div>
      <div class="trpMailPreview">{{preview}}</div>
    </div>
    {{^compactView}}
    <div class="trpMailRight">
      <div class="trpMailIcons">{{#hasAttachments}}<img src="images/2/icon-small-attachment.png" width="18" height="16">{{/hasAttachments}}</div>
      <div class="trpMailDate">{{updated}}</div>
    </div>
    {{/compactView}}
  </div>
</div> -->

<div class="trpMailItem">
    <div class="trpMailItemPicture" style="background-image: url('images/2/icon-mail-black.png')"></div>
    <div class="trpMailItemSubject"><a href="#|{{detailUrl}}">{{subject}}</a></div>
</div>

