<div class="trpMailRowContainer">
  <div class="trpMailRow clickPoint-showEmail">
    <div class="trpMailLeft">
      <div class="trpMailDisplayPicture">{{widget "avatar" user=lastSender}}</div>
      <div class="trpMailFromSubject">{{lastSender.displayName}}: {{subject}}</div>
      <div class="trpMailPreview">{{preview}}</div>
    </div>
    <div class="trpMailRight">
      <div class="trpMailIcons">{{#hasAttachments}}<img src="images/2/icon-small-attachment.png" width="18" height="16">{{/hasAttachments}}</div>
      <div class="trpMailDate">{{updated}}</div>
    </div>
  </div>
</div>