<a href="#!" class="trpWhite"><div class="trpDetailViewClose">x</div></a>

<div class=""><a href="#|{{previewUrl}}" class="">{{ widget "avatar" user=user size='m'}}</a></div>

<div class="trpItemDetails">
  <div class="trpFilename" title="">{{user.displayName}}</div>
  <div class="trpFilename" title="{{email}}">{{email}}</div>
</div>

<div class="trpButtonGreen trpFileButton trpButtonDropdown">
  <div class="trpMainButton">
    <a href="#!" id="invite-delete-button">Delete Invite</a>
  </div>
</div>
