<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Payment Required</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{cdn 'styles/402.css' }}">
    <link id="favicon" rel="shortcut icon" href="{{ cdn 'images/favicon-normal.ico' }}">
  </head>

  <body>
    <div class="center-panel">
      <h1>Upgrade to Pro</h1>
      <p>Shucks! The room <b>{{room}}</b> has reached the maximum number of users allowed on our free plan.</p>
      <p>You will need to upgrade <b>{{org}}</b> to our Pro plan to join this room. Please note This requires Admin access to the Organisation.</p>
      <p>You can visit our <a href="//billing.gitter.im" target="_blank">billing page for more details.</p>
      <a href="{{ billingUrl }}" target='blank' class="btn--primary green">Upgrade now</a>
      <br><br>
      <p>If you need help please feel free to <a href="http://support.gitter.im" target="_blank">contact support</a>.
      </p>
    </div>

    <script type="text/javascript" src="//use.typekit.net/ohh4mcl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </body>
</html>
