<!DOCTYPE html>
  <html class="no-js loading" lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=IE10" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
  	<meta charset="utf-8">
  	<title>{{troupeName}} - Gitter</title>
    <link rel="stylesheet" href='{{cdn cssFileName }}'>
    <link id="favicon" rel="shortcut icon" href='{{cdn "images/favicon-read.ico" }}'>
    {{#each dnsPrefetch}}
    <link rel="dns-prefetch" href="{{ this }}">
    {{/each}}
    {{>load_font_css}}
  </head>
  <body class='hover'>
    {{#if stagingText}}
      <div class="staging-indicator" style="
        position: fixed;
        left: 50%;
        top: 0;
        padding: 2px 10px;
        background-color: #1dce73;
        border-radius: 0 0 4px 4px;
        z-index: 100000;
        color: white;
        font-family: 'open sans';
        font-size: 10px;
        text-align: center;" >
        {{#if stagingLink}}
          <a style="text-decoration: none; color:white" href="{{stagingLink}}" target="_new">{{stagingText}}</a>
        {{else}}
          {{stagingText}}
        {{/if}}
      </div>
    {{/if}}

    {{#isMobile agent}}
      <div class="trpPortraitAlert" id='portrait-alert'>
        <div class="message">
          <img class="ipad-icon" src='{{cdn "images/icon-rotate-ipad.png"}}'>
          <p>Rotate iPad for better experience.</p>
          <img class="logo" src='{{cdn "images/menu-toggle.png" }}'>
        </div>
      </div>
    {{/isMobile}}

    <div class="trpLeftMenuHotspot" id="left-menu-hotspot"></div>
    <div class="trpLeftMenu  menu" id="left-menu"></div>

    <div class="trpMenuTab unread-count" id="menu-toggle-button">{{#if unreadCount}}{{unreadCount}}{{else}}0{{/if}}</div>

    <div class="trpFramePanel" id="iframe-panel">
      <iframe id="content-frame" src="{{chatAppLocation}}" style="width: 100%; height: 100%; border: 0" frameBorder="0"></iframe>
    </div>

    {{{ generateTroupeContext troupeContext }}}
    {{>require_wrapper}}
    {{{ bootScript bootScriptName }}}
    {{>live_reload}}
  </body>
</html>
