<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta charset="utf-8">

	<title>{{troupeName}} - Troupe</title>

  <link rel="stylesheet" href='{{cdn "bootstrap/css/trp3.css" }}'>
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/edpmlaohjokcmefhjghaeeikjjcjplmi">

  {{>require_wrapper}}

  {{#login}}
    {{{bootScript "router-login" }}}
  {{/login}}

  {{^login}}
    {{{bootScript "app-integrated" }}}
  {{/login}}

	<script type="text/javascript">
	window.troupeContext = {{{troupeContext}}};
  var consoleLog = console.log;
  var startTime = Date.now();
  console.flog = function() {
    var args = Array.prototype.slice.call(arguments);

    args[0] = (Date.now() - startTime) + " " + args[0];
    consoleLog.apply(console, args);
  };

  function loadCss(url) {
      var link = document.createElement("link");
      link.type = "text/css";
      link.rel = "stylesheet";
      link.href = url;
      document.getElementsByTagName("head")[0].appendChild(link);
  }

  // Late load this to speedup requirejs startup time
  loadCss('https://fonts.googleapis.com/css?family=Open+Sans:300');

	</script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href='{{cdn "images/2/favicon8.ico" }}'>

</head>
<body>

  <div class="trpLeftMenuHotspot" id="left-menu-hotspot"></div>

  <div class="trpLeftMenu" id="left-menu">
    <div class="trpLeftMenuWrapper">
      <div class="trpToolbarHeader" style="margin-left: 9px;">All your Troupes</div>
      <ul class="trpTroupeList" id="left-menu-list">
      </ul>
      <a href="#|create"><div class="trpNewTroupeButton">Start a new Troupe</div><div class="trpLeftMenuSpacer"></div></a>
    </div>
  </div>
  <div class="trpMenuTab" id="menu-toggle-button"><img src='{{cdn "images/2/menu-toggle.png" }}' width="40" height="40" id="menu-toggle">
    <div class="trpUnreadBadge"><div class="trpUnreadBadgeCount">14</div></div>
  </div>


  <div class="trpHeaderWrapper" id="header-wrapper">
    <div class="trpHeaderContainer" id="header-frame">
      <div class="trpHeaderTitle">{{troupeName}}</div>
      <div class="trpHeaderToolbar" id="header-region">
      </div>
    </div>
  </div>

  <div class="trpAlertWrapper" id="alert-panel">
    <div class="trpAlertContainer">
      <div class="trpAlertContent" id="alert-content">
      </div>
    </div>
  </div>

  <div class="trpContentPanel" id="content-frame">
    <div class="trpContentSpacer"></div>
    <div class="trpChatPanel" id="chat-frame"></div>
    <div class="trpToolbar">
      <div class="trpToolbarContent">
        <div class="trpToolbarList" id="request-roster" style="display: none;"></div>
        <div class="trpToolbarHeader" id="people-header">People</div>
        <div class="trpToolbarList" id="people-roster"></div>
        <div class="trpToolbarHeader" id="file-header">Files</div>
        <div class="trpToolbarList" id="file-list"></div>
        <div class="trpToolbarHeader" id="mail-header">Mails</div>
        <div class="trpToolbarList" id="mail-list"></div>
      </div>
    </div>
  </div>


  <div class="trpRightPanel" id="right-panel">
    <div class="trpImageBigThumbnail" id="image-preview">
    </div>
    <div class="trpFileDetails">
  <!--     <span>Girlie surfer dude.jpg</span><br> -->
      <div class="trpButtonGreen">Download</div>
    </div>
  </div>

</body>
</html>
