<!DOCTYPE html>
  <html class="no-js loading" lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=IE10" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
  	<meta charset="utf-8">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

  	<title>{{troupeName}} - Gitter</title>

    {{#each socialMetadata}}
    <meta property="{{@key}}" content="{{this}}"/>
    {{/each}}
    <link rel="stylesheet" href='{{cdn cssFileName }}'>

    {{!-- if you change this, you must change the favicon reference in titlebar.js --}}
    <link id="favicon" rel="shortcut icon" href='{{cdn "images/favicon-read.ico" }}'>

    {{#each subresources}}
    <link rel="subresource" href="{{ this }}">
    {{/each}}

    {{#each dnsPrefetch}}
    <link rel="dns-prefetch" href="{{ this }}">
    {{/each}}

  </head>
  <body class='hover desktop application-container'>
    {{> staging_marker}}

    {{! feature switch left-menu }}
    {{#if hasNewLeftMenu}}
      {{>switch_app_template_new}}
    {{else}}
      {{>switch_app_template_old}}
    {{/if}}

    {{{ generateTroupeContext troupeContext }}}
    {{{ bootScript bootScriptName jsRoot=jsRoot }}}
    {{> live_reload}}
  </body>
</html>
