<!doctype html>
<html class="no-js loading" lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=IE9" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
	<meta charset="utf-8">
  <meta name="apple-itunes-app" content="app-id=632039322"/>

	<title>{{troupeName}} - Gitter</title>

  <style>
  html.loading .trpContentPanel { background: url("{{ cdn 'images/2/troupe-ajax-guy-green.gif' }}") center no-repeat; height: 90%; }
  html.loading .trpContentPanel > * { visibility: hidden; }
  </style>

  <link rel="stylesheet" href='{{cdn "bootstrap/css/trp3.css" }}'>

    <!-- Le fav and touch icons -->
    <link id="favicon" rel="shortcut icon" href='{{cdn "images/2/gitter/favicon3.png" }}'>
    {{>load_font_css}}
</head>
<body>

  {{#isMobile agent}}
    <div class="trpPortraitAlert" id='portrait-alert'>
      <div class="message">
        <img class="ipad-icon" src='{{cdn "images/2/icon-rotate-ipad.png"}}'>
        <p>Rotate iPad for better experience.</p>
        <img class="logo" src='{{cdn "images/2/menu-toggle.png" }}'>
      </div>
    </div>
  {{/isMobile}}

  <div class="trpLeftMenuHotspot" id="left-menu-hotspot"></div>
  <div class="trpLeftMenu" id="left-menu"></div>
  

<div class="trpMenuTab unread-count" id="menu-toggle-button">{{#if unreadCount}}{{unreadCount}}{{else}}0{{/if}}</div>



<div class="trpAlertWrapper" id="alert-panel">
  <div class="trpAlertContainer">
    <div class="trpAlertContent" id="alert-content">
    </div>
  </div>
</div>

<div class="trpContentPanel primary-scroll" id="content-wrapper">
  <div class="trpChatPanel" id="chat-frame">
    <header>
      <div class="trpTroupeFavourite {{#if troupeContext.troupe.favourite}}favourited{{/if}}" id="favourite-button">
          <div style="display: inline-block; vertical-align: middle">
            <i class="trpHeaderFavIcon favourited" width="24" height="24"></i>
            <i class="trpHeaderFavIcon unfavourited" width="24" height="24"></i>
          </div>
      </div>
      <h1>{{troupeName}}</h1>
      {{#unless troupeContext.troupe.oneToOne}}
      <div class="settingsCog" data-toggle="dropdown">
        <div class="dropdown">
          <a class="dropdown-toggle" style="text-decoration: none" data-toggle="dropdown" href="#">
          </a>
          <ul class="dropdown-menu" role="menu">
            {{#if hellFreezesOver}}
            <li><a href="#|share">Add someone to this Troupe</a></li>
            {{/if}}
            <li><a href="#|inv">Invite someone to this chat</a>
            <li role="presentation" class="divider"></li>
            <li><a href="#|troupeSettings">Notifications</a></li>
            <li><a href="#|integrations">Integrations</a></li>
          </ul>
        </div>
      </div>
      {{/unless}}
    </header>
    <div class="trpChatContainer" id="content-frame">
    </div>
  </div>
</div>

<div class="trpToolbar" id="toolbar-frame" style="display: none">
</div>

<div class="trpChatInputWrapper" id="chat-input-wrapper">
  <div class="trpChatInputArea" id="chat-input">
  </div>
</div>

<div class="trpBlankPage"> </div>

{{{ generateTroupeContext troupeContext }}}

{{>require_wrapper}}
{{{bootScript bootScriptName }}}

<style>
@font-face {
    font-family: "troupe-icons";
    src: url("/fonts/troupe-icons.woff") format('woff');
}
</style>

</body>
</html>
