<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=IE9" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
	<meta charset="utf-8">
  <meta name="apple-itunes-app" content="app-id=632039322"/>

	<title>{{troupeName}} - Troupe</title>

  <link rel="stylesheet" href='{{cdn "bootstrap/css/trp3.css" }}'>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href='{{cdn "images/2/favicon8.ico" }}'>
    {{>load_font_css}}

    {{#useFirebug}}
    <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
    {{/useFirebug}}
</head>
<body>

  {{#isMobile agent}}
    <div class="trpPortraitAlert" id='portrait-alert'>
      <div class="message">
        <img class="ipad-icon" src='{{cdn "images/2/icon-rotate-ipad.png"}}'>
        <p>Rotate iPad for better experience.</p>
        <img class="logo" src='{{cdn "images/2/menu-toggle.png" }}'>
      </div>
    </div>
  {{/isMobile}}

  <div class="trpLeftMenuHotspot" id="left-menu-hotspot"></div>
  <div class="trpLeftMenu" id="left-menu"></div>
  <div class="trpMiniLeftMenu" style="">
  <div class="trpMiniUnread">
    <div class="trpDisplayPicture avatar-4fd48bda40a7cc9644000003 avatar-s offline" data-original-title="Andrew Newdigate&lt;br&gt;Old Street, England" style="background-image: url(https://dnsjy61awi9j1.cloudfront.net/avatar/s/4fd48bda40a7cc9644000003/5.jpg);">
      <div class="trpStatus" id="status" data-original-title="" title=""> </div>
      <div class="trpDPUnreadCount">12</div>
    </div>
    <div class="trpDisplayPicture avatar-4fd48c8040a7cc9644000022 avatar-s online" data-original-title="Mike Bartlett&lt;br&gt;Old Street, England" style="background-image: url(https://dnsjy61awi9j1.cloudfront.net/avatar/s/4fd48c8040a7cc9644000022/9.jpg);">
      <div class="trpStatus" id="status" data-original-title="" title=""> </div>
    </div>
    <div class="trpDisplayPicture avatar-505ca287f32781757f00055c avatar-s online" data-original-title="Claire&lt;br&gt;" style="background-image: url(https://dnsjy61awi9j1.cloudfront.net/avatar/s/505ca287f32781757f00055c/2.jpg); border-radius: 6px">
    </div>
    <div class="trpDisplayPicture avatar-51d146b595e7666866000644 avatar-s offline" data-original-title="Mauro&lt;br&gt;Old Street, England" style="background-image: url(https://www.gravatar.com/avatar/4605adbcd13e20c14e82fcf528b516e6?d=identicon);">
      <div class="trpStatus" id="status" data-original-title="" title=""> </div>
    </div>
    <div class="trpDisplayPicture avatar-51dc0e97ad151df14200004d avatar-s offline" data-original-title="Andy Trevorah&lt;br&gt;" style="background-image: url(https://www.gravatar.com/avatar/9496bed6a195a98d671fbaee17374fae?d=identicon);">
      <div class="trpStatus" id="status" data-original-title="" title=""> </div>
    </div>
  </div>

  <div class="trpMiniFavs">
    <div class="trpDisplayPicture avatar-4fd48bda40a7cc9644000003 avatar-s offline" data-original-title="Andrew Newdigate&lt;br&gt;Old Street, England" style="background-image: url(https://dnsjy61awi9j1.cloudfront.net/avatar/s/4fd48bda40a7cc9644000003/5.jpg);">
      <div class="trpStatus" id="status" data-original-title="" title=""> </div>
    </div>
    <div class="trpDisplayPicture avatar-4fd48c8040a7cc9644000022 avatar-s online" data-original-title="Mike Bartlett&lt;br&gt;Old Street, England" style="background-image: url(https://dnsjy61awi9j1.cloudfront.net/avatar/s/4fd48c8040a7cc9644000022/9.jpg);">
      <div class="trpStatus" id="status" data-original-title="" title=""> </div>
    </div>
    <div class="trpDisplayPicture avatar-51d146b595e7666866000644 avatar-s offline" data-original-title="Mauro&lt;br&gt;Old Street, England" style="background-image: url(https://www.gravatar.com/avatar/4605adbcd13e20c14e82fcf528b516e6?d=identicon);">
      <div class="trpStatus" id="status" data-original-title="" title=""> </div>
    </div>
    <div class="trpDisplayPicture avatar-51dc0e97ad151df14200004d avatar-s offline" data-original-title="Andy Trevorah&lt;br&gt;" style="background-image: url(https://www.gravatar.com/avatar/9496bed6a195a98d671fbaee17374fae?d=identicon);">
      <div class="trpStatus" id="status" data-original-title="" title=""> </div>
    </div>
  </div>
  <div class="trpMiniActions" style="position: absolute; bottom: 24px" >
    <div>
      <img src='{{cdn "images/2/icon-search@2x.png"}}'/ style="margin-left: 28px; margin-bottom: 14px" width="24" height="24" id="search-icon">
    </div>
    <div>
      <img src='{{cdn "images/2/icon-user@2x.png"}}'/ style="margin-left: 28px; margin-bottom: 14px" width="24" height="24" id="user-icon">
    </div>
    <div>
      <img src='{{cdn "images/2/icon-troupes@2x.png"}}'/ style="margin-left: 28px; margin-bottom: 14px" width="24" height="24" id="troupe-icon">
    </div> 
  </div>

</div>

<!-- 
  <div class="trpMenuTab" id="menu-toggle-button"><img src='{{cdn "images/2/menu-toggle.png" }}' width="40" height="40" id="menu-toggle">
    <div class="trpUnreadBadge" id="unread-badge"><div class="trpUnreadBadgeCount"></div></div>
  </div> -->


  <div class="trpHeaderWrapper" id="header-wrapper">
  </div>

  <div class="trpAlertWrapper" id="alert-panel">
    <div class="trpAlertContainer">
      <div class="trpAlertContent" id="alert-content">
      </div>
    </div>
  </div>

<div class="trpContentPanel" id="content-frame">
  <div class="trpChatPanel" id="chat-frame">
    <div class="trpChatContainer" id="frame-chat">
    </div>
  </div>
</div>


<div class="trpRightPanel" id="right-panel" style="display: none">
  <div class="trpImageBigThumbnail" id="image-preview">
  </div>
  <div class="trpFileDetails">
    <div class="trpButtonGreen">Download</div>
  </div>
</div>

<div class="trpToolbar" id="toolbar-frame" style="display: none">
</div>



<div class="trpChatInputWrapper" id="chat-input-wrapper">
  <div class="trpChatInputArea" id="chat-input">
  </div>
</div>

<div class="trpBlankPage"> </div>

<script type="text/javascript">
  window.troupeContext = {{{troupeContext}}};
  {{#if data}}
  window.troupePreloads = {{{data}}};
  {{/if}}
  {{#if trackingId}}
    window.troupeTrackingId = '{{trackingId}}';
  {{/if}}
</script>

{{>require_wrapper}}

{{{bootScript bootScriptName }}}


<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/BYBA0YJRpGVi5zrb99UoHQ.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>


</body>
</html>
