<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta charset="utf-8">

	<title>{{troupeName}} - Troupe</title>

	<link rel="stylesheet" href='{{cdn "play/newi.css" }}'>
  <link rel="stylesheet" href='{{cdn "bootstrap/css/trp2.css" }}'>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/edpmlaohjokcmefhjghaeeikjjcjplmi">

  {{>require_wrapper}}

  {{#login}}
    {{{bootScript "router-login" }}}
  {{/login}}

  {{^login}}
    {{{bootScript "app-integrated" }}}
  {{/login}}

	<script type="text/javascript">
	window.troupeContext = {{{troupeContext}}};
	</script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href='{{cdn "images/favicon.ico" }}'>

</head>
<body>

  <div class="left-menu-hotspot" id="left-menu-hotspot"></div>

  <div class="leftmenu" id="left-menu">
    <ul>
      <li>Souper Troupers</li>
      <li>Secret Project X</li>
      <li>Andrew Newdigate</li>
      <li>Development Team</li>
      <li>Richard</li>
      <li>Boris Johnson</li>
      <li>Chrome colour bug</li>
    </ul>
  </div>
  <div class="menutoggle" id="menu-toggle-button"><img src="images/menu-toggle.png" width="40" height="40" id="menu-toggle"></div>

  <div class="content" id="content-frame">
    <div class="header">
      <div class="header-content">Souper Troupers</div>
      <div class="header-toolbar">
        <div class="settings-button"><img src="images/settings24.png" style="opacity: 0.6"></div><div class="profile-button"><div class="display-picture-profile" style="background-image: url('dude.jpg')"></div></div>
      </div>
    </div>
    <div class="chatframe" id="chat-frame">
      <div class="chat-input">
        <div class="chat-input-display-picture" style="background-image: url('dude.jpg')"></div><div class="inputbox"><textarea class="inputboxtextarea" placeholder="Click here to say something."></textarea></div>
      </div>
      <div class="chat-content">
        <div class="chat-item">
          <div class="chat-input-display-picture" style="background-image: url('mike.png')"></div><div class="chatbox">awesome</div>
        </div>
        <div class="chat-item">
          <div class="chat-input-display-picture" style="background-image: url('andrew.png')"></div><div class="chatbox">looking great richard, the only one i wanted to discuss was the navigation menu, technically it's quite difficult to do, especially with older browser versions</div>
        </div>
        <div class="chat-item">
          <div class="chat-input-display-picture" style="background-image: url('richard.png')"></div><div class="chatbox">i've just uploaded the latest versions of the pictures, would you guys please take a look at them and give me some feedback please? can you let me know how you feel about them, both aesheticaly, and also from an implementation perspecitve.</div>
        </div>
      </div>

    </div>
    <div class="toolbar">
      <div class="people-roster" id="people-roster">
        <div class="display-picture" style="background-image: url('andrew.png')"></div>
        <div class="display-picture" style="background-image: url('mike.png')"></div>
        <div class="display-picture" style="background-image: url('richard.png')"></div>
      </div>
      <div class="file-list" id="file-list">
          <div class="toolbar-header">Files</div>
          <div class="thumbnail" style="background-image: url('thumbs/surfer.jpg')"></div>
          <div class="thumbnail" style="background-image: url('thumbs/brief.jpeg')"></div>
          <div class="thumbnail" style="background-image: url('thumbs/green shoes.jpeg')"></div>
          <div class="thumbnail" style="background-image: url('thumbs/script.jpeg')"></div>
          <div class="thumbnail" style="background-image: url('thumbs/shoe tread.jpeg')"></div>
          <div class="thumbnail" style="background-image: url('thumbs/shoe.jpeg')"></div>
          <div class="thumbnail" style="background-image: url('thumbs/waves.jpg')"></div>
      </div>
      <div class="mail-list" id="mail-list">
          <div class="toolbar-header">Mails</div>
          <div class="mail-item">
            <div class="mail-item-picture" style="background-image: url('mail16.png')"></div>
            <div class="mail-item-subject">New designs</div>
          </div>
          <div class="mail-item">
            <div class="mail-item-picture" style="background-image: url('mail16.png')"></div>
            <div class="mail-item-subject">Requirements for new UI</div>
          </div>
          <div class="mail-item">
            <div class="mail-item-picture" style="background-image: url('mail16.png')"></div>
            <div class="mail-item-subject">Update on AWS outage</div>
          </div>
          <div class="mail-item">
            <div class="mail-item-picture" style="background-image: url('mail16.png')"></div>
            <div class="mail-item-subject">Thoughts on evolution of the UI</div>
          </div>

      </div>
    </div>
  </div>


  <div class="rightpanel" id="right-panel">
    <div class="image-preview" id="image-preview">
      <img src="images/big surfer.jpg" width="240" height="240">
    </div>
    <div class="image-details">
  <!--     <span>Girlie surfer dude.jpg</span><br> -->
      <div class="button-green">Download</div>
    <div>
  </div>


  <div class="rightpanel" id="right-panel-file">
    <div class="image-preview" id="image-preview">
      <img src="images/big surfer.jpg" width="240" height="240">
    </div>
    <div class="image-details">
  <!--     <span>Girlie surfer dude.jpg</span><br> -->
      <div class="button-green">Download</div>
    <div>
  </div>

  <div class="rightpanel" id="right-panel-email">
    <div class="email-subject">Catching up</div>
    <div class="email-body">
      <p>Michael</p>

      <p>Just a quick note to catch up on your SA visit</p>

      <p>How are you progressing with finding accommodation in CT. I ask this as when chatting with Linda Boyce I mentioned that you were coming out late January. They are looking to sell their CT house after they have Christmas/New Year there. They will be back around mid January at the latest. I said that you were looking to pay the equivalent of about R 12-14 000 but that their house would command a rent of over R 20 000 and left it at that.</p>

      <p>When we went to see Skyfall with them on saturday Linda asked how you were progressing with accommodation. I said that you were still looking and did not press the issue. I raise this since if their house is standing empty after they leave they may consider making it available to you, but I am not sure. I wanted to sound you out on this. One scenario says you pay the rent you intended and stay there which would give them someone in the house. On the other hand it is out in Camps Bay. I dont know what you are doing for transport. Will you have a car or will Andrew transport you. Let me have your thoughts on this but continue to look around for yourself.</p>

      <p>Secondly the money I need to pay you. The Rand has strengthened and I can transfer it to you or would you like me to make a payment of the equivalent of GBP 310 to you while you are here? Let me know.</p>

      <p>Finally on the visit, do you have the dates for your arrival and departure for your SA trip?</p>

      <p>How are things going with Troupe. I saw your updated LinkedIn page. I also came across Andrews page but have forgotten his surname. He seems to have  impressive credentials. I looks as if you two make a good pairing for your venture.</p>

      <p>Love</p>

      <p>Dad</p>
    </div>
  </div>

</body>
</html>
