<!doctype html>
<html class="no-js loading" lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=IE10" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
	<meta charset="utf-8">
	<title>{{troupeName}} - Gitter</title>
  <link rel="stylesheet" href='{{cdn cssFileName }}'>
  <link id="favicon" rel="shortcut icon" href='{{cdn "images/favicon5.png" }}'>
  {{#each dnsPrefetch}}
  <link rel="dns-prefetch" href="{{ this }}">
  {{/each}}
  {{>load_font_css}}
</head>
<body class="logged-out">
  {{#if stagingText}}
    <div class="staging-indicator">
      {{#if stagingLink}}
        <a href="{{stagingLink}}" target="_blank">{{stagingText}}</a>
      {{else}}
        {{stagingText}}
      {{/if}}
    </div>
  {{/if}}

  {{#isMobile agent}}
    <div class="trpPortraitAlert" id='portrait-alert'>
      <div class="message">
        <img class="ipad-icon" src='{{cdn "images/icon-rotate-ipad.png"}}'>
        <p>Rotate iPad for better experience.</p>
        <img class="logo" src='{{cdn "images/menu-toggle.png" }}'>
      </div>
    </div>
  {{/isMobile}}

  <div class="trpLeftMenuHotspot" id="left-menu-hotspot"></div>
  <div class="trpLeftMenu menu" id="left-menu">
    <div class="trpLeftMenuContainer">
      <div class="trpLeftMenuLoggedOut">
        <div class="trpLeftMenuLogo">
          <div class="logo-container"></div>
        </div>
        <div class="trpLeftMenuInfo">
          <p>Gitter provides free public chat rooms for open source repositories on GitHub.</p>
          <br>
          <o>You can also use Gitter for private conversations amongst your organisation.</p>
        </div>
        <div class="trpLeftMenuSignup">
          <a href="/login/github?action=login&source=leftmenu-1" class="trpButtonBig trpBtnGreen gtrCreateRoomButton">Login with GitHub to start talking</a>
        </div>
      </div>
    </div>
  </div>


<div class="trpMenuTab login" id="menu-toggle-button">Login</div>

<div class="trpFramePanel" id="iframe-panel">
  <iframe id="content-frame" src="{{chatAppLocation}}" style="width: 100%; height: 100%; border: 0" frameBorder="0"></iframe>
</div>

{{{ generateTroupeContext troupeContext }}}

{{>require_wrapper}}
{{{ bootScript bootScriptName }}}
{{>live_reload}}
<style>

</style>

</body>
</html>
