<!DOCTYPE html>
  <html class="no-js loading" lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=IE10" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
  	<meta charset="utf-8">
  	<title>{{troupeName}} - Gitter</title>
    {{#each socialMetadata}}
    <meta property="{{@key}}" content="{{this}}"/>
    {{/each}}
    <link rel="stylesheet" href='{{cdn cssFileName }}'>

    {{!-- if you change this, you must change the favicon reference in titlebar.js --}}
    <link id="favicon" rel="shortcut icon" href='{{cdn "images/favicon-read.ico" }}'>

    {{#each dnsPrefetch}}
    <link rel="dns-prefetch" href="{{ this }}">
    {{/each}}
    {{>load_font_css}}
  </head>
  <body class='hover'>
    {{> staging_marker}}
    {{#isMobile agent}}
      <div class="trpPortraitAlert" id='portrait-alert'>
        <div class="message">
          <img class="ipad-icon" src='{{cdn "images/icon-rotate-ipad.png"}}'>
          <p>Rotate iPad for better experience.</p>
          <img class="logo" src='{{cdn "images/menu-toggle.png" }}'>
        </div>
      </div>
    {{/isMobile}}

    <div class='wrap'>
      <nav class="menu" id="menu">
        {{{ prerenderView "js/views/menu/tmpl/troupeMenu" }}}
      </nav>
      <div class="trpLeftMenuHotspot" id="left-menu-hotspot"></div>
      <div class="trpMenuTab unread-count" id="menu-toggle-button">{{#if unreadCount}}{{unreadCount}}{{else}}0{{/if}}</div>
      <div class="trpFramePanel" id="iframe-panel">
        <iframe id="content-frame" src="{{ chatAppLocation }}" style="width: 100%; height: 100%; border: 0" frameBorder="0"></iframe>
        <div class="loading-frame hide">
          <div class='loader'></div>
        </div>
      </div>
    </div>

    {{{ generateTroupeContext troupeContext }}}
    {{{ bootScript bootScriptName }}}
    {{> live_reload}}
  </body>
</html>
