<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta charset="utf-8">

	<title>{{troupeName}} - Troupe</title>

	<link rel="stylesheet" href='{{cdn "bootstrap/css/trp2.css" }}'>
  <link rel="stylesheet" href="bootstrap/css/trpChat.css"> 
  <link href='https://fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="chrome-webstore-item"
    href="https://chrome.google.com/webstore/detail/edpmlaohjokcmefhjghaeeikjjcjplmi">

  {{>require_config}}

  {{#login}}
    <script data-main='{{cdn "js/app-login.js" }}' src='{{cdn "js/libs/require/2.0.4/require-jquery-min.js" }}' type="text/javascript"></script>
  {{/login}}
  {{^login}}
    <script data-main='{{cdn "js/app.js" }}' src='{{cdn "js/libs/require/2.0.4/require-jquery-min.js" }}' type="text/javascript"></script>
  {{/login}}
	<script type="text/javascript">
	window.troupeContext = {{{troupeContext}}};
	</script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">

</head>
<body>
  <div class="trpHeaderWrap">
    <div class="trpHeaderContainer">
      <div class="trpHeader troupe-selector">
        <ul>
          <li><img src='{{cdn "images/2/logo-small.png" }}' width="20" height="32" class="trpSpace24"></li>
          <li class="trpHeaderTitle"><span class="label-troupeName">{{troupeName}}</span><img src='{{cdn "images/2/icon-dropdown.png" }}' class="trpSelectorArrow" width="13" height="12"></li>
        </ul>
      </div>
      <div class="trpHeaderRight">
        <ul>
          <li class="trpNotifyContainer" id="notify-icon"><span class="trpNotifyBadge">12</span></li>
          <li><img src='{{cdn "images/2/icon-small-add-green.png"}}' class="trpMenuIcon" id="add-icon" width="16" height="16"></li>
          <li><img src='{{cdn "images/2/icon-person.png" }}' class="trpMenuIcon" width="18" height="16" id="person-icon"></li>
          <li><img src='{{cdn "images/2/icon-settings.png" }}' class="trpMenuIcon" width="18" height="16" id="settings-icon"></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="trpTroupeSelector open" id="troupe-selector">

  </div>

  <div class="trpSettingsMenu trpMenu" class="open" id="troupe-settings-menu">
    <div class='trpMenuItem' id="install-chrome-extension"><a href="#">Install Google Chrome Extension</a></div>
  </div>

  <div class="trpUserMenu trpMenu" class="open" id="troupe-user-menu">
    <div class='trpMenuItem menu-profile'><a href="#">Profile</a></div>
    <div class='trpMenuItem'><a href="/signout">Log out</a></div>
  </div>

  <div class="trpAddMenu trpMenu" class="open" id="troupe-add-menu">
    <div class='trpMenuItem menu-add-person'><a href="#">Add people to this Troupe</a></div>
    <div class='trpMenuItem menu-add-troupe'><a href="#">Create a new Troupe</a></div>
  </div>

  <div class="trpNotifyMenu trpMenu" class="open" id="troupe-notify-menu">
    <div class='trpMenuItem'><a href="#">This is where cross-troupe notifications appear</a></div>
    <div class='trpMenuItem'><a href="#">They are still work in progress</a></div>
  </div>

  <div class="trpNavWrap">
    <div class="trpNavContainer">
      <div class="trpNav">
        <div class="trpNavItemContainer" id="nav-chat">
          <div class="trpNavItemIcon">
            <img src='{{cdn "images/2/icon-chat.png" }}' id="chat-icon" width="20" height="17">
          </div>
          <div class="trpNavItemText">
            <a href="#chat">Chat</a>
          </div>
          <div class="trpNavNotification label-notification"></div>
        </div>

        <div class="trpNavItemContainer" id="nav-mail">
          <div class="trpNavItemIcon">
            <img src='{{cdn "images/2/icon-mail.png" }}' id="mail-icon" width="19" height="11">
          </div>
          <div class="trpNavItemText">
            <a href="#mail">Mail</a>
          </div>
          <div class="trpNavNotification label-notification"></div>
        </div>

        <div class="trpNavItemContainer" id="nav-files">
          <div class="trpNavItemIcon">
            <img src='{{cdn "images/2/icon-files.png" }}' id="file-icon" width="19" height="18">
          </div>
          <div class="trpNavItemText">
            <a href="#files">Files</a>
          </div>
          <div class="trpNavNotification label-notification"></div>
        </div>

        <div class="trpNavItemContainer" id="nav-people">
          <div class="trpNavItemIcon">
            <img src='{{cdn "images/2/icon-people.png" }}' id="people-icon" width="21" height="19">
          </div>
          <div class="trpNavItemText">
            <a href="#people">People</a>
          </div>
          <div class="trpNavNotification label-notification"></div>
        </div>

      </div>
    </div>
  </div>

  <div class="trpContentWrap">
    <div class="trpContentContainer">

      <div class="contentBody" id="primary-view">

        <h3>Loading, loading, loading...</h3>
        <p>This is where a distracting loading graphic will be displayed....</p>
        <img src='{{cdn "images/ajax-loader.gif" }}'>

      </div>

    </div>
  </div>

</body>
</html>
