<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Gitter Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='{{cdn "styles/trpAppsPage.css" }}' rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link id="favicon" rel="shortcut icon" href='{{cdn "images/favicon-unread.ico" }}'>

    {{>require_wrapper}}
    {{{ bootScript "just-tracking" }}}
    {{{generateEnv }}}
    <!-- Le fav and touch icons -->
  </head>

  <body>

<!--     <div class="trpHomeTopStripContainer">
      <div class="trpHomeTopStrip">
        <div class="trpHomeLogo"><img src='{{ cdn "images/home-logo-black.png" }}' height="46" width="170"></div>
        <div class="trpHomeMenu">
          <div class="trpHomeMenuItem trpPadV14">Apps</div>
          <div class="trpHomeMenuItem trpPadV14">Support</div>
          <div class="trpHomeMenuItem trpPadV14 trpHand button-existing-users-login">Sign in</div>
      </div>
    </div> -->

    <div class="trpHomeHeroStripContainer trpHomeiOSAppHeroStripContainer">

      <div class="trpHomeTopStrip">
        <div class="logo-container"></div>
      </div>

      <div class="trpHomeHero">
        <div class="trpHeroText trpHeroMacAppText">
          Chat all the things, from anywhere.
          <br><br><br>
        </div>
        <div class="trpHeroSignup trpHeroAppStore">
          <div style="display: inline-block; text-align: center;">
            <img src='{{ cdn "images/macbook-pro.png" }}' style="height: 220px; margin-bottom: 20px"/><br>
            <a class="trpHomeMenuItem trpButtonMedium trpBtnWhite" href="http://update.gitter.im/osx/latest" target="downloadTarget"> Mac download </a>
<!--             <a class="trpHomeMenuItem trpButtonMedium trpBtnWhite" href="http://update.trou.pe/windows/latest.html" target="downloadTarget"> Windows download </a> -->
          </div>
          <div style="display: inline-block; text-align: center; margin-left: 40px">
            <img src='{{ cdn "images/iphone.png" }}' style="height: 220px; margin-bottom: 20px; opacity: 0.9"/><br>
            <a class="trpHomeMenuItem trpButtonMedium trpBtnWhite" href="http://appstore.com/gitter" target="_blank" id="button-appstore"> App Store </a>
          </div>
          <div style="display: inline-block; text-align: center; margin-left: 90px">
            <img src='{{ cdn "images/android.png" }}' style="height: 220px; margin-bottom: 20px; opacity: 0.6"/><br>
            <a class="trpHomeMenuItem trpButtonMedium trpBtnWhite" href="https://trello.com/b/ghYXB9rc/gitter-dev" target="_blank" id="button-appstore"> Android coming soon</a>
          </div>
        </div>
      </div>

    </div>






  </body>
</html>
