<!doctype html>
<html class="no-js {{#if hasCachedFonts}}fonts-loaded{{/if}}" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Earlybird Programme</title>
        <link rel="stylesheet" href="{{cdn 'styles/early-bird.css' }}">
        <link id="favicon" rel="shortcut icon" href="{{ cdn 'images/favicon-normal.ico' }}">
        {{> fonts}}
    </head>
    <body>
      <main class="main">

        <section class="container--clouds">
          <article class="panel--home">
            <a href="/" class="logo">
              {{> logo_man}}
              <img src="{{ cdn 'images/home/logo_nomargin@2x.png' }}" alt="Gitter" class="logo-image menu-animation">
            </a>
            <h1 class="h1">Let your community thrive</h1>
          </article>
        </section>

        <section class="container--secondary">
          <article class="panel">
            <h2 id-"early-bird" class="h2">Announcing our Earlybird Programme</h2>
            <p class="p">
              Our paid plans aren't availalable quite yet, we want to work with a handful of our
              communities to help us build and shape them. To make the relationship work properly,
              we're looking for a small committment to join the Earlybird programme. This will get
              you a 75% discount for one year on the plans. Please be aware that the functionality
              will not be available when you first join the plan. You will still receive premium
              support and access to our community expert team until the plans are available.
            </p>
          </article>
        </section>

        <section class="container">
          <article class="panel">
            <h2 id="paid-plans" class="h2">What's in the paid plans</h2>
            <p class="p">
              The basic features of Gitter you know and love today will continue to remain free.
              Our paid plans help community owners understand and reach your audience better and
              gain access to premium support, advice and promotion.
            </p>
          </article>
        </section>

        <section class="container--grid">
          <article class="panel--advantage">

            <div class="cell-advantage">
              <img class="advantage__image" width="66" height="66" src="{{cdn "images/svg/early-bird/know-your-audience.svg"}}" />
              <h3 class="h3">Know your audience</h3>
              <p class="p--plan">
                <small>
                  Community insights allows you to see exactly what's happening in your community.
                  Where are people coming from, tracking your growth and retention.
                </small>
              </p>
            </div>

            <div class="cell-advantage">
              <img class="advantage__image" width="66" height="66" src="{{cdn "images/svg/early-bird/reach-your-audience.svg"}}" />
              <h3 class="h3">Reach your audience</h3>
              <p class="p--plan">
                <small>
                  Community marketing tools enables you to reach your audience beyond chat.
                  Post updates to all of your users via annoucements and email.
                </small>
              </p>
            </div>

            <div class="cell-advantage">
              <img class="advantage__image" width="66" height="66" src="{{cdn "images/svg/early-bird/control-your-brand.svg"}}" />
              <h3 class="h3">Control your brand</h3>
              <p class="p--plan">
                <small>
                  Change the appearence of your community and control your logo in update and notification emails.
                </small>
              </p>
            </div>

            <div class="cell-advantage">
              <img class="advantage__image" width="66" height="66" src="{{cdn "images/svg/early-bird/expert-advice.svg"}}" />
              <h3 class="h3">Expert advice</h3>
              <p class="p--plan">
                <small>
                  Not only will you get premium support,
                  but access to our community managers to help you grow and manage your community.
                </small>
              </p>
            </div>

            <div class="cell-advantage">
              <img class="advantage__image" width="66" height="66" src="{{cdn "images/svg/early-bird/stand-out-in-the-crowd.svg"}}" />
              <h3 class="h3">Stand out in the crowd</h3>
              <p class="p--plan">
                <small>
                  Promote your community in our directory and community suggestion tools and let more people find out about you.
                </small>
              </p>
            </div>

            <div class="cell-advantage">
              <img class="advantage__image" width="66" height="66" src="{{cdn "images/svg/early-bird/early-access.svg"}}" />
              <h3 class="h3">Early acceess</h3>
              <p class="p--plan">
                <small>
                  By signing up to our Earlybird programme,
                  you'll get first access to our new community management tools and help us shape our roadmap around your needs.
                </small>
              </p>
            </div>

          </article>
        </section>

        <section class="container--tertiary">
          <article class="panel">
            <h2 id="pricing" class="h2--secondary">Pricing</h2>
            <p class="p--secondary">
              Our paid plans will launch early in 2017. By signing up now you receive a 75% discount for one year.
              This will entitle you to premium support and access to our community experts until the premium features launch.
              We'll be directly in touch with you as we're building our features and your input will help us shape the product and roadmap.
            </p>
          </article>
        </section>

        <section class="container--tertiary container--grid">
          <article class="panel--payment">

            <section class="cell-payment payment">

              <header class="payment__header--primary">
                <h6 class="h6--payment-name">Cosy</h6>
                <h2 class="h2--payment">$12.50</h2>
                <h6 class="h6--payment-feature">per month for one year</h6>
              </header>

              <article class="payment__body">
                <p class="p--payment">The Cosy community plan allows up to 100 people in your community</p>
                <h6 class="h6"><i>Usually $50 per month</i></h6>
              </article>

              <footer class="payment__footer">
                <a href="mailto:earlybird@gitter.im?subject=Gitter%20Early%20Bird%20Cosy"
                   class="button-caribbean--small payment__footer__button">
                  Enquire
                </a>
              </footer>
            </section>

            <section class="cell-payment payment">

              <header class="payment__header--secondary">
                <h6 class="h6--payment-name">Town Hall</h6>
                <h2 class="h2--payment">$62.50</h2>
                <h6 class="h6--payment-feature">per month for one year</h6>
              </header>

              <article class="payment__body">
                <p class="p--payment">For larger communities, the Town Hall allows up to 1,000 people in your community.</p>
                <h6 class="h6"><i>Usually $250 per month</i></h6>
              </article>

              <footer class="payment__footer">
                <a href="mailto:earlybird@gitter.im?subject=Gitter%20Early%20Bird%20Town%20Hall"
                  class="button-caribbean--small payment__footer__button">
                  Enquire
                </a>
              </footer>
            </section>

            <section class="cell-payment payment">

              <header class="payment__header--tertiary">
                <h6 class="h6--payment-name">Enterprise</h6>
                <h2 class="h2--payment">$250</h2>
                <h6 class="h6--payment-feature">per month for one year</h6>
              </header>

              <article class="payment__body">
                <p class="p--payment">Wow, you're popular! The Enterprise plan allows up to 5,000 people in your community.</p>
                <h6 class="h6"><i>Usually $1000 per month</i></h6>
              </article>

              <footer class="payment__footer">
                <a href="mailto:earlybird@gitter.im?subject=Gitter%20Early%20Bird%20Enterprise"
                  class="button-caribbean--small payment__footer__button">
                  Enquire
                </a>
              </footer>
            </section>


          </article>
        </section>

        <section class="container--tertiary container--grid">
          <article class="panel">
            <p class="p--secondary">
              <small>
                We won't immediately start charging you if your community grows.
                We'll get in touch and discuss your needs. For communities larger than 5,000 people let's chat about how we can help.
              </small>
            </p>

            <p class="p--secondary">
              <small>
                <b>Satisfaction Guarantee</b>. We're very much aware you're signing up to a promise and to build a relationship with us.
                If at any point you're dissatisfied with the results or progress, we'll refund you in full for the entire time you've
                been on the plan.
              </small>
            </p>
          </article>
        </section>

      </main>
      {{{ bootScript "early-bird" jsRoot=jsRoot }}}
    </body>
</html>
