<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gitter &mdash; Explore</title>
    <link id="favicon" rel="shortcut icon" href="{{ cdn 'images/favicon-normal.ico' }}">
    {{!-- <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,100"> --}}
    <link rel="stylesheet" type="text/css" href="{{ cdn 'styles/explore.css' }}">
  </head>
  <body>
    <header class="page-header">
      <div class='wrap--large'>
        <div class='logo'>{{> logo }}</div>
      </div>
      <div class='wrap'>
        <h1 class="title">Explore <b>Gitter</b></h1>
        <p>Find great chat rooms <b>&amp;</b> communitites we <span class="octicon octicon-heart"></span></p>
        <form action='/explore/tags' class='js-search-form'>
          <p><input name='search' id='search' class='page-header__search' type='search' placeholder='Search for tags... e.g. node' /></p>
        </form>
        <p>or try one of our selected tags: <a href='/explore/tags/javascript' class='js-pills'><span class='pill--primary'>JavaScript</span></a> <a href='/explore/tags/ruby' class='js-pills'><span class='pill--primary'>Ruby</span></a> or <a href='/explore/tags/php' class='js-pills'><span class='pill--primary'>PHP</span></a></p>
      </div>
    </header>
    <section class="page-result">
      {{#if rooms}}
        <p>Displaying results for: <b>{{ tags }}</b></p>
      {{else}}
        <p><span class="octicon octicon-stop"></span> Damn. Sorry about that. No results found for: <b>{{ tags }}</b></p>
      {{/if}}
    </section>
    <div class='page-content'>
      <div class='wrap--large'>
        {{#if rooms}}
          <div class="page-content__room-list">
            {{#each rooms}}
              <a class='room-item  js-room-item' href="/{{ room.uri }}?source=explore">
                <header>
                  <img class="room-item__avatar" src="https://avatars.githubusercontent.com/{{ owner }}?s=80">
                  <h3 class="repo-name">
                  {{#each roomNameParts}}
                    {{!-- if index is greater than 0, add a slash --}}
                    {{#if @index}}
                    <span>/</span>
                    {{/if}}
                    <span class="repo-name__collapsable">{{ this }}</span>
                  {{/each}}
                  </h3>
                </header>
                <section class='room-item__description'>
                  <small>{{ description }}</small>
                </section>
                <section class='room-item__content'>
                  {{!-- <p>Some content, content about something.</p> --}}
                </section>
                <footer>
                  <small><span class="octicon octicon-organization"></span> {{ room.users.length }} {{ pluralize room.users.length 'person' 'people'}}</small>
                  <small><span class="octicon octicon-comment-discussion"></span> {{ formatNumber messageCount }} {{ pluralize messageCount 'message' 'messages'}}</small>
                </footer>
              </a>
            {{/each}}
          </div>
        {{/if}}
        <div class='page-content__new-room'>
          <h1><span class="mega-octicon octicon-search"></span> Haven't found what you're looking for?</h1>
          <p><a href='/#createroom' class='btn--primary  js-create-new'><span class="octicon octicon-plus"></span> Create a room</a></p>
        </div>
      </div>
    </div>
    <footer>
      <p>Our team is <b>proud</b> to host thousands of public conversations for open-source communities, for free. <b>Gitter</b>, where developers come together to talk.</p>
      <p><a href='/?redirect=no' class='btn--secondary  js-find-out'><span class="octicon octicon-telescope"></span> Find out more</a></p>
      {{!-- <small>Gitter &mdash; 2014 &copy;</small> --}}
    </footer>
    <script type="text/javascript" src="//use.typekit.net/ohh4mcl.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {{> require_wrapper }}
    {{{ bootScript 'explore' }}}
    {{{ generateEnv }}}
    {{> live_reload}}
  </body>
</html>
