<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gitter &mdash; Explore</title>
    <link id="favicon" rel="shortcut icon" href="{{ cdn 'images/favicon-normal.ico' }}">
    {{!-- <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,100"> --}}
    <link rel="stylesheet" type="text/css" href="{{ cdn 'styles/explore.css' }}">
  </head>
  <body>

    <div class="explore-page-wrap">

      <header class="explore-header-section">
        <h1 class="h1">
          Explore
        </h1>

        <section class="secondary-header-info-bar">
          <div class="secondary-header-info-bar__group">
            <div class="secondary-header-info-bar__item">
              <i class="secondary-header-info-bar__item-icon icon-user"></i>
              <span>320K+ People</span>
            </div>
            <div class="secondary-header-info-bar__item">
              <i class="secondary-header-info-bar__item-icon icon-chat-empty"></i>
              <span>100K+ Rooms</span>
            </div>
            <div class="secondary-header-info-bar__item">
              <i class="secondary-header-info-bar__item-icon icon-users"></i>
              <span>40K+ Communities</span>
            </div>
            <div class="secondary-header-info-bar__item">
              <i class="secondary-header-info-bar__item-icon icon-globe"></i>
              <span>74+ Countries</span>
            </div>
          </div>


          <div class="secondary-header-info-bar__group explore-header-info-bar__mobile-group">
            <div class="explore-header-info-bar__mobile-diagram">
              <i class="explore-header-info-bar__mobile-icon icon-mobile"></i>
            </div>

            <a href="http://appstore.com/gitter" target="_blank" class="explore-header-info-bar__mobile-item">
              <i class="secondary-header-info-bar__item-icon icon-apple"></i>
              <span>IOS</span>
            </a>
            <a href="https://play.google.com/store/apps/details?id=im.gitter.gitter" target="_blank" class="explore-header-info-bar__mobile-item">
              <i class="secondary-header-info-bar__item-icon icon-android"></i>
              <span>Android</span>
            </a>
          </div>
      </header>


      <section class="explore-pill-list-section">
        <div class="explore-pill-list-section-header">
          <h2 class="h2">
            Simply toggle tags to discover Communities
          </h2>

          <div>
            <div>
              Can't find what you're looking for?
            </div>
            <button class="subdued-button-jaffa--xsmall">
              Create your own
            </button>
          </div>
        </div>

        <ul class="tag-pill-list js-explore-tag-pills-list">
          {{#each tagMap}}
            <li class="tag-pill-list-item">
              <button class="tag-pill {{when this.selected 'is-active' : ''}} js-explore-tag-pill" data-tags="{{#each this.tags}}{{this}}{{#unless @last}},{{/unless}}{{/each}}">
                {{this.name}}
              </button>
            </li>
          {{/each}}

          <li class="tag-pill-list-pagination-item">
            <button class="tag-pill-list-pagination-more-button js-explore-show-more-tag-pills">
              More
            </button
          </li>
        </ul>
      </section>

      <section class="explore-room-card-list-section">
        {{#if rooms}}
          <div class="explore-room-card-list">
            {{#each rooms}}
              {{> room_card
                linkSource='explore'
                extraClasses='js-explore-room-card'
                isLoggedIn=../isLoggedIn
                canEditTags=../canEditTags
              }}
            {{/each}}
          </div>
        {{/if}}
      </div>
    </section>


    <script type="text/javascript" src="//use.typekit.net/ohh4mcl.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {{{ generateEnv }}}
    {{{ bootScript 'explore' }}}
    {{> live_reload}}
  </body>
</html>
