<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gitter &mdash; Explore</title>
    <link id="favicon" rel="shortcut icon" href="{{ cdn 'images/favicon-normal.ico' }}">
    {{!-- <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,100"> --}}
    <link rel="stylesheet" type="text/css" href="{{ cdn 'styles/explore.css' }}">
  </head>
  <body>
    <header class="page-header">

    <ul class="tag-pill-list">
      {{#each tagMap}}
        <li class="tag-pill-list-item">
          <input type="checkbox" class="tag-pill-checkbox-toggle" id="tag-pill-checkbox-toggle-{{@key}}">
          <label class="tag-pill" for="tag-pill-checkbox-toggle-{{@key}}">
            {{this}}
          </label>
        </li>
      {{/each}}

      <li class="tag-pill-list-pagination-item">
        More
      </li>
    </ul>

    <div>
      {{#if rooms}}
        <div class="page-content__room-list">
          {{#each rooms}}
            <a class='explore-room-item  js-room-item' href="/{{ room.uri }}?source=explore" target="_parent">
              <header>
                <img class="explore-room-item__avatar" src="https://avatars.githubusercontent.com/{{ owner }}?s=80">
                <h3 class="repo-name">
                {{#each roomNameParts}}
                  {{!-- if index is greater than 0, add a slash --}}
                  {{#if @index}}
                  <span>/</span>
                  {{/if}}
                  <span class="repo-name__collapsable">{{ this }}</span>
                {{/each}}
                </h3>
              </header>
              <section class='explore-room-item__description'>
                <small>{{ description }}</small>
              </section>
              <section class='explore-room-item__content'>
                {{!-- <p>Some content, content about something.</p> --}}
              </section>
              <footer>
                <small><span class="octicon octicon-organization"></span> {{ room.userCount }} {{ pluralize room.userCount 'person' 'people'}}</small>
                <small><span class="octicon octicon-comment-discussion"></span> {{ formatNumber messageCount }} {{ pluralize messageCount 'message' 'messages'}}</small>
              </footer>
            </a>
          {{/each}}
        </div>
      {{/if}}
    </div>


    <script type="text/javascript" src="//use.typekit.net/ohh4mcl.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {{{ generateEnv }}}
    {{{ bootScript 'explore' }}}
    {{> live_reload}}
  </body>
</html>
