<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="favicon" rel="shortcut icon" href="{{ cdn 'images/favicon-normal.ico' }}">
    {{!-- <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,100"> --}}
    <link rel="stylesheet" type="text/css" href="{{ cdn 'styles/explore.css' }}">
  </head>
  <body>
    <header class="page-header">
      <nav>
        <a href="/" >
          <img class="logo" src="/images/logo-text-white-32.png" alt="Gitter" title="Gitter logo">
        </a>
      </nav>
      <h1 class="title">Explore<br/>{{tag}}</h1>
    </header>
    <section>
      <p>
        We host thousands of public communities where developers come to talk.<br/>Here are some of our favourite {{tag}} rooms.
      </p>
    </section>
    <ul class="room-list">
    {{#each rooms}}
      <li class='room-item'>
        <section>
          <header>
            <img class="room-item__avatar" src="{{repo.owner.avatar_url}}&s=80"><h3>{{shortName}}</h3>
          </header>
          <small>{{repo.description}}</small>
        </section>
        <div class='room-item__foot'>
          <small>{{room.users.length}} online</small>
          •
          <small>00k messages</small>
        </div>
      </li>
    {{/each}}
    </ul>
    <script type="text/javascript" src="//use.typekit.net/ohh4mcl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </body>
</html>
