<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="favicon" rel="shortcut icon" href="{{ cdn 'images/favicon-normal.ico' }}">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,100">
    <style type="text/css">
      * {
        font-family: proxima-nova-alt,"Proxima Nova Alt",sans-serif;
      }

      h1, h2, h3, h4 {
        font-family: DP,sans-serif;
        font-weight: normal;
        letter-spacing: -1px;
      }

      .avatar {
        float: left;
        border-radius: 3px;
        margin-right: 8px;
      }

      .room-list {
        list-style: none;
        padding-left: 0;
      }

      .room-heading {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .user-count {
        float: right;
      }

      .see-all-link {
        float: right;
      }

      .page-header {
        height: 85%;
        background-color: #231f20;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .logo {
        opacity: 0.3;
        height: 16px;
      }

      html {
        height: 100%;
      }

      body {
        height: 100%;
        margin: 0;
      }

      nav {
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px;
      }

      .title {
        text-transform: uppercase;
        color: #fff;
        font-weight: 100;
        letter-spacing: 0.1em;
        text-align: center;
        line-height: 2em;
      }

      .room-item {
        box-sizing: border-box;
        /*max-width: 500px;*/
        /* cursor: pointer; */
        background-color: #222222;
        color: white;
        /* padding: 0.625em; */
        margin-bottom: 20px;
      }
      .room-item * {
        box-sizing: border-box;
      }

      .room-item h1,
      .room-item h2,
      .room-item h3,
      .room-item h4,
      .room-item h5 {
        margin: 0;
      }
      .room-item header {
        background-color: #3b3b3b;
        padding: 0.625em;
        overflow: hidden;
      }
      .room-item__avatar {
        color: black;
        float: left;
        width: 25%;
      }
      .room-item__avatar img {
        max-width: 100%;
      }
      .room-item__head {
        width: 75%;
        padding: 0 0.625em;
        float: right;
        text-align: right;
      }
      .room-item__content {
        border-top: 0.3em solid #2e2e2e;
        text-align: center;
        padding: 1.25em;
      }
      .room-item__foot {
        text-transform: uppercase;
        padding: 0.625em;
        background-color: #6e6e6e;
      }

    </style>
  </head>
  <body>
    <header class="page-header">
      <nav>
        <a href="/" >
          <img class="logo" src="/images/logo-text-white-32.png" alt="Gitter" title="Gitter logo">
        </a>
      </nav>
      <h1 class="title">Explore<br/>javascript</h1>
    </header>
    <p>
      We host thousands of public communities where developers come to talk.<br/>Here are some of our favourite javascript rooms.
    </p>
    {{#each tags}}
    <ul class="room-list">
    {{#each rooms}}
      <li class='room-item'>
        <header>
          <div class="room-item__avatar">
            <img src="https://avatars.githubusercontent.com/{{owner}}?v=2&s=200">
          </div>
          <div class='room-item__head'>
            <h1>{{room.uri}}</h1>
            <small><span class="octicon octicon-location"></span> Nowheresville, USA</small>
            <p>{{room.topic}}</p>
          </div>
        </header>
        <div class='room-item__content'>
          <h2>SOMETHING INTERESTING HERE</h2>
          <p>BUT WHAT?</p>
        </div>
        <div class='room-item__foot'>
          <small>{{activeUsers.length}} online</small>
          •
          <small>00k messages</small>
        </div>
      </li>
    {{/each}}
    </ul>
    {{/each}}
  </body>
</html>
