<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="favicon" rel="shortcut icon" href="{{ cdn 'images/favicon-normal.ico' }}">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:700,400,300">
    <style type="text/css">
      * {
        font-family: proxima-nova-alt,"Proxima Nova Alt",sans-serif;
      }

      h1, h2, h3, h4 {
        font-family: DP,sans-serif;
        font-weight: normal;
        letter-spacing: -1px;
      }

      .avatar {
        float: left;
        border-radius: 3px;
        margin-right: 8px;
      }

      .room-list {
        list-style: none;
        padding-left: 0;
      }

      .room-list-item {
        margin-bottom: 20px;
        min-height: 40px;
      }

      .room-heading {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .user-count {
        float: right;
      }

      .see-all-link {
        float: right;
      }
    </style>
  </head>
  <body>
    <h1><a href="/explore">Explore</a></h1>
    {{#each tags}}
    <header>
      <a class="see-all-link" href="/explore/tags/{{name}}">See all ></a>
      <h2>{{name}}</h2>
    </header>
    <ul class="room-list">
    {{#each rooms}}
      <li class="room-list-item">
        <img class="avatar" src="https://avatars.githubusercontent.com/{{owner}}?s=80" width="40" height="40">
        <h3 class="room-heading"><a href="/{{room.uri}}">{{room.uri}}</a></h3>
        <small>{{#if room.topic}}{{room.topic}}{{else}}<i>No topic</i>{{/if}}</small>
        <small class="user-count">Users: {{activeUsers.length}}</small>
      </li>
    {{/each}}
    </ul>
    {{/each}}
  </body>
</html>
