<!doctype html>
<html class="no-js" lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Gitter &mdash; Где общаются разработчики</title>

        <meta name="description" content="Where developers come to talk.">

        {{#each socialMetadata}}
        <meta property="{{@key}}" content="{{this}}"/>
        {{/each}}

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{cdn 'styles/homepage.css' }}">


        <link id="favicon" rel="shortcut icon" href="{{ cdn 'images/favicon-normal.ico' }}">

        {{> load_font_css }}
    </head>
    <body class="wordy">
      <header id="intro-panel">
        <nav class="site-nav">
          <div class="wrap">

            <a href="/" class="logo">
              {{> logo_man}}
              <img src="{{ cdn 'images/home/logo.png' }}" alt="Gitter" title="Gitter logo" class="logo-image menu-animation">
            </a>

            <div class="top-navigation menu-animation">
              <a href="#integrations-panel">Интеграция</a>
              <a href="#pricing-panel">Тарифы</a>
              <a href="#apps-panel">Приложения</a>
            </div>

            <a class="btn login" href="/login/github?action=login&source=intro-login">
              <b>существующие пользователи</b>
            </a>
          </div>
        </nav>
        <div class="wrap">
          <div class="map"><img class="bg" src="{{cdn 'images/home/map.png'}}" alt="There should be a map here"></div>
          <h1>Где общаются разработчики</h1>
          <p>У нас размещаются тысячи публичных сообществ, в которых разработчики со всего мира собираются, чтобы обговорить будущее программирования, создавать лучшие продукты и поделиться лучшими картинками котов.</p>

          <a class="btn signup" href="/login/github?action=signup&source=intro-signup">
            <img src="{{cdn 'images/home/github.png'}}"> <b>Зарегистрируйтесь с GitHub</b>
          </a>
          <div class="legal">
            <span>
              <a href="https://gitter.zendesk.com/hc/en-us/sections/200274872-Legal-documentation" target="_blank">Регистрируясь, вы соглашаетесь с условиями пользовательского соглашения.</a>
            </span>
          </div>


          <ul class="mini-features-list">
            <li>
              <img src="{{cdn 'images/home/quill.png'}}" alt="Quill icon">
              <h2>Markdown</h2>
              <span>Мечтали о полной поддержке markdown в чате? А как на счет подсветки синтаксиса? Их есть у нас!</span>
            </li>

            <li>
              <img src="{{cdn 'images/home/shield.png'}}" alt="Shield icon">
              <h2>Конфиденциальные</h2>
              <span>Открытые комнаты прекрасны (и бесплатны), но некоторые вещи являются конфиденциальными. У нас есть решение и для этого.</span>
            </li>

            <li>
              <img src="{{cdn 'images/home/cloud.png'}}" alt="Shield icon">
              <h2>Интегрированный</h2>
              <span>Это картинка облака на фоне облаков. Вы угадали ! Мы интегрируемся с множеством облачных продуктов.x</span>
            </li>
          </ul>
        </div>
        <div class='bg-animation'>{{!-- the div below is responsible for the fadein of the background --}}</div>
      </header>

      <section id="communities-panel">
        <div class="wrap">
          <h1>
            Некоторые из наших сообществ

            <a class="btn secondary" href="/login/github?action=signup&source=communities">
              Создай собственное
            </a>
          </h1>

          <div class="communities">
            <nav class="communities-tabs">
              <a class="active" data-tab-index="0">
                <img src="https://avatars1.githubusercontent.com/u/5990364?s=200" width="48" height="48">

                <h3>GitterHQ</h3>
                <em>Let’s talk about Gitter!</em>
              </a>

              <a data-tab-index="1">
                <img src="https://avatars1.githubusercontent.com/u/5990364?s=200" width="48" height="48">

                <h3>GitterHQ</h3>
                <em>Let’s talk about Gitter!</em>
              </a>

              <a data-tab-index="2">
                <img src="https://avatars1.githubusercontent.com/u/5990364?s=200" width="48" height="48">

                <h3>GitterHQ</h3>
                <em>Let’s talk about Gitter!</em>
              </a>

              <a data-tab-index="3">
                <img src="https://avatars1.githubusercontent.com/u/5990364?s=200" width="48" height="48">

                <h3>GitterHQ</h3>
                <em>Let’s talk about Gitter!</em>
              </a>
            </nav>

            <div class="chat-frame">
              <iframe id="embedded-chat" src="/gitterHQ/gitter/~embed"></iframe>
            </div>
          </div>
        </div>
      </section>

      <section id="integrations-panel">
        <div class="wrap">
          <h1>Интеграция с вашим рабочим процессом</h1>
          <p>Gitter создан на базе GitHub и хорошо интегрирован с вашими организациями, хранилищами, проблемами и деятельностью.</p>
          <p>Мы обеспечили интеграцию с Trello, Jenkins, Travis CI, Heroku, Sentry, BitBucket, HuBoard, Logentries, Pagerduty и Sprintly. Мы также принимаем пользовательские webhook-и и имеем хранилища с открытым исходным кодом для интеграции на ровне с гибким <a href="http://developer.gitter.im" target="_blank">API</a>.</p>

          <div class="loves">
            <img src="{{cdn 'images/home/gitter-loves.png'}}" alt="Gitter loves">
            <ul>
              <li><img src="{{cdn 'images/home/github-logo.jpg'}}" title="Github"></li>
              <li><img src="{{cdn 'images/home/gitlab-logo.jpg'}}" title="Gitlab"></li>
              <li><img src="{{cdn 'images/home/bitbucket-logo.jpg'}}" title="Bitbucket"></li>
              <li><img src="{{cdn 'images/home/heroku-logo.jpg'}}" title="Heroku"></li>
              <li><img src="{{cdn 'images/home/huboard-logo.jpg'}}" title="Huboard"></li>
              <li><img src="{{cdn 'images/home/jenkins-logo.jpg'}}" title="Jenkins"></li>
              <li><img src="{{cdn 'images/home/pagerduty-logo.jpg'}}" title="Pagerduty"></li>
              <li><img src="{{cdn 'images/home/logentries-logo.jpg'}}" title="Logentries"></li>
              <li><img src="{{cdn 'images/home/sprintly-logo.jpg'}}" title="Sprintly"></li>
              <li><img src="{{cdn 'images/home/travis-logo.jpg'}}"  title="Travis"></li>
              <li><img src="{{cdn 'images/home/trello-logo.jpg'}}" title="Trello"></li>
              <li><img src="{{cdn 'images/home/sentry-logo.jpg'}}" title="Trello"></li>
            </ul>
          </div>
        </div>
      </section>

      <section id="testimonials-panel">
        <div class="wrap">
          <div class="quotes">
            <blockquote>
              <img src="{{cdn 'images/home/samccone.jpeg'}}">

              <cite><b>Sam Saccone</b><span class="no-small">, Marionette.js Lead</span>:</cite>
              <p>Gitter has helped to bring the Marionette community together, turning it into a thriving collaborative environment that has been exceedingly beneficial to both our endusers and maintainers.</p>
            </blockquote>

            <blockquote>
              <img src="{{cdn 'images/home/dscape.jpeg'}}">

              <cite><b>Nuno Job</b><span class="no-small">, Founder YLD</span>:</cite>
              <p>Gitter helped us shape our distributed company culture. We use Github everyday, and Gitter is how we communicate around our work. Team spirit has gone up and we can see how much more people collaborate.</p>
            </blockquote>

<!--             <blockquote>
              <img src="{{cdn 'images/home/avi.jpeg'}}">

              <cite><b>Avi Flombaum</b><span class="no-small">, Dean @ Flatiron School</span>:</cite>
              <p>AWESOME!</p>
            </blockquote> -->

            <blockquote>
              <img src="{{cdn 'images/home/diasdavid.jpeg'}}">

              <cite><b>David Dias</b><span class="no-small">, LXJS Conference Organiser</span>:</cite>
              <p>Gitter was an essential tool, not only for organising LXJS but to create a thriving community amongst our attendees before, during and even after the conference.</p>
            </blockquote>

            <blockquote>
              <img src="{{cdn 'images/home/doge.jpeg'}}">

              <cite><b>Doge</b><span class="no-small">, Chief Woofing Officer</span>:</cite>
              <p>Wow chat. Much awesome.</p>
            </blockquote>

          </div>

          <h1>Любимый нашими пользователями</h1>
          <p>Без людей, которые пользуются им день ото дня, Gitter является ничем.</p>
          <p>Мы спросили некоторых пользователей, что для них означает Gitter и вот что они должны были сказать. Если вам нравится Gitter, пишите об этом в Twitter пользователю <a href="https://twitter.com/gitchat" target="_blank">@gitchat</a>, и мы будем обновлять эти сообщения каждый месяц.<br><br></p>
        </div>
      </section>

      <section id="pricing-panel">
        <div class="wrap">
          <div class="half">
            <h1>Отдельные пользователи</h1>

            <article class="price ghost">
              <header>
                <b>Бесплатный</b>

                <h1>
                  $0
                  <b>Навсегда</b>
                </h1>
              </header>

              <ul>
                <li>Неограниченные общие комнаты</li>
                <li>1 частная комната</li>
                <li>История чата за 2 недели</li>
              </ul>

              <a class="btn signup full" href="/login/github?action=signup&source=pricing.free"><b>Стартуйте бесплатно</b></a>
            </article>

            <article class="price purple">
              <header>
                <b>Индивидуальный</b>

                <h1>
                  $2
                  <b>Месячный</b>
                </h1>
              </header>

              <ul>
                <li>Неограниченные общие комнаты</li>
                <li>Неограниченные частные комнаты**</li>
                <li>Неограниченная история чата</li>
              </ul>

              <a class="btn signup full" href="{{billingBaseUrl}}/plan/personal"><b>Купите сейчас</b></a>
            </article>
          </div>

          <div class="half">
            <h1>Организации</h1>

            <article class="price mix">
              <header>
                <b>Броза</b>

                <h1>
                  $2
                  <b>За пользователя в месяц</b>
                </h1>
              </header>

              <ul>
                <li>Неограниченные общие комнаты</li>
                <li>Неограниченные частные комнаты***</li>
                <li>История чата за 6 месяцев</li>
              </ul>

              <a class="btn signup full" href="{{billingBaseUrl}}/plan/bronze">Купите сейчас</a>
            </article>

            <article class="price orange">
              <header>
                <b>Серебро</b>

                <h1>
                  $5
                  <b>За пользователя в месяц</b>
                </h1>
              </header>

              <ul>
                <li>Неограниченные общие комнаты</li>
                <li>Неограниченные частные комнаты***</li>
                <li> Неограниченная история чата</li>
              </ul>

              <a class="btn signup full" href="{{billingBaseUrl}}/plan/silver"><b>Купите сейчас</a>
            </article>
          </div>
          <div class="wrap fine-print">
            <p>* Наш бесплатный план включает одну приватную комнату в GitHub для организации, к которой вы относитесь</p>
            <p>** Наш индивидуальный план позволяет вам создавать приватные комнаты в качестве владельца, используя свою личную учетную запись</p>
            <p>*** Наши планы для организаций позволяют вам создавать приватные комнаты, используя в качестве владельца GitHub</p>
            <div class="legal">
              <a href="https://gitter.zendesk.com/hc/en-us/sections/200274872-Legal-documentation" target="_blank">Регистрируясь, вы соглашаетесь с условиями пользовательского соглашения.</a>
            </div>
          </div>
        </div>
      </section>

      <section id="apps-panel">
        <div class="wrap">
          <div class="devices">
            <div class="laptop">
              <img class="screenshot" src="{{cdn 'images/home/screenshot.png'}}">
              <img class="computer" src="{{cdn 'images/home/laptop.png'}}">
            </div>

            <img class="phone" src="{{cdn 'images/home/phone.png'}}">
          </div>

          <h1>Присоединяйтесь к Gitter сейчас!</h1>
          <p>Gitter доступен для всех современных браузеров, а также в виде мобильных приложений и приложений для рабочего стола.</p>
          <p>У нас уже есть приложения для OSX, iOS и браузера Chrome, и мы работаем над созданием приложений для систем Android, Linux и Windows. Также у нас есть милый <a href="https://irc.gitter.im" target="_blank">IRC</a> мост.</p>

          <p>
            <a class="btn secondary osx" href="/apps">Загрузить</a>
            <a class="btn outline" href="/apps">Все приложения</a>
          </p>
          </div>
      </section>

      <footer id="bottom-panel">
        <div class="wrap">
          <h1>От разработчиков разработчикам</h1>
          <p>Gitter создан в Лондоне командой таких же разработчиков, как вы. Чего таить (елы-палы), даже менеджер писал код, хотя мы обычно переписывали созданные им части.</p>
          <p>Если вы когда-либо будете пробегать мимо Silicon Roundabout, кричите нам, мы любим встречаться с другими разработчиками.</p>

          <ul class="team">
            <li>
              <b>Mike</b>
              <a target="_blank" href="https://twitter.com/mydigitalself"><img src="{{cdn 'images/home/twitter.png'}}" alt="Twitter"></a>
              <a target="_blank" href="https://github.com/mydigitalself"><img src="{{cdn 'images/home/github.png'}}" alt="Github"></a>

              <img src="{{cdn 'images/home/mike.jpeg'}}">
              <span class="mask"></span>
            </li>

            <li>
              <b>Andrew</b>
              <a target="_blank" href="https://twitter.com/suprememoocow"><img src="{{cdn 'images/home/twitter.png'}}" alt="Twitter"></a>
              <a target="_blank" href="https://github.com/suprememoocow"><img src="{{cdn 'images/home/github.png'}}" alt="Github"></a>

              <img src="{{cdn 'images/home/andrew.jpeg'}}">
              <span class="mask"></span>
            </li>

            <li>
              <b>Mauro</b>
              <a target="_blank" href="https://twitter.com/malditogeek"><img src="{{cdn 'images/home/twitter.png'}}" alt="Twitter"></a>
              <a target="_blank" href="https://github.com/malditogeek"><img src="{{cdn 'images/home/github.png'}}" alt="Github"></a>

              <img src="{{cdn 'images/home/mauro.png'}}">
              <span class="mask"></span>
            </li>

            <li>
              <b>Andy</b>
              <a target="_blank" href="https://twitter.com/trevorah_"><img src="{{cdn 'images/home/twitter.png'}}" alt="Twitter"></a>
              <a target="_blank" href="https://github.com/trevorah"><img src="{{cdn 'images/home/github.png'}}" alt="Github"></a>

              <img src="{{cdn 'images/home/andy.jpeg'}}">
              <span class="mask"></span>
            </li>

            <li>
              <b>Walter</b>
              <a target="_blank" href="https://twitter.com/waltfy"><img src="{{cdn 'images/home/twitter.png'}}" alt="Twitter"></a>
              <a target="_blank" href="https://github.com/waltervascarvalho"><img src="{{cdn 'images/home/github.png'}}" alt="Github"></a>

              <img src="{{cdn 'images/home/walter.jpeg'}}">
              <span class="mask"></span>
            </li>

          </ul>

          <small>
            <span>&copy; 2014 Troupe Technology Ltd. All rights reserved.</span>

            <a href="http://support.gitter.im" target="_blank">Поддержка</a>
            <a href="https://developer.gitter.im" target="_blank">API</a>
            <a href="http://blog.gitter.im" target="_blank">Блог</a>
            <a href="https://twitter.com/gitchat" target="_blank">Twitter</a>
          </small>
        </div>
      </footer>

      {{> require_wrapper }}

      {{{ generateEnv anonymous=true }}}
      {{{ generateEnv }}}

              <script type="text/javascript" src="//use.typekit.net/ohh4mcl.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    </body>
</html>
