<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>
<link id="favicon" rel="shortcut icon" href="{{ cdn 'images/2/gitter/favicon-unread.ico' }}">
<link rel="stylesheet" href="{{cdn 'bootstrap/css/trpHomePage.css' }}">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<title>Gitter - Chat, for GitHub</title>
    {{>require_wrapper}}

    {{{bootScript "signup" }}}
    {{{ generateEnv }}}
    {{>load_font_css}}
</head>

<body>
  <div class="menu-container" style="">
    <div class="strip" style="text-align: left;">
      <div class="logo-container"></div>
      <div class="signup-container">
        <div style="font-size: 14px; letter-spacing: 0.5px">
           <a href="#features" class="button scroll-link text" id="about" style="text-decoration: none; color: white;" >Features</a>
          <a href="#pricing" class="button scroll-link text" id="about" style="text-decoration: none; color: white; margin-right: 20px" >Pricing</a>
          <a target="_top" href="/login/github?action=login" class="button blur" id="login" style="text-decoration: none; color: white;">Existing user login</a>
        </div>
      </div>
    </div>
  </div>
  <div class="pager-container" style="">
    <div class="strip">
      <div class="pager" id="pager">
        <a href="#" class="no-dec">
          <div class="pager-item"></div>
        </a>
        <a href="#" class="no-dec">
          <div class="pager-item"></div>
        </a>
        <a href="#" class="no-dec">
          <div class="pager-item"></div>
        </a>
      </div>
    </div>
  </div>
  <div id="carousel" style="overflow: hidden; height: 720px;">
      <div class="outer-container" style="display: block; float: left; width: 100%">
        <div class="container hero-container">
          <div id="first">
            <div class="strip" style="color:white; text-shadow: 0 0 0 transparent,1px 1px 2px rgba(0,0,0,0.2); text-align: left">
              <div class="hero">
                <div style="display: inline-block; margin-bottom: 10px">
                  <h1 style="margin-top: 0">Talk smarter</h1>
                </div>
                <div style="letter-spacing: 0.05em; font-size: 1.3em">
                  Gitter is communications for developers. <span class="nomobile">Find out how Gitter can work for you. <i class="fa fa-chevron-right arrow next" id="arrow-1"></i></span>
                </div>
                <a href="/login/github?action=signup&button=1" class="button green mt60" id="signup1" style="text-decoration: none; color: white">Sign up with GitHub</a>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="outer-container" style="display: block; float: left; width: 100%">
        <div class="container os-container">
          <div id="second">
            <div class="strip" style="color:white; text-shadow: 0 0 0 transparent,1px 1px 2px rgba(0,0,0,0.2); text-align: left">
              <div class="hero" style="width:100%">
                <div style="display:inline-block">
                  <div style="display: inline-block; margin-bottom: 10px">
                    <h1 style="margin-top: 0">Stronger communities</h1>
                  </div>
                  <div style="letter-spacing: 0.05em; font-size: 1.3em">
                    Gitter provides free public chat rooms for open source projects on GitHub. <br>
                    <br>
                    Full markdown support, emoji and issue integration. Smart notifications.<br>
                    Activity feed with multiple 3rd party integrations.
                  </div>
                  <span>
                    <a href="/login/github?action=signup&button=4" class="button green mt60" id="signup1" style="text-decoration: none; color: white;">Sign up with GitHub</a>
                  </span>

                  <span class="button blur next" id="arrow-2">
                    <span>Gitter for teams & business</span>
                    <i class="fa fa-chevron-right arrow small"></i>
                  </span>
                </div>

                {{!--
                <div style="display: inline-block; max-width: 400px; max-height: 400px; overflow: hidden; float: right; margin-top: 150px">
                  <h2>Live from angular/angular.js</h2>
                  <div class="chat-item">
                    <img src="https://avatars.githubusercontent.com/u/15655" class="avatar">
                    <div class="chat-from">petebacondarwin</div>
                    <div class="chat-text">I agree we should go with form submit raising the $flushInputs event by default and wait and see if people come up with a good reason to add a disable feature - in which case it would be an attribute of form or property on FormController.</div>
                  </div>
                  <div class="chat-item">
                    <img src="https://avatars.githubusercontent.com/u/1764161" class="avatar">
                    <div class="chat-from">shahata</div>
                    <div class="chat-text">for textInputType the $$phase test was already there. do you have any idea why?</div>
                  </div>
                  <div class="chat-item">
                    <img src="https://avatars.githubusercontent.com/u/1764161" class="avatar">
                    <div class="chat-from">shahata</div>
                    <div class="chat-text">found the reason: angular/angular.js#5293</div>
                  </div>
                  <div class="chat-item">
                    <img src="https://avatars.githubusercontent.com/u/1764161" class="avatar">
                    <div class="chat-from">shahata</div>
                    <div class="chat-text">for textInputType the $$phase test was already there. do you have any idea why?</div>
                  </div>
                  <div class="chat-item">
                    <img src="https://avatars.githubusercontent.com/u/15655" class="avatar">
                    <div class="chat-from">petebacondarwin</div>
                    <div class="chat-text">hmmm, not pretty</div>
                  </div>
                </div>--}}
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="outer-container" style="display: block; float: left; width: 100%">
        <div class="container work-container">
          <div id="first">
            <div class="strip" style="color:white; text-shadow: 0 0 0 transparent,1px 1px 2px rgba(0,0,0,0.2); text-align: left">
              <div class="hero" style="width: 100%">
                <div style="display: inline-block">
                  <div style="display: inline-block; margin-bottom: 10px">
                    <h1 style="margin-top: 0">Tighter teams</h1>
                  </div>
                  <div style="letter-spacing: 0.05em; font-size: 1.3em">
                    Gitter brings teams together in a way that email can't. <br><br>
                    Real-time messaging built specifically to help teams communicate better. <br>
                    Simple to use, with powerful integrations into GitHub and other services.
                  </div>
                  <a href="/login/github?action=signup&button=5" class="button green mt60" id="signup1" style="text-decoration: none; color: white">Sign up with GitHub</a>
                </div>
                {{!--<div style="display: inline-block; max-width: 400px; max-height: 400px; overflow: hidden; float: right">
                  <div style="margin-top: 40px">
                    <h2>You're in great company</h2>
                    <img src="{{ cdn 'images/2/gitter/logo-flatiron.png' }}" width="100" class="client-logo"><img class="client-logo" src="{{ cdn 'images/2/gitter/logo-storify.png' }}" width="100"><img class="client-logo" src="{{ cdn 'images/2/gitter/logo-revolt.png' }}" width="100">
                  </div>
                </div>--}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container" style="background-color: white; padding: 0; margin: 0">
    <div class="strip feature" style="padding: 0; margin: 40px 0 0 0; text-align: center">
      <h2 style="text-align: center;">Simple, powerful messaging.</h2>
      <img src="{{ cdn 'images/2/gitter/screenshot-small@2x.png' }}" width="920" style="margin-top: 20px; margin-bottom: 40px"></div>
    </div>
  </div>
  <div class="container" style="background-color: #162e34; padding: 60px 0;">
    <div class="strip">
       <span style="opacity: 0.8; color: white">Interested? Gitter is in beta right now, but feel free to give it a go. </span><br><br>
      <a href="/login/github?action=signup&amp;button=2" class="button green" id="signup2" style="text-decoration: none; color: white">Sign up with GitHub</a>
    </div>
  </div><div class="container" style="background-color: white; padding: 10px 0">
  <a name="features" id="features"> </a>
      <div class="strip feature">
        <h2 style="text-align: center">So smart, it even knows your issues</h2>
        <div style="text-align: center"><img src="{{ cdn 'images/2/gitter/issue.png' }}" width="600"></div><br>
        <h2 style="text-align: center">And talks markdown, including formatted code</h2>
        <div style="text-align: center"><img src="{{ cdn 'images/2/gitter/code.png' }}" width="700"></div><br><br>
      </div>
    </div>

    <div class="container" style="background-color: #eee">
      <div class="strip feature">
        <div style="display: inline-block; vertical-align: top; max-width: 620px; margin-top: 60px">
          <h2 style="margin-top: 0">Integrated with the products you use</h2>
          <div style="text-align: left">Integrations with Github, BitBucket, Heroku, Jenkins, Travis, Trello, Huboard and Sprintly.</p><p>Fully customisable API to integrate into your own environments.</div>
        </div>
        <div style="display: inline-block; float: right; vertical-align: top;" style=""><img src="{{ cdn 'images/2/gitter/activity.png' }}" width="250rs"></div>
      </div>
    </div>

    <div class="container" style="background-color: #162e34; padding-bottom: 30px">
      <div class="strip feature" style="text-align: center">
        <h2 style="text-align: center; color: white">Other awesome features</h2>
        <span style="color: white; line-height: 150%">Know who's seen any message. <span style="opacity: 0.6">Edit messages after you've sent them. </span>Full emoji support. <span style="opacity: 0.6">Special Lurk Mode.</span> IRC bridge.<br>
        <span style="opacity:0.6;">Automatically embeds content like Gists, YouTube, pictures of cats and other stuff.</span> Desktop notifications and @mentions.<br>
        Infinite chat history stored in the cloud. Will soon be searchable too. <span style='opacity: 0.6'>Phew, that's a lot and we're building more constantly.</span></span>
      </div>
    </div>

    <div class="container" style="background-color: #eee; margin-top: -5px">
      <div class="strip feature">
        <div style="display: inline-block; vertical-align: top; max-width: 620px; margin-top: 60px">
          <h2 style="margin-top: 0">Available everywhere that has internet</h2>
          <div style="text-align: left">Desktop app for Mac. Windows, iPhone and Android coming soon.<br><br>Works perfectly in mobile web browsers.<br><br>
            Available via IRC clients too.</p></div>
        </div>
        <div style="display: inline-block; float: right; vertical-align: top; margin-right: 80px; margin-top: 10px" style=""><img src="{{ cdn 'images/2/gitter/iphone.png' }}" height="284"></div>
      </div>
    </div>

    <div class="container" style="background-color: #162e34; padding-bottom: 30px">
      <a name="pricing" id="pricing"> </a>
      <div class="strip feature" style="text-align: center">
        <h2 style="text-align: center; color: white">What does it cost?</h2>
        <span style="color: white; line-height: 150%">During our Beta period, Gitter is available for free. Rest assured public conversations will always be free. No ads.<br>
          <span style="opacity: 0.6"> We'll work out a great, affordable price for private conversations, which will include a free tier.</span></span>
      </div>
    </div>


    <div class="container" style="background-color: white;padding: 40px 0">
      <div class="strip">
        <span style="opacity: 0.8; color: black">Interested? Gitter is in beta right now, but don't let that stop you. </span><br><br>
        <a href="/login/github?action=signup&amp;button=3" class="button green" id="signup3" style="text-decoration: none; color: white">My brain can't handle the awesome. Sign me up!</a>
      </div>
    </div>

  </div>

  <script>



  </script>


  </body>
  </html>
