<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Gitter &mdash; Where developers come to talk.</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{cdn 'styles/homepage.css' }}">

        <link id="favicon" rel="shortcut icon" href="{{ cdn 'images/favicon-normal.ico' }}">

        <script type="text/javascript" src="//use.typekit.net/ohh4mcl.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script src="//cdn.optimizely.com/js/590160700.js"></script>
        {{> load_font_css }}
    </head>
    <body>
      <header id="intro-panel">
        <nav class="site-nav">
          <div class="wrap">

            <a href="/" class="logo">
              {{> logo_man}}
              <img src="{{ cdn 'images/home/logo.png' }}" alt="Gitter" title="Gitter logo" class="logo-image menu-animation">
            </a>

            <div class="top-navigation menu-animation">
              <a href="#integrations-panel">Integrations</a>
              <a href="#pricing-panel">Pricing</a>
              <a href="#apps-panel">Apps</a>
            </div>

            <a class="btn login" href="/login/github?action=login&source=intro-login">
              <b>Log in</b> <span class="no-small">with Github</span>
            </a>
          </div>
        </nav>
        <div class="wrap">
          <div class="map"><img class="bg" src="{{cdn 'images/home/map.png'}}" alt="There should be a map here"></div>
          <h1>{{ __ "Where developers come to talk." }}</h1>
          <p>We host thousands of public communities where developers from all around the world come together to talk about the future of programming, build better products, and share the best cat GIFs</a>.</p>

          <a class="btn signup" href="/login/github?action=signup&source=intro-signup">
            <img src="{{cdn 'images/home/github.png'}}"> <b>Sign up</b> with Github
          </a>
          <div class="legal">
            <span>
              By signing up you agree to our <a href="https://gitter.zendesk.com/hc/en-us/sections/200274872-Legal-documentation" target="_blank">Terms and Conditions</a>.
            </span>
          </div>


          <ul class="mini-features-list">
            <li>
              <img src="{{cdn 'images/home/quill.png'}}" alt="Quill icon">
              <h2>Markdown power</h2>
              <span>Ever wanted full markdown support in chat? How about syntax highlighting?<br>Yip, we got your back.</span>
            </li>

            <li>
              <img src="{{cdn 'images/home/shield.png'}}" alt="Shield icon">
              <h2>Private conversations</h2>
              <span>Public rooms are awesome (and free), but we get that some stuff is private. So we've got <a href="#pricing-panel">plans for that</a>.</span>
            </li>

            <li>
              <img src="{{cdn 'images/home/cloud.png'}}" alt="Shield icon">
              <h2>Developer friendly</h2>
              <span>This is a picture of a cloud against a background of clouds. OMG! We <a href="#integrations-panel">integrate</a> with a bunch of stuff in the cloud. </span>
            </li>
          </ul>
        </div>
        <div class='bg-animation'>{{!-- the div below is responsible for the fadein of the background --}}</div>
      </header>

      <section id="communities-panel">
        <div class="wrap">
          <h1>
            Some of our communities

            <a class="btn secondary" href="/login/github?action=signup&source=communities">
              Create your own
            </a>
          </h1>

          <div class="communities">
            <nav class="communities-tabs">
              <a class="active" data-tab-index="0">
                <img src="https://avatars1.githubusercontent.com/u/5990364?s=200" width="48" height="48">

                <h3>GitterHQ</h3>
                <em>Let’s talk about Gitter!</em>
              </a>

              <a data-tab-index="1">
                <img src="https://avatars1.githubusercontent.com/u/5990364?s=200" width="48" height="48">

                <h3>GitterHQ</h3>
                <em>Let’s talk about Gitter!</em>
              </a>

              <a data-tab-index="2">
                <img src="https://avatars1.githubusercontent.com/u/5990364?s=200" width="48" height="48">

                <h3>GitterHQ</h3>
                <em>Let’s talk about Gitter!</em>
              </a>

              <a data-tab-index="3">
                <img src="https://avatars1.githubusercontent.com/u/5990364?s=200" width="48" height="48">

                <h3>GitterHQ</h3>
                <em>Let’s talk about Gitter!</em>
              </a>
            </nav>

            <div class="chat-frame">
              <iframe id="embedded-chat" src="/gitterHQ/gitter/~embed"></iframe>
            </div>
          </div>
        </div>
      </section>

      <section id="integrations-panel">
        <div class="wrap">
          <h1>Integrated with your workflow</h1>
          <p>Gitter is built on top of GitHub and is tightly integrated with your organisations, repositories, issues and activity.</p>
          <p>We provide integrations with Trello, Jenkins, Travis, Heroku, Sentry, BitBucket, HuBoard, Logentries, Pagerduty & Sprintly. We also accept custom webhooks, have an <a href="https://github.com/gitterHQ/services" target="_blank">open source repository</a> for integrations as well as a <a href="http://developer.gitter.im" target="_blank">flexible API</a>.</p>

          <div class="loves">
            <img src="{{cdn 'images/home/gitter-loves.png'}}" alt="Gitter loves">
            <ul>
              <li><img src="{{cdn 'images/home/github-logo.jpg'}}" title="Github"></li>
              <li><img src="{{cdn 'images/home/gitlab-logo.jpg'}}" title="Gitlab"></li>
              <li><img src="{{cdn 'images/home/bitbucket-logo.jpg'}}" title="Bitbucket"></li>
              <li><img src="{{cdn 'images/home/heroku-logo.jpg'}}" title="Heroku"></li>
              <li><img src="{{cdn 'images/home/huboard-logo.jpg'}}" title="Huboard"></li>
              <li><img src="{{cdn 'images/home/jenkins-logo.jpg'}}" title="Jenkins"></li>
              <li><img src="{{cdn 'images/home/pagerduty-logo.jpg'}}" title="Pagerduty"></li>
              <li><img src="{{cdn 'images/home/logentries-logo.jpg'}}" title="Logentries"></li>
              <li><img src="{{cdn 'images/home/sprintly-logo.jpg'}}" title="Sprintly"></li>
              <li><img src="{{cdn 'images/home/travis-logo.jpg'}}"  title="Travis"></li>
              <li><img src="{{cdn 'images/home/trello-logo.jpg'}}" title="Trello"></li>
              <li><img src="{{cdn 'images/home/sentry-logo.jpg'}}" title="Trello"></li>
            </ul>
          </div>
        </div>
      </section>

      <section id="testimonials-panel">
        <div class="wrap">
          <div class="quotes">
            <blockquote>
              <img src="{{cdn 'images/home/samccone.jpeg'}}">

              <cite><b>Sam Saccone</b><span class="no-small">, Marionette.js Lead</span>:</cite>
              <p>Gitter has helped to bring the Marionette community together, turning it into a thriving collaborative environment that has been exceedingly benificial to both our endusers and maintainers.</p>
            </blockquote>

            <blockquote>
              <img src="{{cdn 'images/home/dscape.jpeg'}}">

              <cite><b>Nuno Job</b><span class="no-small">, Founder YLD</span>:</cite>
              <p>Gitter helped us shape our distributed company culture. We use Github everyday, and Gitter is how we communicate around our work. Team spirit has gone up and we can see how much more people collaborate.</p>
            </blockquote>

<!--             <blockquote>
              <img src="{{cdn 'images/home/avi.jpeg'}}">

              <cite><b>Avi Flombaum</b><span class="no-small">, Dean @ Flatiron School</span>:</cite>
              <p>AWESOME!</p>
            </blockquote> -->

            <blockquote>
              <img src="{{cdn 'images/home/diasdavid.jpeg'}}">

              <cite><b>David Dias</b><span class="no-small">, LXJS Conference Organiser</span>:</cite>
              <p>Gitter was an essential tool, not only for organising LXJS but to create a thriving community amongst our attendees before, during and even after the conference.</p>
            </blockquote>
          </div>

          <h1>Loved by our users</h1>
          <p>Gitter is nothing without the people using it day in and day out.</p>
          <p>We asked a few of them what Gitter means to them, this is what they had to say. If you love Gitter, Tweet us <a href="https://twitter.com/gitchat" target="_blank">@gitchat</a> and we'll update these quotes every month.<br><br></p>
        </div>
      </section>

      <section id="pricing-panel">
        <div class="wrap">
          <div class="half">
            <h1>Personal pricing</h1>

            <article class="price ghost">
              <header>
                <b>Free</b>

                <h1>
                  $0
                  <b>Forever</b>
                </h1>
              </header>

              <ul>
                <li><b>Unlimited</b> public rooms</li>
                <li><b>1</b> private room*</li>
                <li><b>2 weeks’</b> chat history</li>
              </ul>

              <a class="btn signup full" href="/login/github?action=signup&source=pricing.free"><b>Get started</b> for free</a>
            </article>

            <article class="price purple">
              <header>
                <b>Individual</b>

                <h1>
                  $2
                  <b>monthly</b>
                </h1>
              </header>

              <ul>
                <li><b>Unlimited</b> public rooms</li>
                <li><b>Unlimited</b> private rooms**</li>
                <li><b>Unlimited</b> chat history</li>
              </ul>

              <a class="btn signup full" href="{{billingBaseUrl}}/plan/personal"><b>Purchase</b> now</a>
            </article>
          </div>

          <div class="half">
            <h1>Organisation pricing</h1>

            <article class="price mix">
              <header>
                <b>Bronze</b>

                <h1>
                  $2
                  <b>per user/month</b>
                </h1>
              </header>

              <ul>
                <li><b>Unlimited</b> public rooms</li>
                <li><b>Unlimited</b> private rooms***</li>
                <li><b>6 months’</b> chat history</li>
              </ul>

              <a class="btn signup full" href="{{billingBaseUrl}}/plan/bronze"><b>Purchase</b> now</a>
            </article>

            <article class="price orange">
              <header>
                <b>Silver</b>

                <h1>
                  $5
                  <b>per user/month</b>
                </h1>
              </header>

              <ul>
                <li><b>Unlimited</b> public rooms</li>
                <li><b>Unlimited</b> private rooms***</li>
                <li><b>Unlimited</b> chat history</li>
              </ul>

              <a class="btn signup full" href="{{billingBaseUrl}}/plan/silver"><b>Purchase</b> now</a>
            </article>
          </div>
          <div class="wrap fine-print">
            <p>* Our free plan includes one private room per organisation you belong to on GitHub</p>
            <p>** Our Individual plan allows you to create private rooms using your personal account as the owner</p>
            <p>*** Our organisation plans allow you to create private rooms using your GitHub organisation as the owner</p>
            <div class="legal">
              Prices may be subject to VAT. By signing up you agree to our <a href="https://gitter.zendesk.com/hc/en-us/sections/200274872-Legal-documentation" target="_blank">Terms and Conditions</a>.
            </div>
          </div>
        </div>
      </section>

      <section id="apps-panel">
        <div class="wrap">
          <div class="devices">
            <div class="laptop">
              <img class="screenshot" src="{{cdn 'images/home/screenshot.png'}}">
              <img class="computer" src="{{cdn 'images/home/laptop.png'}}">
            </div>

            <img class="phone" src="{{cdn 'images/home/phone.png'}}">
          </div>

          <h1>Get Gitter now!</h1>
          <p>Gitter is available in all modern browsers as well as apps for desktops and mobile phones.</p>
          <p>We currently have apps for OSX, iOS and Chrome and are working on Android, Linux and Windows. We also have a sweet little <a href="https://irc.gitter.im" target="_blank">IRC bridge</a>.</p>

          <p>
            <a class="btn secondary osx" href="/apps">Download <span class="no-small">(OS X)</span></a>
            <a class="btn outline" href="/apps">All apps</a>
          </p>
          </div>
      </section>

      <footer id="bottom-panel">
        <div class="wrap">
          <h1>By developers, for developers</h1>
          <p>Gitter is built in London by a team of developers just like you. Hell even the product guy writes code, although we generally end up rewriting those bits.
          <p>If you're ever around Silicon Roundabout, give us a shout, we love meeting up with other developers.</p>

          <ul class="team">
            <li>
              <b>Mike</b>
              <a target="_blank" href="https://twitter.com/mydigitalself"><img src="{{cdn 'images/home/twitter.png'}}" alt="Twitter"></a>
              <a target="_blank" href="https://github.com/mydigitalself"><img src="{{cdn 'images/home/github.png'}}" alt="Github"></a>

              <img src="{{cdn 'images/home/mike.jpeg'}}">
              <span class="mask"></span>
            </li>

            <li>
              <b>Andrew</b>
              <a target="_blank" href="https://twitter.com/suprememoocow"><img src="{{cdn 'images/home/twitter.png'}}" alt="Twitter"></a>
              <a target="_blank" href="https://github.com/suprememoocow"><img src="{{cdn 'images/home/github.png'}}" alt="Github"></a>

              <img src="{{cdn 'images/home/andrew.jpeg'}}">
              <span class="mask"></span>
            </li>

            <li>
              <b>Mauro</b>
              <a target="_blank" href="https://twitter.com/malditogeek"><img src="{{cdn 'images/home/twitter.png'}}" alt="Twitter"></a>
              <a target="_blank" href="https://github.com/malditogeek"><img src="{{cdn 'images/home/github.png'}}" alt="Github"></a>

              <img src="{{cdn 'images/home/mauro.png'}}">
              <span class="mask"></span>
            </li>

            <li>
              <b>Andy</b>
              <a target="_blank" href="https://twitter.com/trevorah_"><img src="{{cdn 'images/home/twitter.png'}}" alt="Twitter"></a>
              <a target="_blank" href="https://github.com/trevorah"><img src="{{cdn 'images/home/github.png'}}" alt="Github"></a>

              <img src="{{cdn 'images/home/andy.jpeg'}}">
              <span class="mask"></span>
            </li>

            <li>
              <b>Walter</b>
              <a target="_blank" href="https://twitter.com/waltfy"><img src="{{cdn 'images/home/twitter.png'}}" alt="Twitter"></a>
              <a target="_blank" href="https://github.com/waltervascarvalho"><img src="{{cdn 'images/home/github.png'}}" alt="Github"></a>

              <img src="{{cdn 'images/home/walter.jpeg'}}">
              <span class="mask"></span>
            </li>

          </ul>

          <small>
            <span>&copy; 2014 Troupe Technology Ltd. All rights reserved.</span>

            <a href="http://suport.gitter.im" target="_blank">Support</a>
            <a href="https://developer.gitter.im" target="_blank">API</a>
            <a href="http://blog.gitter.im" target="_blank">Blog</a>
            <a href="https://twitter.com/gitchat" target="_blank">Twitter</a>
          </small>
        </div>
      </footer>

      {{> require_wrapper }}

      {{{ bootScript "homepage" }}}
      {{{ generateEnv }}}

    </body>
</html>
