<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=IE9" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href='{{cdn "bootstrap/css/trpStart.css" }}' type='text/css'>
</head>

<body style="padding: 15px;">
  <h1>{{troupe.name}} integrations</h1>
  <ul>
    {{#each subscriptions}}
    <li>
      <form method="POST" action="/troupes/{{../troupe._id}}/hooks/{{@index}}">
        <input type="hidden" name="_method" value="delete" />
        <label>{{this}}</label>
        <input type="submit" value="Delete">
      </form>
    </li>
    {{else}}
      <p>None</p>
    {{/each}}
  </ul>

    <form method="POST" action="/troupes/{{troupe._id}}/hooks">
      <label>Github</label>
      <input type="hidden" name="hook" value="github" />
      <input type="submit" value="Add">
    </form>
    <form method="POST" action="/troupes/{{troupe._id}}/hooks">
      <label>Bitbucket</label>
      <input type="hidden" name="hook" value="bitbucket" />
      <input type="submit" value="Add">
    </form>
    <form method="POST" action="/troupes/{{troupe._id}}/hooks">
      <label>Jenkins</label>
      <input type="hidden" name="hook" value="jenkins" />
      <input type="submit" value="Add">
    </form>
</body>
</html>
