<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=IE9" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href='{{cdn "bootstrap/css/trpStart.css" }}' type='text/css'>
</head>

<body>
  <p class="trpBodyMedium">Integrations</p>
  <ul>
    {{#each hooks}}
    <li>
      <form style="width: 260px;" method="post">
        <input type="hidden" name="_method" value="delete">
        <label class="trpBodySmall">{{service}} - {{#if description}}{{description}}{{else}}<i>no description</i>{{/if}}</label>
        <input type="hidden" name="id" value="{{_id}}">
        <input style="float: right;" type="submit" value="Delete">
      </form>
    </li>
    {{else}}
      <p class="trpBodySmall">None</p>
    {{/each}}
  </ul>
  {{#each services}}
  <form style="display: inline-block;" method="post">
    <input type="hidden" name="service" value="{{this}}">
    <input class="trpButtonMedium" type="submit" value='Add {{this}} hook'>
  </form>
  {{/each}}
</body>
</html>
