<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Troupe legals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--
    <link href='{{cdn "bootstrap/css/bootstrap.css" }}' rel="stylesheet">
    -->
    <link href='{{cdn "bootstrap/css/trp2.css" }}' rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link REL="SHORTCUT ICON" HREF="favicon.ico">

    {{>require_wrapper}}
    {{{bootScript "js/signup.js" }}}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href='{{ cdn "images/favicon.ico"}}'>
    <link rel="apple-touch-icon" href='{{ cdn "images/apple-touch-icon.png" }}'>
    <link rel="apple-touch-icon" sizes="72x72" href='{{ cdn "images/apple-touch-icon-72x72.png" }}'>
    <link rel="apple-touch-icon" sizes="114x114" href='{{ cdn "images/apple-touch-icon-114x114.png" }}'>
  </head>

  <body>

    <div class="trpHomeTopStripContainer">
      <div class="trpHomeTopStrip">
        <div class="trpHomeLogo"><img src='{{ cdn "images/2/logo-white.png" }}' height="36" width="172"></div>
        <div class="trpHomeMenu">
          <div class="trpHomeMenuItem trpPadV14">Features</div>
          <div class="trpHomeMenuItem trpPadV14">Apps</div>
          <div class="trpHomeMenuItem trpPadV14 trpHand button-existing-users-login">
            Sign in
          </div>
          <a class="trpHomeMenuItem trpButtonBig trpBtnWhite button-signup" href="#">Sign up</a>
        </div>
      </div>
      <div class="trpHomeDivider">
        <img src='{{ cdn "images/2/divider-purple.png" }}' width="920" height="8">
      </div>
      <div class="trpLegalHero">
        <div class="trpLegalHeader">
          Troupe legal information
          <br><br>
          <span class="trpLegalText">
            <p>Imagine performing an action that binds you to pages and pages of legalese. Nobody ever reads those things, and yet in order to use a service we accept them anyway.</p>

            <p>We think that’s pretty silly, for everybody.</p>

            <p>So below you can find our terms and conditions and information about privacy, written by us for you.</p>
          </span>
        </div>
      </div>
    </div>

    <div class="trpLegalMidStripContainer">
      <div class="trpLegalHero">
      <div class="trpLegalBodyHeader">
        <span class="trpLegalBody">
        <p>First and foremost. Your data is your data. It is not ours. We cannot use it, reproduce it, publish it, sell it, nothing. We do, however, store it. We may manipulate it (e.g. create a thumbnail out of a document or an image) and we will make it available for you and your other Troupe members to access. But at the end of the day, it’s yours, not ours and we utterly respect it’s confidentiality.</p>

        <p>We do collect some personal information (such as your name and email address). We will not sell this to third parties. We hate spam, a lot. We may send you some information about our own offers and services from time to time and will allow you to opt-out of such information. </p>

        <p>To the best of our ability, we will endeavour to keep the service up and running. Try as we might, technology can and will go wrong. In such a case we will shed blood, sweat and tears to get it working again. </p>

        <p>You can’t use this service to break to law. That means things like uploading illegal materials or infringing on other people’s rights or copyrights. We accept no liability for the way in which you use the system. We will comply with the law.</p>

        <p>You cannot use our service to the detriment of others. This means you cannot use Troupe to spam or harass other people. If we believe you are doing so, we reserve the right to shutdown your account.</p>

        <p>These legal conditions may change at any time, if they do so, you will be required to accept them in order to continue to use the service. We will try keep them as simple and understandable as possible.</p></span>
      </div>
    </div>
    </div>

    <div class="trpHomeFooterStripContainer">
      <div class="trpFooterStrip">
        <img src='{{ cdn "images/2/logo-mark-green.png" }}' class="trpLine"  width="24" height="36">
      </div>
    </div>

  </body>
</html>
