<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">

  <title>Troupe Login</title>

  <link rel="stylesheet" href="{{ cdn 'styles/mobile-login.css' }}">
  <link rel="shortcut icon" href="{{ cdn 'images/favicon8.ico' }}">


  {{>require_wrapper}}

  {{{ bootScript "login" }}}

</head>

<body>
<div class="mtrpLoginOuterContainer">
  <div class="mtrpLoginContainer">
    <div class="mtrpLoginLogo"><img src="{{ cdn 'images/logo-mark-green-square-black-text.png' }}" width="171" height="64"></div>
    <div class="mtrpLoginFormContainer" id="panel-login">
      <div class="mtrpLoginForm">
        <form name="loginform" id="loginform" method="POST">
          {{#if oauth}}
          <input type="hidden" name="oauth" value="2">
          <input type="hidden" name="client_id" value="{{query.client_id}}">
          <input type="hidden" name="redirect_uri" value="{{query.redirect_uri}}">
          <input type="hidden" name="response_type" value="{{query.response_type}}">
          <input type="hidden" name="scope" value="{{query.scope}}">
          {{/if}}

          <div class="mtrpLoginFieldContainer">
            <input name="email" value="" id="email" type="email" class="mtrpLoginFormItem" placeholder="Email address">
            <input name="password" id="password" type="password" class="mtrpLoginFormItem" placeholder="Password">
          </div>

          <div class="mtrpLoginSubmit" id="button-existing-users-login">
            <a href="#" class="trpButtonBig trpBtnGreen" id="submit">Login &raquo;</a>
          </div><br>
          <div class="mtrpSignup" id="signup-login">
            <a href="/signup" class="trpButtonBig trpBtnLightGrey" id="submit">Signup</a>
          </div>
          <input type="submit" style="visibility: hidden">
        </form>
      </div>
    </div>

   <div class="mtrpLoginFailure" id="login-failure" style="display:none">
      <span class="trpModalTitle"><span class="trpWhite">Login failed.</span></span>
      <a href="#" class="trpWhite trpModalFailureText button-request-new-password">Forgot password?</a>
   </div>

   <div class="mtrpLoginFailure" id="resetpwd-failure" style="display:none">
      <span class="trpModalTitle"><span class="trpWhite">Can't reset password.</span></span>
      <span class="trpModalBody">Was that the right email address?</span>
   </div>

  <div class="mtrpLoginFailure" id="resetpwd-confirm" style="display:none">
    <div class="trpModalTitle"></div>
    <div class="trpModalBody">We've just sent you an email.</div>
  </div>

  </div>
</div class="mtrpLoginOuterContainer">

</body>
</html>
