<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Get Troupe on your Mac</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--
    <link href='{{cdn "bootstrap/css/bootstrap.css" }}' rel="stylesheet">
    -->
    <link href='{{cdn "bootstrap/css/trpHomePage.css" }}' rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href='{{cdn "images/2/favicon8.ico" }}'>

    {{>require_wrapper}}

    {{{bootScript "signup" }}}

    <script type="text/javascript">
    window.noValidTroupes = false;

    {{#if trackingId}}
      window.troupeTrackingId = '{{trackingId}}';
    {{/if}}
    </script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href='{{ cdn "images/favicon.ico"}}'>
    <link rel="apple-touch-icon" href='{{ cdn "images/apple-touch-icon.png" }}'>
    <link rel="apple-touch-icon" sizes="72x72" href='{{ cdn "images/apple-touch-icon-72x72.png" }}'>
    <link rel="apple-touch-icon" sizes="114x114" href='{{ cdn "images/apple-touch-icon-114x114.png" }}'>
  </head>

  <body>

<!--     <div class="trpHomeTopStripContainer">
      <div class="trpHomeTopStrip">
        <div class="trpHomeLogo"><img src='{{ cdn "images/2/home-logo-black.png" }}' height="46" width="170"></div>
        <div class="trpHomeMenu">
          <div class="trpHomeMenuItem trpPadV14">Apps</div>
          <div class="trpHomeMenuItem trpPadV14">Support</div>
          <div class="trpHomeMenuItem trpPadV14 trpHand button-existing-users-login">Sign in</div>
      </div>
    </div> -->

    <div class="trpHomeHeroStripContainer trpHomeMacAppHeroStripContainer">

      <div class="trpHomeTopStrip">
        <div class="trpHomeLogo"><a href="{{homeUrl}}"><img src='{{ cdn "images/2/logo-mark-green-square-white-text.png" }}' height="64" width="215"></a></div>
        <div class="trpHomeMenu">
          <div class="trpHomeMenuItem trpPadV14 trpHand" id="button-existing-users-login">Sign in</div>
        </div>
    </div>

      <div class="trpHomeHero">
        <div class="trpHeroText trpHeroMacAppText">
          The Troupe app on your Mac will notify you <br>when there's new activity on Troupe.
          <br><br>
        </div>
        <div class="trpHeroSignup">
          <a class="trpHomeMenuItem trpButtonBig trpBtnWhite" href="http://update.trou.pe/troupe-notifier/beta/latest" target="downloadTarget"> Download </a>
        </div>
        </div>
      </div>
    </div>


    <div class="trpHomeFooterStripContainer">
      <div class="trpFooterStrip">
        <a href="#top"><img src='{{ cdn "images/2/logo-mark-green-square-white.png" }}' class="trpLine"></a>
      </div>
    </div>

    <iframe src="" name="downloadTarget" style="display:none"></iframe>

  </body>
</html>
