<head>
  <link rel='stylesheet' type='text/css' href="{{ cdn 'styles/org-404.css' }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
</head>
<body>
  <header>
    <img width='64' height='64' src='https://avatars.githubusercontent.com/{{ org }}?s=128'>
    <h1>{{ org }}</h1>
  </header>
  <div class='content'>
    {{#each rooms}}
      <a target='_top' href='/{{ uri }}' class='room'>
        <h1><i class='mega-octicon {{ githubTypeToClass githubType }}'></i> {{ getRoomName name }}</h1>
        <div class='room__details'>
          <small><i class="octicon octicon-organization"></i> {{ formatNumber userCount }} {{ pluralize userCount 'person' 'people'}}</small>
        </div>
      </a>
    {{/each}}
  </div>
</body>
