<head>
  <link rel='stylesheet' type='text/css' href="{{ cdn 'styles/org-page.css' }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
</head>

<body>

  <header class="org-page__header">

    <div class="org-page__org">
      <div class="org-page__org-logo">
        <img width='64' height='64' src='https://avatars.githubusercontent.com/{{ org.login }}?s=128'>
      </div>

      <div class="org-page__org-details">
        <div class="org-page__name">
          <h1>{{ org.login }}</h1>
        </div>

        <div class="org-page__description">
          {{org.description}}
        </div>
      </div>

      {{#unless isLoggedIn}}
        <div class="org-page__login">
          Are you a member of {{ org.login }}?  <a class="btn secondary" href="/login/github?action=login&source=orgpage" target="_parent">Login</a>
        </div>
      {{/unless}}
    </div>

    <div class="org-page__details">
      <div class="org-page__detail"><i class="octicon octicon-comment-discussion"></i> {{roomCount}} Rooms</div>

      <div class="org-page__detail"><i class="octicon octicon-organization"></i> {{orgUserCount}} People</div>

      {{#if org.location}}
        <div class="org-page__detail"><i class="octicon octicon-location"></i> {{org.location}}</div>
      {{/if}}

      {{#if org.blog}}
        <div class="org-page__detail"><i class="octicon octicon-link"></i><a href="{{org.blog}}" target="_blank"> {{org.blog}}</a></div>
      {{/if}}
    </div>
  </header>

  <div class='org-page__room-cards'>
    {{#each rooms}}
      {{> room_card }}
    {{/each}}
  </div>

  {{{ generateTroupeContext troupeContext }}}
  {{{ bootScript 'router-org-page' }}}
</body>
