<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Start a Troupe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--
    <link href='{{cdn "bootstrap/css/bootstrap.css" }}' rel="stylesheet">
    -->
    <link href='{{cdn "bootstrap/css/trp2.css" }}' rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link REL="SHORTCUT ICON" HREF="favicon.ico">

    {{>require_config}}
    <script data-main='{{cdn "js/signup.js" }}' src='{{cdn "js/libs/require/2.0.4/require-jquery-min.js"}}'></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href='{{ cdn "images/favicon.ico"}}'>
    <link rel="apple-touch-icon" href='{{ cdn "images/apple-touch-icon.png" }}'>
    <link rel="apple-touch-icon" sizes="72x72" href='{{ cdn "images/apple-touch-icon-72x72.png" }}'>
    <link rel="apple-touch-icon" sizes="114x114" href='{{ cdn "images/apple-touch-icon-114x114.png" }}'>
  </head>

  <body>

    <div class="trpHomeTopStripContainer">
      <div class="trpHomeTopStrip">
        <div class="trpHomeLogo"><img src='{{ cdn "images/2/home-logo-black.png" }}' height="46" width="170"></div>
        <div class="trpHomeMenu">
          <div class="trpHomeMenuItem trpPadV14">Apps</div>
          <div class="trpHomeMenuItem trpPadV14">Support</div>
          <div class="trpHomeMenuItem trpPadV14 trpHand button-existing-users-login">Sign in</div>
      </div>
    </div>

    <div class="trpHomeHeroStripContainer">
      <div class="trpHomeHero">
        <div class="trpHeroText">
          The quick and simple way to chat, share and work together. Anytime, anywhere.
          <br><br>
          <a class="trpHomeMenuItem trpButtonBig trpBtnWhite button-signup" href="#"> Get Started </a>
        </div>
        <div class="trpHeroImage">
          <img src='{{ cdn "images/2/home-hero-laptop.png" }}'>
        </div>
      </div>
    </div>


    <div class="trpHomeMidStripContainer">
      <div class="trpMidStrip">Why you'll love using Troupe</div>
      </div>

      <div class="trpFeatures">
        <div class="trpFeature">
          <div class="trpFeatureImage"><img src='{{ cdn "images/2/feature-chat.png" }}' width="64" height="64"></div>
          <div class="trpFeatureText">
            <div class="trpFeatureHead">Quick and simple chat</div>
            <div class="trpFeatureBody">Group chat allows you to easily stay in touch with everyone in your Troupe. Need a quick answer or to discuss the latest presentation, just chat with anyone even on their mobiles.</div>
          </div>
        </div>

        <div class="trpFeature">
          <div class="trpFeatureImage"><img src='{{ cdn "images/2/feature-files.png" }}' width="64" height="64"></div>
           <div class="trpFeatureText">
            <div class="trpFeatureHead">Share and view files</div>
            <div class="trpFeatureBody">The simplest shared folder you've ever used. Keep all the files together, view them on your mobile, easy versioning just in case you need to go back to the last one.</div>
          </div>
        </div>

        <div class="trpFeature">
          <div class="trpFeatureImage"><img src='{{ cdn "images/2/feature-email.png" }}' width="64" height="64"></div>
           <div class="trpFeatureText">
            <div class="trpFeatureHead">All the emails in one place</div>
            <div class="trpFeatureBody">Group emails are a pain. Troupe makes this simple by giving your group an email address and keeping everyone in the loop.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="trpHomeVideoStripContainer">
      <div class="trpHomeVideo">
        State of the art work collaboration<br>
        <span class="trpHomeVideoSubtext">Find out more what Troupe can do for your team</span>
        <br><br><br><br><br>
        <img src='{{ cdn "images/2/icon-video-play.png" }}'>
      </div>
    </div>

    <div class="trpHomeAppStripContainer">
      <div class="trpHomeAppStrip">With you, anywhere, anytime<br><br></div>
      <img src='{{ cdn "images/2/home-apps-image.png" }}'>
    </div>

    <div class="trpHomeFooterStripContainer">
      <div class="trpFooterStrip">
        <a href="#top"><img src='{{ cdn "images/2/logo-circle.png" }}' class="trpLine"></a>
      </div>
    </div>

  </body>
</html>
