<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//cdn.optimizely.com/js/241369966.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Start a Troupe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="Troupe - Work smarter">
    <meta property="og:image" content="http:{{cdn 'images/2/logo-mark-200x200.png' }}">
    <meta property="og:description" content="The quick and simple way to chat, share and work together. Anytime, anywhere.">
    <link href='{{cdn "bootstrap/css/trpHomePage.css" }}' rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href='{{cdn "images/2/favicon8.ico" }}'>

    {{>require_wrapper}}

    {{{bootScript "signup" }}}

    <script type="text/javascript">
    window.noValidTroupes = {{noValidTroupes}};
    window.userId = {{{userId}}};
    {{#if trackingId}}
      window.troupeTrackingId = '{{trackingId}}';
    {{/if}}
    </script>

    <link rel="shortcut icon" href='{{ cdn "images/favicon.ico"}}'>
    <link rel="apple-touch-icon" href='{{ cdn "images/apple-touch-icon.png" }}'>
    <link rel="apple-touch-icon" sizes="72x72" href='{{ cdn "images/apple-touch-icon-72x72.png" }}'>
    <link rel="apple-touch-icon" sizes="114x114" href='{{ cdn "images/apple-touch-icon-114x114.png" }}'>
  </head>

  <body>

<!--     <div class="trpHomeTopStripContainer">
      <div class="trpHomeTopStrip">
        <div class="trpHomeLogo"><img src='{{ cdn "images/2/home-logo-black.png" }}' height="46" width="170"></div>
        <div class="trpHomeMenu">
          <div class="trpHomeMenuItem trpPadV14">Apps</div>
          <div class="trpHomeMenuItem trpPadV14">Support</div>
          <div class="trpHomeMenuItem trpPadV14 trpHand button-existing-users-login">Sign in</div>
      </div>
    </div> -->

    <div class="trpHomeHeroStripContainer">

      <div class="trpHomeTopStrip">
        <div class="trpHomeLogo"><img src='{{ cdn "images/2/logo-mark-green-square-white-text.png" }}' height="64" width="215"></div>
        {{^compactView}}
        <div class="trpHomeMenu">
          <div class="trpHomeMenuItem trpPadV14 trpHand" id="button-existing-users-login">Existing user login</div>
        </div>
        {{/compactView}}
    </div>

      <div class="trpHomeHero">
        <div class="trpHeroText">
          The quick and simple way to chat, share and<br>work together.<br><br>Anytime, anywhere.
          <br><br>
          {{#compactView}}Coming soon.{{/compactView}}
        </div>
        {{^compactView}}
        <div class="trpHeroSignup">
          <div class="trpButtonHuge trpHand trpBtnWhite button-signup" href="#!" id="button-signup"> Get Started<br><span class="trpBodySmall">It's free</span></div>
        </div>

        <div class="trpHeroImage">
          <img src='{{ cdn "images/2/home-hero-laptop2.png" }}'>
        </div>
        {{/compactView}}
      </div>
    </div>

    {{^compactView}}
    <div class="trpHomeMidStripContainer"><br><br>
      <div class="trpMidStrip">Why you'll love using Troupe</div><br><br>
      </div>

      <div class="trpFeatures">
        <div class="trpFeature">
          <div class="trpFeatureImage bgPurple"><img style="padding-top: 12px" src='{{ cdn "images/2/icon-feature-chat.png" }}' width="24" height="24"></div>
          <div class="trpFeatureText">
            <div class="trpFeatureHead">Simple, brilliant chat</div>
            <div class="trpFeatureBody">Chat individually or in groups. Easily edit or delete mistakes. Know who’s read any message.  Syncronised across devices. <br>The way chat should be.</div>
          </div>
        </div>

        <div class="trpFeature">
          <div class="trpFeatureImage bgGreen" ><img style="padding-top: 11px" src='{{ cdn "images/2/icon-feature-history.png" }}' width="24" height="24"></div>
           <div class="trpFeatureText">
            <div class="trpFeatureHead">Infinite chat history</div>
            <div class="trpFeatureBody">Your conversations are stored forever. <br>All of them, safely in the cloud. <br>Soon  you’ll be able to search them too.</div>
          </div>
        </div>

        <div class="trpFeature">
          <div class="trpFeatureImage bgCyan"><img style="padding-top: 11px" src='{{ cdn "images/2/icon-feature-free2.png" }}' width="24" height="24"></div>
           <div class="trpFeatureText">
            <div class="trpFeatureHead">Always free, no ads</div>
            <div class="trpFeatureBody">There will always be a free version of Troupe. Paid plans with additional features will be launching later.</div>
          </div>
        </div>
      </div>

      <div class="trpFeatures">
        <div class="trpFeature">
          <div class="trpFeatureImage bgYellow"><img style="padding-top: 11px" src='{{ cdn "images/2/icon-feature-notifications.png" }}' width="24" height="24"></div>
           <div class="trpFeatureText">
            <div class="trpFeatureHead">Smart Notifications</div>
            <div class="trpFeatureBody">Don't get bombarded with notifications everywhere. Our smart notifications will find you on the right device and won't overwhelm you with too many messages.</div>
          </div>
        </div>

        <div class="trpFeature">
          <div class="trpFeatureImage bgPurple"><img style="padding-top: 11px" src='{{ cdn "images/2/icon-feature-location.png" }}' width="24" height="24"></div>
           <div class="trpFeatureText">
            <div class="trpFeatureHead">Location Aware</div>
            <div class="trpFeatureBody">With intelligent location information, everyone knows who’s where. You won’t bug Frank when he’s on holiday in<br> Cape Town. Lucky Frank.</div>
          </div>
        </div>

        <div class="trpFeature">
          <div class="trpFeatureImage bgGrey"><img style="padding-top: 11px" src='{{ cdn "images/2/icon-feature-calendar.png" }}' width="24" height="24"></div>
           <div class="trpFeatureText">
            <div class="trpFeatureHead">Calendar Information</div>
            <div class="trpFeatureBody">Understanding people’s availability can be critical for effective communication. Coming soon. Also for free.</div>
          </div>
        </div>

      <div class="trpFeatures">
        <div class="trpFeature">
          <div class="trpFeatureImage bgCyan"><img style="padding-top: 11px" src='{{ cdn "images/2/icon-feature-sharing.png" }}' width="24" height="24"></div>
           <div class="trpFeatureText">
            <div class="trpFeatureHead">Made for Sharing</div>
            <div class="trpFeatureBody">Invite anyone to chat, with just one click they’ll be talking with you. <br>It couldn't get easier than that.</div>
          </div>
        </div>

        <div class="trpFeature">
          <div class="trpFeatureImage bgGreen"><img style="padding-top: 11px" src='{{ cdn "images/2/icon-feature-files.png" }}' width="24" height="24"></div>
           <div class="trpFeatureText">
            <div class="trpFeatureHead">Share and View Files</div>
            <div class="trpFeatureBody">Drag and drop or even email files to share with anyone. We keep them all safe and sound in the cloud.</div>
          </div>
        </div>

        <div class="trpFeature">
          <div class="trpFeatureImage bgYellow"><img style="padding-top: 11px" src='{{ cdn "images/2/icon-feature-email.png" }}' width="24" height="24"></div>
           <div class="trpFeatureText">
            <div class="trpFeatureHead">Plays Great with Email</div>
            <div class="trpFeatureBody">Troupe gives all of your group conversations an email address. No more CC’ing nightmares. Reach everyone with just one address.</div>
          </div>
        </div>
      </div>


  <br><br>
<div class="trpButtonHuge trpHand trpBtnGreen button-signup" href="#!" id="button-signup2"> Get Started<br><span class="trpBodySmall">It's free</span></div>
<br><br><br><br><br>

    </div>

  <!--   <div class="trpHomeVideoStripContainer">
      <div class="trpHomeVideo">
        State of the art work collaboration<br>
        <span class="trpHomeVideoSubtext">Find out more what Troupe can do for your team</span>
        <br><br><br><br><br>
        <a href="javascript:alert('Video coming soon!');"><img src='{{ cdn "images/2/icon-video-play.png" }}'></a>
      </div>
    </div> -->

    <div class="trpHomeAppStripContainer">
      <div class="trpHomeAppStrip">With you anytime, anywhere<br><br></div>
      <img src='{{ cdn "images/2/hero-image-iphone5.png" }}'><br><br><br><br><br>
    </div>

    <div class="trpHomeFooterStripContainer">
      <div class="trpFooterStrip">
        <a href="#top"><img src='{{ cdn "images/2/logo-mark-green-square-white.png" }}' class="trpLine"></a>
      </div>
    </div>
    {{/compactView}}
  </body>
</html>
