<div class='trpChatItem'>
  <div class='trpChatAvatar'>
    {{#if fromUser}}
      {{ widget "avatar" user=fromUser }}
    {{/if}}
  </div>
  <div class='trpChatBox {{webhookClass}}'>
    <div class='trpChatDetails'>
      <div class='trpChatFrom'>{{username}} &bull; </div>
      <div class='trpChatTime'>{{widget "timeago" time=sent lang=lang locale=locale}}</div>
      {{#if readByText}}
        {{#if compactView}}
          <span class="trpChatReadBy readBySome">{{readByText}}</span>
        {{else}}
          <div class="trpChatReadBy readBySome">{{readByText}}</div>
        {{/if}}
      {{/if}}
      <div class='trpChatEdit'></div>
    </div>
    <div class='trpChatText'>
      {{{html}}}
    </div>
  </div>
</div>