<div class="room-list-item__icon">
  <img src='{{roomAvatarSrcSet.src}}' srcset='{{roomAvatarSrcSet.srcset}}' height='{{roomAvatarSrcSet.size}}' width='{{roomAvatarSrcSet.size}}'>
</div>
<span class="room-list-item__name">{{ name }}</span>
