{{#if ethereal}}
  <span class="room-list-item__name {{iconClass}}" title="{{title}}">{{name}}</span>
{{else}}
  <span class="room-list-item__name {{iconClass}}" title="{{title}}">{{name}}</span>

  <div class="room-list-item__labels">
    <span class="js-unread-badge room-list-item__unread-badge">{{unreadItems}}</span>
    <span class="js-leave-button room-list-item__leave" data-id="{{id}}" title="Leave this room"></span>
    <span class="js-close-button room-list-item__close" data-id="{{id}}" title="Remove from list"></span>
  </div>
{{/if}}
