{{#if ethereal}}
  <span class="room-list-item__icon github-REPO" title="{{title}}">{{name}}</span>
{{else}}
  <span class="room-list-item__icon github-{{githubType}}" title="{{title}}">{{name}}</span>
  <span class="item-unread-badge">
    <span class="trpTroupeUnreadCounter">{{unreadItems}}</span>
  </span>

  <span class="js-room-list-item__close room-list-item__close" data-id="{{id}}" title="Remove from list"></span>
{{/if}}