{{#if ethereal}}
  <span class="room-list-item__name {{ iconClass }}" title="{{ title }}" id="room-name">{{ name }}</span>
{{else}}
  <div class="room-list-item__icon">
    <i class='{{ iconClass }}'></i>
  </div>
  <span id="room-name" class="room-list-item__name" title="{{title}}">{{ name }}</span>
  <i class="room-list-item__action js-close-button icon-cancel-circle" data-id="{{ id }}"></i>
  <span id="unread-badge" class="room-list-item__unread-badge" style="display:none">{{ unreadItems }}</span>
{{/if}}
