{{#if ethereal}}
  <span class="github-REPO" title="{{title}}">{{name}}</span>
{{else}}
    <span class="github-{{githubType}}" title="{{title}}">{{name}}</span>
    <span class="item-unread-badge">
      <span class="trpTroupeUnreadCounter">{{unreadItems}}</span>
    </span>

    <span class="item-close {{githubType}}" data-id="{{id}}" title="Remove from list">
      <span class="trpLeftMenuItemClose"></span>
    </span>
{{/if}}