<div id="left-menu-profile" class="menu-header {{#if showExapandedHeader}}menu-header--expanded{{/if}}">
  <div class="menu-header__profile">
    {{ widget "avatar" model=user size='s' }}
    <div class="menu-header__name">{{ user.displayName }}</div>
  </div>
</div>
<div class="nano  menu-content" id="left-menu-scroll">
  <div class="content  nano-content  menu-content__wrapper" style="outline: none">
    <div class="menu-list" id="list-mega">
      {{!-- `#recentTroupesList` & `#OrgsList` need to be checked for JS hooks, if so replace with `js-*` --}}
      <div class='menu-list__item' id="recentTroupesList">
        <div class="menu-list__header">All Conversations</div>
        <div class="list-favourites  menu-list__section--fav" id="list-favs">
          <ul class="room-list">
          {{!-- put filtered favourites in here --}}
            {{#each rooms.favourites}}
              <li class="room-list-item  {{#if selected}}room-list-item--current-room{{/if}}" data-id="{{ this.id }}">{{{ prerenderRoomListItem this }}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="list-recents  menu-list__section--recent" id="list-recents">
          {{!-- put filtered recents in here. remember also that notifications will appear in here if they aren't in favourites --}}
          <ul class="room-list">
            {{#each rooms.recents}}
              <li class="room-list-item {{#if selected}}room-list-item--current-room{{/if}}" data-id="{{ this.id }}">
              {{{ prerenderRoomListItem this }}}
              </li>
            {{/each}}</ul>
        </div>
      </div>
      <div class='menu-list__item' id="left-menu-list-suggested"></div>
      <div class='menu-list__item' id="left-menu-list-orgs">
        <div class="menu-list__section--orgs" id="list">
          <div class="menu-list__header">Your Organizations</div>
          <ul class="room-list">{{#each orgs}}<li class="room-list-item">{{{ prerenderOrgListItem this }}}</li>{{/each}}</ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{#if showFooterButtons}}
  <div class="menu-actions">
    <a class="trpButtonMedium trpBtnWhite gtrCreateRoomButton" href="#createroom">Create a room</a>
  </div>
{{/if}}
