<div id="left-menu-profile" class="menu-header {{#if showExapandedHeader}}menu-header--expanded{{/if}}">
  <div class="menu-header__profile">
    {{ widget "avatar" model=user size='s' }}
    <div class="menu-header__name u-font-larger">{{ user.displayName }}</div>
    {{#unless isMobile}}
      <div class="menu-header__state">
        {{#if menuHeaderExpanded}}
          <i class="octicon octicon-chevron-up"></i>
        {{else}}
          <i class="octicon octicon-chevron-down"></i>
        {{/if}}
      </div>
    {{/unless}}
  </div>
</div>
<div class="nano  menu-content" id="left-menu-scroll">
  <div class="content  nano-content  menu-content__wrapper" style="outline: none">
    <div class="menu-list" id="list-mega">
      {{!-- `#recentTroupesList` & `#OrgsList` need to be checked for JS hooks, if so replace with `js-*` --}}
      <div class='menu-list__item' id="recentTroupesList">
        <h5 class="menu-list__header">All Conversations</h5>
        <div class="list-favourites  menu-list__section--fav" id="list-favs">
          <ul class="room-list u-font-larger">
          {{!-- put filtered favourites in here --}}
            {{#each rooms.favourites}}
              <li class="room-list-item  {{#if selected}}room-list-item--current-room{{/if}}" data-id="{{ this.id }}">{{{ prerenderRoomListItem this }}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="list-recents  menu-list__section--recent" id="list-recents">
          {{!-- put filtered recents in here. remember also that notifications will appear in here if they aren't in favourites --}}
          <ul class="room-list u-font-larger">
            {{#each rooms.recents}}
              <li class="room-list-item {{#if selected}}room-list-item--current-room{{/if}}" data-id="{{ this.id }}">
              {{{ prerenderRoomListItem this }}}
              </li>
            {{/each}}</ul>
        </div>
      </div>
      <div class='menu-list__item' id="left-menu-list-suggested"></div>
      <div class='menu-list__item' id="left-menu-list-orgs">
        <div class="menu-list__section--orgs" id="list">
          <h5 class="menu-list__header">Your Organizations</h5>
          <ul class="room-list u-font-larger">{{#each orgs}}<li class="room-list-item">{{{ prerenderOrgListItem this }}}</li>{{/each}}</ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{#if showFooterButtons}}
  <div class="menu-actions">
    <a class="trpButtonMedium trpBtnWhite gtrCreateRoomButton" href="#createroom">Create a room</a>
  </div>
{{/if}}
{{#if showUnreadTab}}
<div class="menu__hotspot">
  <div id="menu-tab-unread-count" class="menu__tab"></div>
</div>
{{/if}}
