<h3 class="invite-view__heading">
  People can join this chat room with the link below.
</h3>

<div class="invite-view__copy-text">
  <input class="invite-view__copy-field" value="{{url}}" onclick="this.select();">

  {{#if hasFlash}}
  <button class="invite-view__button invite-view__button--copy copy-button" data-copy-text="{{url}}">Copy</button>
  {{/if}}
</div>

<div class="invite-view__divider"></div>

{{#if isPublicRepo}}
<h3 class="invite-view__heading">
  How about a badge? <img class="invite-view__badge" src="{{badgeUrl}}">
</h3>


<div class="invite-view__copy-text">
  <input class="invite-view__copy-field" value="{{badgeMD}}" onclick="this.select();">

  {{#if hasFlash}}
  <button class="invite-view__button invite-view__button--copy copy-button" data-copy-text="{{badgeMD}}">Copy</button>
  {{/if}}
  <button class='invite-view__button invite-view__button--pull-request js-badge'>Pull Request</button>
</div>

<div class='pr-status'></div>

{{/if}}
