<h3 class="invite-view__heading">
  People can join this chat room with the link below.
</h3>

<div class="invite-view__copy-text">
  <input class="invite-view__copy-field" value="{{url}}" onclick="this.select();">

  {{#if hasFlash}}
  <button class="invite-view__button invite-view__button--copy js-copy" data-clipboard-text="{{url}}">Copy</button>
  {{/if}}
</div>

{{#if isRepo}}
<h3 class="invite-view__heading">
  How about a badge like this: <img class="invite-view__badge" src="{{badgeUrl}}">
</h3>

<div class="invite-view__copy-text">
  <input class="invite-view__copy-field" value="{{badgeMD}}" onclick="this.select();">

  {{#if hasFlash}}
  <button class="invite-view__button invite-view__button--copy js-copy" data-clipboard-text="{{badgeMD}}">Copy</button>
  {{/if}}

  {{#if isPublic}}
  <button class='invite-view__button invite-view__button--pull-request js-badge'>Send Pull Request</button>
  {{/if}}
</div>
{{/if}}

<h3 class="invite-view__heading">
  Tell people about it!
</h3>

<div class="invite-view__copy-text">
  <a href="{{twitterUrl}}" target="_blank" class="invite-view__button invite-view__button--twitter">Share on Twitter</a>
  <a href="{{facebookUrl}}" target="_blank" class="invite-view__button invite-view__button--facebook">Share on Facebook</a>
</div>