<div class="trpInviteItem">
  <div class="cell">
    <div class="trpInviteAvatar" style="background-image: url('{{#if user.avatarUrlSmall}}{{user.avatarUrlSmall}}{{else}}/avatarForEmail/{{user.email}}{{/if}}');"></div>
  </div>
    <div class="trpInviteName">
      {{#if user.displayName}}
        {{user.displayName}}
      {{else}}
        {{user.email}}
      {{/if}}
    </div>
    <div class="cell">
    {{#if user.invited}}
      <button class="trpInviteButton disabled">Invited</button>
    {{else}}
      <button class="trpInviteButton">Invite</button>
    {{/if}}
    </div>
</div>