<div class="trpInviteItem">
  <div class="cell">
    <div class="trpInviteAvatar" style="background-image: url('{{avatarUrl}}');"></div>
  </div>
    <div class="trpInviteName">
      {{displayName}}
      <span>
      {{#if username}}
      <span class="trpSmall">@{{username}}</span>
      {{/if}}
      {{#if emails}}
      <span class="trpInviteEmails">
      {{#each emails}}
      {{#unless @index}}|{{/unless}}
      {{.}}
      {{/each}}
      </span>
      {{/if}}
      </span>
    </div>
    <div class="cell">
    {{#if invited}}
      <button class="trpInviteButton disabled">Invited</button>
    {{else}}
      <button class="trpInviteButton">Invite</button>
    {{/if}}
    </div>
</div>