<div class="modal-content trpInviteModal">
  <form class="form-inline" id="share-form">
    <div>
      {{#if inviteToTroupe}}
        <input type="text" name="inviteSearch" class="trpInput" placeholder="Search your contacts or type an email address to invite" autocomplete="off" style="width: 400px"/><br>
      {{else}}
        {{#if importedGoogleContacts}}
        <input type="text" name="inviteSearch" class="trpInput" placeholder="Search your Gmail contacts or type an email address to invite" autocomplete="off" style="width: 400px"/><br>
        {{else}}
        <input type="text" name="inviteSearch" class="trpInput" placeholder="Enter an email address to invite" autocomplete="off" style="width: 400px"/><br>
        {{/if}}
      {{/if}}
    </div>
    {{#inviteToTroupe}}
    {{#unless importedGoogleContacts}}
     <a href='/google/contacts?returnTo={{returnToUrl}}' style="text-decoration: none;"><div style="display: inline-block; margin-top: 8px"><div class="trpButton trpCopyButton" style="margin-left: 0px"><img src='{{cdn "images/2/icon-gmail.png"}}' style="vertical-align: middle; margin-right: 4px" width="16"> <span style="vertical-align: middle">Invite Gmail contacts</span></div></div></a>
    {{/unless}}
    {{/inviteToTroupe}}
    <style>button.sendInvites { display: inline-block; } </style>

  <div id="invites" class="trpSearchInvites">
  </div>

  <div style="margin-top: 20px">
  <button type="submit" class="trpModalButton trpButtonBig trpBtnGreen sendInvites" id="submit-button">Send Invites</button>
  <!-- don't display this <a> bit at all if the account has been connected to Google -->
  </div>
  </form>

</div>

<div class="trpModalFailure share-failure" style="display:none">
  <span class="trpModalTitle"><span class="trpModalFailureText" id="failure-text">Invite failed.</span></span>
</div>

<div class="modal-success">
  <div class="trpModalTitle">Your invites were sent successfully<br><br></div>
</div>

{{#inviteToTroupe}}
<div class="trpModalInfo">
  <div class="trpBodyMedium" style="display:inline-block; margin-top: 3px">You can also share this link to invite people: <span class="trpGreen">{{basePath}}/{{uri}}</span></div>
  <div style="display: inline-block; float: right"><div class="trpButton trpCopyButton" id="copy-button"> copy</div></div>
</div>
{{/inviteToTroupe}}

{{#inviteToConnect}}
<div class="trpModalInfo">
  <a href='/google/contacts?returnTo={{returnToUrl}}' style="text-decoration: none"><div style="display: inline-block;"><div class="trpButton trpCopyButton" style="margin-left: 0px"><img src='{{cdn "images/2/icon-gmail.png"}}' style="vertical-align: middle; margin-right: 4px" width="16"> <span style="vertical-align: middle">Add Gmail contacts</span></div></div></a>
</div>
{{/inviteToConnect}}

<div class="trpModalSuccess" id="import-success" style="display:none">
  <div class="trpModalTitle"><span class="trpWhite">Successfully connected to Gmail</span></div>
  <div class="trpModalBody"><span class="trpWhite">You can now search and invite your Gmail contacts in the above field.</span></div>
</div>