<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=IE9" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link href='/bootstrap/css/trpStart.css' rel='stylesheet' type='text/css'>
</head>

<body data-page="{{page}}">
<div class="trpStartContainer trpStartHeader">
  <div class="trpStartContent">
    <div class="trpStartLogo"></div>
    {{{block 'header'}}}
  </div>
</div>

{{{body}}}

<br><br><br>
{{{ generateTroupeContext troupeContext }}}

{{>require_wrapper}}
{{{bootScript 'start-app' }}}
</body>
</html>