<a href="/{{name}}">
<img src="{{avatar_url}}" width="48" height="48">
<p>{{name}}</p>
{{#if room}}
<p class='topic'><small>{{room.topic}}</small></p>
<p class='user-count'>{{room.userCount}} people</p>
{{/if}}
</a>
