<a href="{{stub}}">
<img src="{{avatarUrl}}" width="48" height="48">
<p>{{name}}</p>
<p class='topic'>{{description}}</p>
{{#if userCount}}
<p class='user-count'>{{userCount}} people</p>
{{/if}}
</a>
