<a href="#!" class="trpWhite"><div class="trpDetailViewClose">x</div></a>

<div class="trpFileVersionThumbnail"><a href="#|{{previewUrl}}" class="link-preview">{{ widget "avatar" user=this size='m'}}</a></div>

<div class="trpItemDetails">
  <div class="trpFilename" title="{{fileName}}">{{this.displayName}}</div>
</div>

{{#unless troupe.oneToOne}}

{{^isSelf}}}
<div class="trpButtonGreen trpFileButton trpButtonDropdown">
  <div class="trpMainButton">
    <a href="/one-one/{{this.id}}">Chat Privately</a>
  </div>
</div>
{{/isSelf}}

<div class="trpButtonGreen trpFileButton trpButtonDropdown">
  <div class="trpMainButton">
    <a href="#!" id="person-remove-button">{{#if isSelf}}Leave this Troupe{{else}}Remove from Troupe{{/if}}</a>
  </div>
</div>

{{/unless}}
