<div style="float: left"><img src="{{avatarUrl}}" class="avatar-l"/></div>
<div class="trpPopoverDetails">
  <h1>{{name}}</h1>
  <h2><a href="http://github.com/{{login}}">{{login}}</a></h3>

  <div class="vcard-stats">
      <strong class="vcard-stat-count">{{followers}}</strong>
      followers &nbsp;
      <strong class="vcard-stat-count">{{public_repos}}</strong>
      repos &nbsp;
      <strong class="vcard-stat-count">{{following}}</strong>
      following &nbsp;
  </div>

  <ul class="trpUserDetails">
    {{#if company}}
    <li><span class="github-ORG"></span>{{company}}</li>
    {{/if}}

    {{#if location}}
    <li><span class="github-LOCATION"></span>{{location}}</li>
    {{/if}}

    {{#if email}}
    <li><span class="github-MAIL"></span><a class="email" href="mailto:{{email}}">{{email}}</a></li>
    {{/if}}

    {{#if blog}}
    <li><span class="github-LINK"></span><a target="_new" href="{{blog}}" class="url" rel="nofollow me">{{blog}}</a></li>
    {{/if}}

    <!-- <li><span class="octicon-clock"></span><span class="join-label">Joined on </span><span class="join-date">{{joined}}</span></li> -->
  </ul>
</div>



  {{#if chatPrivately}}
  {{/if}}




