{{#if inactive}}
  <div class='invited'>
    <p><small>{{login}} is not on Gitter yet.</small></p>
  </div>
{{/if}}
<div style="float: left"><img src="{{avatarUrl}}" class="avatar-l"/></div>
<div class="trpPopoverDetails">
  <h1>{{name}}</h1>
  <h2><a href="http://github.com/{{login}}" target="_blank">{{login}}</a></h3>
  <div class="vcard-stats">
      <strong class="vcard-stat-count">{{followers}}</strong>
      followers &nbsp;
      <strong class="vcard-stat-count">{{public_repos}}</strong>
      repos &nbsp;
      <strong class="vcard-stat-count">{{following}}</strong>
      following &nbsp;
  </div>

  <ul class="trpUserDetails">
    {{#if company}}
      <li>
        <div class='trpUserDetails__icon'>
          <i class='octicon octicon-organization'></i>
        </div>
        <span>{{ company }}</span>
      </li>
    {{/if}}

    {{#if location}}
      <li>
        <div class='trpUserDetails__icon'>
          <i class='octicon octicon-location'></i>
        </div>
        <span>{{ location }}</span>
      </li>
    {{/if}}

    {{#if email}}
      <li>
        <div class='trpUserDetails__icon'>
          <i class='octicon octicon-mail'></i>
        </div>
        <a class="email" href="mailto:{{email}}">{{ email }}</a>
      </li>
    {{/if}}

    {{#if blog}}
      <li>
        <div class='trpUserDetails__icon'>
          <i class='octicon octicon-link'></i>
        </div>
        <a target="_blank" href="{{blogUrl}}" class="url" rel="nofollow me">{{ blog }}</a>
      </li>
    {{/if}}
  </ul>
</div>
