{{#if inactive}}
  <div class='invited'>
    <p><small>{{login}} is not on Gitter yet.</small></p>
  </div>
{{/if}}
<div style="float: left"><img src="{{avatarUrl}}" class="avatar-l"/></div>
<div class="trpPopoverDetails">
  <h1>{{name}}</h1>
  <h2><a href="http://github.com/{{login}}">{{login}}</a></h3>
  <div class="vcard-stats">
      <strong class="vcard-stat-count">{{followers}}</strong>
      followers &nbsp;
      <strong class="vcard-stat-count">{{public_repos}}</strong>
      repos &nbsp;
      <strong class="vcard-stat-count">{{following}}</strong>
      following &nbsp;
  </div>

  <ul class="trpUserDetails">
    {{#if company}}
      <li><i class='icon-organization'></i>{{ company }}</li>
    {{/if}}

    {{#if location}}
      <li><i class='icon-location'></i>{{ location }}</li>
    {{/if}}

    {{#if email}}
      <li><i class='icon-mail'></i> <a class="email" href="mailto:{{email}}">{{ email }}</a></li>
    {{/if}}

    {{#if blog}}
      <li><i class='icon-link'> <a target="_blank" href="{{blogUrl}}" class="url" rel="nofollow me"></i>{{ blog }}</a></li>
    {{/if}}
  </ul>
</div>
