<div class="room-item__container--search">
  {{#if avatarUrl}}<img class="room-item__avatar--search" src="{{ avatarUrl }}" />{{/if}}
  <p class="room-item__search-detail"><small>
    <a id="user-link" class="room-item__search__link" href="{{userUrl}}">{{userDisplayName}}</a>
    <span>&#9679;</span>
    <a class="room-item__search__link" href="">{{sent}}</a>
  </small></p>
  <h2 class="room-item__title--search">{{text}}</h2>
</div>
