<a href="#">
{{#if orgType}}
<img src="{{ avatarUrl }}" class="avatar-xs"> {{name}}
{{/if}}
{{#if repoType}}
  <span><i class='icon-repo'></i> {{name}}</span>
{{/if}}

{{#if userType}}
<img src="{{ avatarUrl }}" class="avatar-xs"> {{name}}
{{/if}}
</a>
