<a href="#">
{{#if orgType}}
<img src="{{ avatarUrl }}" class="avatar-xs"> {{name}}
{{/if}}
{{#if repoType}}
<span class="github-REPO">{{name}}</span>
{{/if}}

{{#if userType}}
<img src="{{ avatarUrl }}" class="avatar-xs"> {{name}}
{{/if}}
</a>