<div class="trpChatAvatar">
  <span>
    <div class="trpDisplayPicture avatar-s" style="background-image: url({{author.avatar_url}});">
   </div>
  </span>
</div>
<div class="trpChatBox">
  <div class="trpChatDetails">
    <div class="trpChatFrom">{{author.login}}</div>
    <div class="trpChatTime"> &bull; {{date}}</div>
  </div>
  <div class="trpChatText">
    <p>{{files.length}} files changed. {{stats.additions}} additions, {{stats.deletions}} deletions.</p>
    <ul class="file-list">
      {{#each files}}
      <li><a href="{{blob_url}}" target="github" class="{{status}}" title="{{fullFilename}}">{{filename}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>
