<div class="whicon">
  <img class="notification-icon" src="{{favicon}}">
</div>

<div class="whbody">
  <a href="{{baseUri}}/{{user}}" target="_blank">{{user}}</a>
  created <a href="{{baseUri}}/{{uri}}">{{event}} {{name}}</a>
</div>
