<div class="whicon">
  <img class="notification-icon" src="{{favicon}}">
</div>

<div class="whbody">
  Job <a href="{{url}}" target="_blank">{{job}}</a> {{phase}}
  {{#if status}}
  with status {{status}}
  {{/if}}
</div>
