<div class="whicon">
  <img class="notification-icon" src="{{favicon}}">
</div>

<div class="whbody">
  {{user}} just created a new {{item}}: <a href="{{url}}" target="_blank">{{title}}</a> ({{status}})
</div>
