<div class="whicon">
  <img class="notification-icon" src="{{favicon}}">
</div>

<div class="whbody">
  {{#if from}}
  Card '{{card}}' {{action}} from '{{from}}' to '{{to}}' on board <a href="{{url}}" target="_blank">{{board}}</a>
  {{else}}
    Card '{{card}}' {{action}} on board <a href="{{url}}" target="_blank">{{board}}</a>
  {{/if}}
</div>
