<!-- <img src="{{userAvatarUrl}}" class="trpDisplayPicture {{#offline}}offline{{/offline}} avatar-{{id}}" height="48" width="48" rel="tooltip" title="{{userDisplayName}}"> -->

      <div class="trpDisplayPicture avatar-{{id}} {{#offline}}offline{{/offline}} online" style="background-image: url('{{userAvatarUrl}}');" title="{{userDisplayName}}">
        <div class="trpStatus trpStatusOnline" id="status"> </div>
        {{#showBadge}}<div class="trpDPUnreadCount">12</div>{{/showBadge}}
      </div>
