<a href="{{url}}" style="width: 100%">
  <span class="github-{{githubType}}">{{uri}}{{name}}</span>
  {{#if unreadItems}}
  <span style="float: right; padding-right: 1px;">
    <span class="trpTroupeUnreadCounter">{{unreadItems}}</span>
  </span>
  {{/if}}
</a>
