{{#if ethereal}}
  {{#if createRoom}}
    <a href="{{url}}" class="trpLeftMenuLinkItem">
      <span class="github-REPO">{{name}}</span>
    </a>
  {{else}}
    <span class="github-REPO disabled">{{name}}</span>
  {{/if}}
{{else}}
  <a href="{{url}}" class="trpLeftMenuLinkItem">
    <span class="github-{{githubType}}">{{name}}</span>
    {{#if unreadItems}}
    <span class="item-unread-badge">
      <span class="trpTroupeUnreadCounter">{{unreadItems}}</span>
    </span>
    {{/if}}
  </a>
{{/if}}
