<br class="trpNewLine">
<div class="{{chatRowClass}}">
  <div class="{{chatRowPictureClass}}">
    {{widget "avatar" user=fromUser}}
  </div>
  <div class="trpChatContainer">
    <div class="trpChatBubble timeago {{chatBubbleAdditional}}" rel="tooltip">
      <div class="trpChatFrom">{{{displayName}}}</div>
    	<div class="trpChatText">{{{text}}}</div>
    </div>
  </div>
</div>