<br class="trpNewLine">
<div class="{{chatRowClass}}" data-item-type="chat" data-item-id="{{id}}">
  <div class="{{chatRowPictureClass}}">
    {{widget "avatar" user=fromUser}}
  </div>
  <div class="trpChatContainer">
    <div class="trpChatBubble timeago {{chatBubbleAdditional}}" rel="tooltip">{{text}}</div>
  </div>
</div>