<!-- <br class="trpNewLine">
<div class="{{chatRowClass}}">
  <div class="{{chatRowPictureClass}}">
    {{widget "avatar" user=fromUser}}
  </div>
  <div class="trpChatContainer">
    <div class="trpChatBubble timeago {{chatBubbleAdditional}}" rel="tooltip">
      {{^compactView}}<div class="trpChatFrom">{{{displayName}}}</div>{{/compactView}}
    	<div class="trpChatText">{{{text}}}</div>
    </div>
  </div>
</div> -->

<div class="trpChatItem">
  {{widget "avatar" user=fromUser}}
  <div class="trpChatBox">
    <div class="trpChatDetails">
      <div class="trpChatFrom">{{{displayName}}}</div>
      <div class="trpChatTime">{{sent}}</div>
    </div>
    <div class="trpChatText">{{{text}}}</div>
    <!-- {{sent}} -->
  </div>
</div>