  <!doctype html>
  <html class="no-js" lang="en" {{#useAppCache}}manifest="/mobile.appcache"{{/useAppCache}}>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta charset="utf-8">

    <title>{{troupeName}}</title>

    <link rel="stylesheet" href='/bootstrap/css/trpMobileChat.css'>

    <script type="text/javascript">
    window.troupeContext = {{{troupeContext}}};
    {{#if data}}
    window.troupePreloads = {{{data}}};
    {{/if}}

    </script>


    {{>require_wrapper}}

    {{{bootScript "router-mobile-chat" skipCdn=true }}}

    <link rel="shortcut icon" href="images/favicon.ico">

</head>
<body>

  <div class="trpMobileAmuse fade-in" id="chat-amuse">
    <div class="trpMobileAmuseIcon">
      <img src='{{cdn "images/2/troupe-ajax-guy-green.gif" }}'><br><br>Loading
    </div>
  </div>

  <div id="troupeListPanel" class="sideMenu">
    <ul id="troupeList" class="trpTroupeList"></ul>
  </div>
  <div id="pageContainer" class="platform">
<div id="mainPage">
  {{#if isWebApp}}
  <header id="nav-bar">
    <div id="showTroupesButton" onclick="window.list();">
      <img src='{{cdn "images/2/menu-toggle.png" }}' width="40" height="40" id="menu-toggle">
    </div>
    <span class="title">{{troupeName}}</span>
  </header>
  {{/if}}

  <div class="contentBody mobile-scroll-class" id="chat-wrapper">
    <div class="frame-chat">
     <div class="trpChatPanel" id="chat-frame">
        <div class="chatPanel" id="frame-chat">
        </div>
      </div>
    </div>
  </div>

  <div class="trpChatInputArea" id="chat-input">
  </div>
  </div>
</div>
  <script type="text/javascript">
  var isTroupeListShowing = false;
  var menuWidth = 200;
  window.list = function() {
    document.getElementById('mainPage').style.width = window.innerWidth+"px";
  var pageContainer = document.getElementById('pageContainer');
  var troupeList = document.getElementById('troupeListPanel');
    if(!isTroupeListShowing) {
      $.get('/troupes', function(data) {
        var $list = $('#troupeList');
        $list.empty();
        data.forEach(function (troupe) {
          $list.append('<li><a href="'+troupe.url+'">'+troupe.name+'</a></li>');
        });
      }, 'json');
      $(pageContainer).addClass("partiallyOffScreen");
      isTroupeListShowing = true;
    } else {
      $(pageContainer).removeClass("partiallyOffScreen");
      isTroupeListShowing = false;
    }

  }
  </script>
</body>
</html>
