<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta charset="utf-8">

	<title>{{troupeName}}</title>

  <link rel="stylesheet" href='{{cdn "bootstrap/css/trpMobileConversations.css" }}'>

  <script type="text/javascript">
  window.troupeContext = {{{troupeContext}}};
  {{#if data}}
  window.troupePreloads = {{{data}}};
  {{/if}}
  </script>

  {{>require_wrapper}}

  {{{bootScript "router-mobile-conversations" }}}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">

</head>
<body>

      <div class="contentBody" id="primary-view">

        <!-- the chat content below is an ugly ugly hack, will sort it out. Fluid rows have their downside. -->
        <div class="frame-conversations">


        </div>

        <div id="loadmoreajaxloader" style="display:none">MOO</div>
        </div> <!-- box -->

      </div>



</body>
</html>
