<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//cdn.optimizely.com/js/241369966.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Start a Troupe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-itunes-app" content="app-id=632039322"/>

    <meta property="og:title" content="Troupe - Work smarter">
    <meta property="og:image" content="http:{{cdn 'images/2/logo-mark-200x200.png' }}">
    <meta property="og:description" content="The quick and simple way to chat, share and work together. Anytime, anywhere.">
    <link href='{{cdn "bootstrap/css/homepage-mobile.css" }}' rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href='{{cdn "images/2/favicon8.ico" }}'>

    {{>require_wrapper}}

    {{{bootScript "signup-mobile" }}}

    <script type="text/javascript">
    window.profileHasNoUsername = {{ profileHasNoUsername }};
    window.userId = {{{userId}}};
    {{#if trackingId}}
      window.troupeTrackingId = '{{trackingId}}';
    {{/if}}
    </script>

    <link rel="shortcut icon" href='{{ cdn "images/favicon.ico"}}'>
    <link rel="apple-touch-icon" href='{{ cdn "images/apple-touch-icon.png" }}'>
    <link rel="apple-touch-icon" sizes="72x72" href='{{ cdn "images/apple-touch-icon-72x72.png" }}'>
    <link rel="apple-touch-icon" sizes="114x114" href='{{ cdn "images/apple-touch-icon-114x114.png" }}'>
  </head>

  <body>
    <div id="platform">
      <div id="panelList">
        <div id="landing-page" class="slidingPanel">

          <img src='{{ cdn "images/2/logo-mark-green-square-white-text.png" }}' height="64" width="215">

          <div class="trpHomeHero">
            <div class="trpHeroText">
              The quick and simple way to chat, share and<br>work together.<br><br>Anytime, anywhere.
              <br><br>
            </div>
            <div class="trpHomeMenu">
              <button id="login-button" class="trpHomeMenuItem trpPadV14 trpHand">Login</button>
            </div>
            <div class="trpHomeMenu">
              <button id="signup-button" class="trpHomeMenuItem trpPadV14 trpHand" >Sign up</button>
            </div>
          </div>

        </div>

        <div id="formPanel" class="slidingPanel">
          <div id="signup-form" class="form signupStep" style="display: none;"></div>
          <div id="signup-confirmation" class="form signupStep" style="display: none;"></div>
          <div id="login-form" class="form" style="display: none;"></div>
        </div>

      </div>
    </div>
  </body>
</html>
