<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta charset="utf-8">

  <title>{{troupeName}}</title>

  {{#if isUserhome}}
  <link rel="stylesheet" href='{{ cdn "bootstrap/css/trpMobileUserhome.css"}}'>
  {{else}}
  <link rel="stylesheet" href='{{ cdn "bootstrap/css/trpMobileApp.css"}}'>
  {{/if}}

  {{{ generateTroupeContext troupeContext }}}

  {{>require_wrapper}}
  {{{bootScript bootScriptName }}}

  <link rel="shortcut icon" href='{{ cdn "images/2/gitter/favicon5.png"}}'>
</head>
<body>

  <div class="trpMobileAmuse fade-in" id="chat-amuse">
    <div class="trpMobileAmuseIcon">
      <img src='{{cdn "images/2/troupe-ajax-guy-green.gif" }}'><br><br>Loading
    </div>
  </div>

  <div id="troupeList" class="sideMenu">
  </div>

  <div id="mainPage">
    <header>
      <div id="showTroupesButton">
        <img src='{{cdn "images/2/gitter/icon-more@2x.png" }}' width="16" height="16" id="menu-toggle" style="margin-left: 8px">
      </div>
      <span class="title">{{troupeName}}</span>
    </header>

    <div id="content">
      <div class="contentBody mobile-scroll-class" id="content-frame">
        <div class="frame-chat">
          <div class="trpChatPanel" id="chat-frame">
            <div class="chatPanel" id="frame-chat"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="trpChatInputArea" id="chat-input"></div>
  </div>

</body>
</html>
