<!doctype html>
<html lang="en" {{#if appCache}}manifest="{{appCache}}"{{/if}}>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta charset="utf-8">
  <title>Troupe</title>

  <link rel="stylesheet" href='{{ cdn "bootstrap/css/trpNativeCreateTroupe.css" appcache=appCache }}'>

  {{{ generateTroupeContext troupeContext accessToken=accessToken page='createtroupe' appcache=appCache }}}

  <link rel="shortcut icon" href='{{ cdn "images/2/favicon8.ico" appcache=appCache }}'>
</head>
<body>
  {{>require_wrapper}}
  {{{bootScript "routers/mobile/native/create-troupe-router" appcache=appCache }}}
</body>
</html>
