<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta charset="utf-8">

	<title>{{troupeName}} - Troupe</title>

  <link rel="stylesheet" href='{{cdn "bootstrap/css/trpMobilePeople.css" }}'>

  <script type="text/javascript">
  window.troupeContext = {{{troupeContext}}};
  {{#if data}}
  window.troupePreloads = {{{data}}};
  {{/if}}
  </script>

  {{>require_wrapper}}

  {{{bootScript "router-mobile-people" }}}
  <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>

      <div class="contentBody" id="primary-view">

        <!-- the chat content below is an ugly ugly hack, will sort it out. Fluid rows have their downside. -->
        <div class="frame-people">


        </div>

        <div id="loadmoreajaxloader" style="display:none">MOO</div>
        </div> <!-- box -->

      </div>



</body>
</html>
