<!doctype html>
<html class="no-js" lang="en" {{#useAppCache}}manifest="/mobile.appcache"{{/useAppCache}}>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta charset="utf-8">

	<title>{{troupeName}} - Troupe</title>

  <link rel="stylesheet" href='/bootstrap/css/trpMobilePeople.css'>

  <script type="text/javascript">
  window.troupeContext = {{{troupeContext}}};
  {{#if data}}
  window.troupePreloads = {{{data}}};
  {{/if}}
  </script>

  {{>require_wrapper}}

  {{{bootScript "router-mobile-people" skipCdn=true }}}
  <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>

  <div class="trpMobileAmuse fade-in" id="user-amuse">
    <div class="trpMobileAmuseIcon">
      <img src='{{cdn "images/2/troupe-ajax-guy-green.gif" }}'><br><br>Loading
    </div>

  </div>
    <div class="contentBody mobile-scroll" id="primary-view">

      <!-- the chat content below is an ugly ugly hack, will sort it out. Fluid rows have their downside. -->
      <div class="frame-people">


      </div>

      <div id="loadmoreajaxloader" style="display:none">MOO</div>
    </div>
</body>
</html>
