<a href="{{ absoluteUri }}" class="community-create-repo-list-item-link">
  <img
    class="community-create-repo-list-item-avatar"
    src="{{ avatarSrcset.src }}"
    srcset="{{ avatarSrcset.srcset }}"
    height="{{ avatarSrcset.size }}"
    width="{{ avatarSrcset.size }}" />
  <span class="community-create-list-item-name">
    {{name}}
  </span>
</a>
