<a href="{{ absoluteUri }}">
  <img
    class=""
    src="{{ avatarSrcset.src }}"
    srcset="{{ avatarSrcset.srcset }}"
    height="{{ avatarSrcset.size }}"
    width="{{ avatarSrcset.size }}" />
  <span>
    {{name}}
  </span>
</a>
