<a href="{{ absoluteUri }}" class="community-create-people-list-item-link" target="_blank">
  <img
    class="community-create-people-list-item-avatar"
    src="{{ avatarSrcset.src }}"
    srcset="{{ avatarSrcset.srcset }}"
    height="{{ avatarSrcset.size }}"
    width="{{ avatarSrcset.size }}" />
  <div class="community-create-people-list-item-overlay">
    {{#if canRemove}}
      <button class="community-create-people-list-item-remove-button">
        <i class="icon-cancel"></i>
      </button>
    {{/if}}
  </div>
</a>
