<a href="#" class="trpWhite"><div class="trpDetailViewClose">x</div></a>

<div class="trpFileVersionThumbnail"><a href="#|{{previewUrl}}" class="link-preview">
{{#if useSpinner}}
  <img src="/images/2/troupe-ajax-guy-green.gif" width="180" height="180">
{{else}}
  <img src="{{fileIcon}}" width="180" height="180">
{{/if}}
</a></div>

<div class="trpItemDetails">
  <div class="trpFilename" title="{{fileName}}">{{fileName}}</div>
</div>

<div class="trpButtonGreen trpFileButton trpButtonDropdown">
  <div class="trpMainButton">
    <span><a href="{{url}}">Download</a></span>
    <div class="trpButtonMenu" id="file-preview-menu"><img src='{{cdn "images/2/icon-small-menu-white.png" }}' width="16" height="16"></div>
  </div>
  <div class="trpButtonMenuItems">
    <div class="trpButtonMenuItem"><a href="#|{{previewUrl}}">Preview</a></div>
    <div class="trpButtonMenuItem"><a href="#|{{versionsUrl}}">Versions</a></div>
    <div class="trpButtonMenuItem"><a href="#" class="link-delete trpHand">Delete</a></div>
  </div>
</div>

