{{^compactView}}
<div class="trpFileSmallThumbnail" title="{{fileName}}">
  <a href="#file/{{id}}">
    {{#if useSpinner}}
      <img src="/images/2/troupe-ajax-guy-green.gif" width="31" height="31">
    {{else}}
      <img src="{{fileIcon}}" width="31" height="31">
    {{/if}}
  </a>
</div>
{{/compactView}}

{{#compactView}}
<div class="trpFileViewItem" title="{{fileName}}">
  <a href="#preview/{{id}}">
    <div class="trpFileThumbnailContainer"><img src="{{fileIcon}}" width="87" height="87" class="trpFileThumbnail"></div>
  </a>
  <div class="trpFilename">{{fileName}}</div>
</div>
{{/compactView}}
