<div class="trpFileViewItem {{additionalClasses}}"  data-item-type="file" data-item-id="{{id}}">
	<div><a href="#" class="link-preview"><img src="{{fileIcon}}" width="180" class="trpFileThumbnail"></a></div>
	<div class="trpFileDetails">
		<div class="trpFilename" title="{{fileName}}">{{fileName}}</div>
		<div><img src="images/2/icon-file-action.png" class="trpFileActionMenuButton">
	</div>
	<div class="trpFileActionMenu">
		<div class="trpFileActionMenuTop"> </div>
		<div class="trpFileActionMenuBottom">
			<div class="trpFileActionMenuItem"><a href="{{url}}">Download</a></div>
			<div class="trpFileActionMenuItem"><a href="#" class="link-preview">Preview</a></div>
			<div class="trpFileActionMenuItem"><a href="#" class="link-versions">Versions</a></div>
			<div class="trpFileActionMenuItem"><a href="#" class="link-delete">Delete</a></div>
		</div>
	</div>
</div>

