<div class="trpFileViewItem">
	<div><a href="#" class="link-preview">
	{{#if useSpinner}}
<!-- 		<img src="/images/ajax-loader.gif" width="180" class="trpFileThumbnail"> -->
		<div class="trpFileThumbnail">
      <div class="spinnerContainer">
  			<div class="floatingCirclesG">
  				<div class="f_circleG" id="frotateG_01">
  				</div>
  				<div class="f_circleG" id="frotateG_02">
  				</div>
  				<div class="f_circleG" id="frotateG_03">
  				</div>
  				<div class="f_circleG" id="frotateG_04">
  				</div>
  				<div class="f_circleG" id="frotateG_05">
  				</div>
  				<div class="f_circleG" id="frotateG_06">
  				</div>
  				<div class="f_circleG" id="frotateG_07">
  				</div>
  				<div class="f_circleG" id="frotateG_08">
  				</div>
  			</div>
      </div>
		</div>
	{{else}}
		<img src="{{fileIcon}}" width="180" class="trpFileThumbnail">
	{{/if}}
	</a></div>
	<div class="trpFileDetails">
		<div class="trpFilename" title="{{fileName}}">{{fileName}}</div>
		<div><img src="images/2/icon-file-action.png" class="trpFileActionMenuButton">
	</div>
	<div class="trpFileActionMenu">
		<div class="trpFileActionMenuTop"> </div>
		<div class="trpFileActionMenuBottom">
			<div class="trpFileActionMenuItem"><a href="{{url}}">Download</a></div>
			<div class="trpFileActionMenuItem"><a href="#" class="link-preview">Preview</a></div>
			<div class="trpFileActionMenuItem"><a href="#" class="link-versions">Versions</a></div>
			<div class="trpFileActionMenuItem"><a href="#" class="link-delete">Delete</a></div>
		</div>
	</div>
</div>

