{{^compactView}}
<div class="trpFileSmallThumbnail" title="{{fileName}}">
  <a href="#file/{{id}}">
    {{#if useSpinner}}
      <img src="/images/2/troupe-ajax-guy.gif" width="32" height="32">
    {{else}}
      <img src="{{fileIcon}}" width="32" height="32">
    {{/if}}
  </a>
</div>
{{/compactView}}

{{#compactView}}
<div class="trpFileViewItem" title="{{fileName}}">
  <div class="trpFileThumbnailContainer"><img src="{{fileIcon}}" width="87" height="87" class="trpFileThumbnail"></div>
  <div class="trpFilename">{{fileName}}</div>
</div>
{{/compactView}}
