<div class="trpFileDetailClose"><a href="#">x</a></div>

<div class="trpFileVersionThumbnail"><a href="{{previewUrl}}" class="link-preview"><img src="{{fileIcon}}" width="180" height="180"></a></div>

<div class="trpFileDetails">
  <div class="trpFilename" title="{{fileName}}">{{fileName}}</div>
</div>

<div class="trpButtonGreen trpFileButton">
  <div class="trpMainButton">
    <div><a href="{{url}}">Download</a></div>
    <div class="trpButtonMenu" id="file-preview-menu"><img src='{{cdn "images/2/icon-small-menu-white.png" }}' width="16" height="16"></div>
  </div>
  <div class="trpButtonMenuItems" id="file-preview-menu-items">
    <div class="trpButtonMenuItem"><a href="{{dialogFragment previewUrl}}">Preview</a></div>
    <div class="trpButtonMenuItem"><a href="{{versionsUrl}}">Versions</a></div>
    <div class="trpButtonMenuItem"><a class="link-delete trpHand">Delete</a></div>
  </div>
</div>


<!-- <div class="trpFileActionMenu trpShadow">
  <div class="trpFileActionMenuTop"> </div>
  <div class="trpFileActionMenuBottom">
    <div class="trpFileActionMenuItem"><a href="{{url}}">Download</a></div>
    <div class="trpFileActionMenuItem"><a href="{{previewUrl}}" class="link-preview">Preview</a></div>
    <div class="trpFileActionMenuItem"><a href="{{versionsUrl}}" class="link-versions">Versions</a></div>
    <div class="trpFileActionMenuItem"><a href="#" class="link-delete">Delete</a></div>
  </div>
</div>
 -->