<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=IE9" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
  <meta charset="utf-8">

  <title>{{roomUri}} - Gitter</title>

  <style>

  @-webkit-keyframes pulsey {
      0% { opacity: 0.6; }
      50% { opacity: 1; }
      100% { opacity: 0.6; }
  }

  html.loading .trpContentPanel { background: url("{{ cdn 'images/2/gitter/logo-mark-grey-64.png' }}") center no-repeat; height: 90%; -webkit-animation: pulsey 2s ease-out; -webkit-animation-iteration-count: infinite;  }
  html.loading .trpContentPanel > * { visibility: hidden; }
  </style>
  <base target="_parent">
  <link rel="stylesheet" href='{{cdn "sprites/services.css" }}'>
  <link rel="stylesheet" href='{{cdn "bootstrap/css/archive.css" }}'>
  <link id="favicon" rel="shortcut icon" href='{{cdn "images/2/gitter/favicon5.png" }}'>
  {{>load_font_css}}
</head>
<body class="logged-out">
<div class="trpHeaderWrapper" id="header-wrapper">
  <div class="trpHeaderArea" id="header">
    {{{ prerenderView "js/views/app/tmpl/headerViewTemplate" }}}
  </div>
</div>

{{{body}}}
<div class="trpToolbar" id="toolbar-frame">
  <div class="gtrArchiveToolbarWrapper">
    <div id="archive-navigation" class="gtrArchiveNavigationWrapper"></div>
        {{#if user}}
        <a class="trpButtonMedium trpBtnGreen gtrCreateRoomButton" href="/{{troupeName}}">Go to live room</a>
        {{else}}
        <div class="trpLeftMenuContainer">
          <div class="trpLeftMenuLoggedOut">
            <div class="trpLeftMenuLogo">
              <div class="logo-container"></div>
            </div>
            <div class="trpLeftMenuInfo">
              <p>Gitter provides free public chat rooms for open source repositories on GitHub.</p>
              <br>
              <o>You can also use Gitter for private conversations amongst your organisation.</p>
            </div>
            <div class="trpLeftMenuSignup">
              <a href="/login/github?action=login&button=leftmenu-1" class="trpButtonBig trpBtnGreen gtrCreateRoomButton">Login with GitHub to start talking</a>
            </div>
          </div>
        </div>
        {{/if}}
  </div>
</div>


{{#if troupeContext}}
{{{ generateTroupeContext troupeContext }}}
{{/if}}

{{>require_wrapper}}

{{#if bootScriptName}}
{{{bootScript bootScriptName }}}
{{/if}}
</body>
</html>
