<div class="right-toolbar right-toolbar--collapsible" id="right-toolbar-layout">
  <header id="search-panel" class="right-toolbar__header">
    <div id="search-input" class="search-input-view">
      {{{ prerenderView "js/views/search/tmpl/search-input" }}}
    </div>
  </header>
  <div id="search-results" class="right-toolbar__body search-results" style="display: none;">
    {{{ prerenderView "js/views/search/tmpl/search" }}}
  </div>
  <div id="toolbar-top-content" class="right-toolbar__body">
    <div id="people-list">
      <div class="trpToolbarHeader" id="top-header">
        <div class="trpToolbarHeaderItem selected" id="people-header">
          People
        </div>
        {{#isRepo}}
          <div class="trpToolbarHeaderItem" id="info-header">
            Repo info
          </div>
        {{/isRepo}}
      </div>
      <div class="trpToolbarList">
        <div class="trpToolbarListContent" id="people-roster">
          <div>
            {{{ prerenderView 'js/views/people/tmpl/peopleCollectionView' }}}
          </div>
        </div>
        <div class="trpToolbarListContent" id="repo-info" style="display: none"></div>
        <div class="trpToolbarHeader" id="activity-header">ACTIVITY</div>
      </div>
    </div>

    <div class="trpTroupeRelatedContent" id="room-content">
      {{#unless activityEvents}}
        {{#if isAdmin}}
        <div id="activity-tip">
          <p>We haven't seen any activity yet. <a href="{{integrationsUrl}}" target="{{#if isNativeDesktopApp}} _blank {{else}} _top {{/if}}">Configure your integrations &rarr;</a></p>
        </div>
        {{/if}}
      {{/unless}}

      <div class="trpTroupeRelatedContentHolder" id="activity">
        <ul class="gtrActivityList">
          {{#each activityEvents}}
            <li>{{{ activityItemPrerender this }}}</li>
          {{/each}}
        </ul>
      </div>

    </div>
  </div>

  <footer id="zendesk-footer" class="right-toolbar__footer">
    <a href="http://gitter.zendesk.com" target="_blank" style="text-decoration: none">
      <div class="trpTroupeHelp">
        <div style="display: inline-block; vertical-align: middle; height: 24px"><img src='{{cdn "images/icon-help-black@2x.png"}}' width="24" height="24"/></div>
        <div class="trpActionsMenuLabel" style="margin-top: -4px">Support</div>
      </div>
    </a>
  </footer>
</div>
