<div class="room-card">

  <div class="room-card__body">
  <header class="room-card__header">
    <a href="/{{ uri }}?source=orgpage" target="_parent">
      <h3>{{#if private}}<i class="octicon octicon-lock"></i>{{/if}} {{ shortName }}</h3> <span class="room-card__usercount">{{userCount}} {{ pluralize userCount 'person' 'people'}}</span>
    </a>
  </header>

  <section class='room-card__description'>
    <small>{{ topic }}</small>
  </section>

  {{#if users}}
    <section class='room-card__users'>
      {{#each users}}
        <img class="room-card__user-avatar" src="https://avatars.githubusercontent.com/{{ username }}?s=80">
      {{/each}}
    </section>
  {{/if}}


  {{#if tags}}
    <section class='room-card__tags'>
      {{#each tags}}
        <div class="room-card__tag">{{this}}</div>
      {{/each}}
    </section>
  {{/if}}
  </div>


  <footer class="room-card__footer">
    <div class="room-card__footer-content">
      {{#if canEditTags}}
        <a class="btn terciary" href="#{{ id }}/tags" target="_parent">
          Edit tags
        </a>
      {{/if}}

      <a class="btn secondary" href="/{{ uri }}?source=orgpage" target="_parent">
        Join Room
      </a>
    </div>
  </footer>
</div>
