{{> topic_html_email_header }}

<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <h2>Yes! A new comment in a topic.</h2>
            <table>
              <tr>
                <td></td>
                <td>{{ notification.topic.title }}</td>
              </tr>
              <tr>
                <td class="avatar"><img {{{ avatarSrcSet notification.comment.user.avatarUrl 24 }}} class="avatar"></td>
                <td class="chat"><strong>{{ notification.comment.user.username }}</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>{{ notification.comment.body.html }}</td>
              </tr>
            </table>
            <br>
            <table>
              <tr>
                <td class="avatar">
                  <a href="{{ emailBasePath }}/{{ notification.comment.uri }}" style="text-decoration: none" class="button-green">Open topic</a>
                </td>
              </tr>
            </table>
            <br>
            <hr>
            <br>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

  </tr>
</table>
{{> topic_html_email_footer }}
