<div class="modal-content">
  <div id="request-form">
    <div class="trpModalTitle">
      {{#if isOneToOne}}
      Signup to connect
      {{else}}
      Ask to join
      {{/if}}
    </div>
    <div class="trpModalSubtext">
    {{#if isOneToOne}}
    You need an account to connect with this user.
    {{else}}
    You need to request access to this Troupe to join.
    {{/if}}
    </div>
    <div class="trpModalRequestForm">
     <!-- don't show the input fields if the user is already signed in, but do show the submit button -->
      <form id="requestAccess">
        <input type="hidden" name="appUri" value="{{appUri}}">
        {{^authenticated}}
            <input type="text" size="5" name="name" placeholder="Name" id="name" class="trpInput f-name requried">&nbsp;
            <input type="text" name="email" placeholder="Email address" id="email" value="{{email}}" class="trpInput f-email required email">
        {{/authenticated}}
        <div class="trpRequestSubmit">
         <button type="submit" class="trpModalButton trpButtonBig trpBtnGreen signin" id="submit-button">     {{#if isOneToOne}}
              Connect
              {{else}}
              Ask to join
              {{/if}}
        </button>
         <button type="button" class="trpModalButton trpButtonBig trpBtnGrey" id="cancel-button">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  {{^authenticated}}
    <!-- don't show this div if the user is already signed in -->
    <div class="trpModalExistingUsers" id="existing-user">
    Existing user? Click here to login.
    </div>
  {{/authenticated}}

</div>

<div class="modal-success">
  <div class="trpModalTitle">Request has been sent</div>
  <div class="trpModalSubtext">The members of the Troupe have been notified about your request. Once you've been accepted, you'll receive an email to let you know.<br><br>
    {{^authenticated}}
    In the mean-time, why not learn more about Troupe?<br><br>
      <a href="{{homeUrl}}" class="trpButtonBig trpBtnGreen">Show me more</a>
    {{/authenticated}}
      <a href="javascript:history.back();" class="trpModalButton trpButtonBig trpBtnGrey" id="cancel-button">Close</a>
  </div>
</div>

<div id="request-failed" class="trpModalFailure" style="display:none">
  <div class="trpModalTitle">Can't request access at the moment</div>
  <div class="trpModalBody">Something has gone wrong. Please try again in a minute.</div>
</div>

<div id="request_validation" class="trpModalFailure" style="display:none">
  <div class="trpModalFailureText" id="failure-text"></div>
</div>



