<div class="modal-content">
  <div class="trpH3">You've been invited to Troupe</div>
  {{#if compactView}}
    <div class="trpModalBody" style="margin-top: 12px">
       New users, click on the button below to immediately start chatting. 
    </div>

    <a href="{{path}}/signup" id="new-user-signup-button" class="trpButtonMedium trpBtnGreen" style="text-decoration: none; margin-bottom: 12px">New user - Start chatting</a>
    
    <div class="trpModalBody">
      <br>
        If you already have an account, please sign in to continue. <br>
        <a href="{{path}}/login" id="existing-user-login-button" class="trpButtonMedium trpBtnLightGrey" style="text-decoration: none; margin-top: 8px; margin-bottom: 12px">Existing user - Sign in</a>
    </div>
  {{else}}
    <div class="trpModalBody" style="margin-top: 12px">
      If you already have an account, please sign in.<br>
      New users, click on the <span class="trpGreen">green</span> button below to start chatting.
    </div>
    <br>
    <a href="{{path}}/signup" id="new-user-signup-button" class="trpButtonMedium trpBtnGreen" style="text-decoration: none; margin-bottom: 12px">New user - Start chatting</a>
    
    <a href="{{path}}/login" id="existing-user-login-button" class="trpButtonMedium trpBtnLightGrey" style="text-decoration: none; 
   margin-bottom: 12px">Existing user - Sign in</a>

  {{/if}}
</div>