{{> minibar_activity_indicators}}
<button class="room-menu-options__item-button" title="{{name}}">
  <img class="room-menu-options__item__avatar"
    src="{{avatarSrcset.src}}"
    srcset="{{avatarSrcset.srcset}}"
    width="{{avatarSrcset.size}}"
    height="{{avatarSrcset.size}}">
</button>
