{{#if isHome}}
  <button class="room-menu-options__item-button" title="All Conversations"><img class="room-menu-options__item__avatar" src='{{cdn "images/svg/menu/logo.svg"}}'></button>
{{/if}}

{{#if isSearch}}
  <button class="room-menu-options__item-button" title="Search Gitter"><img class="room-menu-options__item__avatar" src='{{cdn "images/svg/menu/search.svg"}}'></button>
{{/if}}

{{#if isFavourite}}
  <button class="room-menu-options__item-button" title="Your Favourite Conversations"><img class="room-menu-options__item__avatar" src='{{cdn "images/svg/menu/favourites.svg"}}'></button>
{{/if}}

{{#if isPeople}}
  {{#if mentions}}<span class="room-menu-options__item__mentions">{{mentions}}</span>{{/if}}
  {{#if unreadItems}}<span class="room-menu-options__item__unread-items">{{unreadItems}}</span>{{/if}}
  <button class="room-menu-options__item-button" title="Your One to One Conversations"><img class="room-menu-options__item__avatar" src='{{cdn "images/svg/menu/people.svg"}}'></button>
{{/if}}

{{#if isOrg}}
  {{#if mentions}}<span class="room-menu-options__item__mentions">{{mentions}}</span>{{/if}}
  {{#if unreadItems}}<span class="room-menu-options__item__unread-items">{{unreadItems}}</span>{{/if}}
  {{#if activity}}<span class="room-menu-options__item__activity">&nbsp;</span>{{/if}}
    <button class="room-menu-options__item-button" title="{{name}}"><img class="room-menu-options__item__avatar" src='{{avatarUrl}}'></button>
{{/if}}
