{{#if hasUnreadIndicators}}
  <div class="room-menu-options__item__unread-indicator-wrapper">
    <span class="room-menu-options__item__unread-indicator pulse-animation {{#if mentions}}has-mentions{{else if unreadItems}}has-unreads{{else if activity}}has-activity{{/if}}" aria-label="{{#if mentions}}You were mentioned in a {{name}} room{{else}}Unread activity in a {{name}} room{{/if}}">
      {{#if mentions}}
        {{mentions}}
      {{else if unreadItems}}
        {{unreadItems}}
      {{/if}}
    </span>
  </div>
{{/if}}

{{#if isHome}}
  <button class="room-menu-options__item-button" title="All Conversations">
    <img class="room-menu-options__item__avatar" src='{{cdn "images/svg/menu/home.svg"}}'>
  </button>
{{/if}}

{{#if isSearch}}
  <button class="room-menu-options__item-button" title="Search Gitter">
    <img class="room-menu-options__item__avatar" src='{{cdn "images/svg/menu/search.svg"}}'>
  </button>
{{/if}}

{{#if isFavourite}}
  <button class="room-menu-options__item-button" title="Your Favourite Conversations">
    <img class="room-menu-options__item__avatar" src='{{cdn "images/svg/menu/favourites.svg"}}'>
  </button>
{{/if}}

{{#if isPeople}}
  <button class="room-menu-options__item-button" title="Your One to One Conversations">
    <img class="room-menu-options__item__avatar" src='{{cdn "images/svg/menu/people.svg"}}'>
  </button>
{{/if}}

{{#if isOrg}}
  <button class="room-menu-options__item-button" title="{{name}}">
    <img class="room-menu-options__item__avatar"
      src='{{avatarSrcset.src}}'
      srcset="{{avatarSrcset.srcset}}"
      width="{{avatarSrcset.size}}"
      height="{{avatarSrcset.size}}">
  </button>
{{/if}}
